/*!
 *
 *  Copyright (c) David Bushell | http://dbushell.com/
 *
 */.highlight{background:#fff699;padding:0 0.5em}#outer-wrap{position:relative;overflow:hidden;width:100%}#inner-wrap{position:relative;width:100%}#top{z-index:100;position:relative;color:#fff;background:#242424}#top .block-title{margin:0;font-size:1.875em;line-height:1.2em;text-align:center;white-space:nowrap}#top .nav-btn{position:absolute;top:1.5em;left:1.875em}#main{background:#fff}#main .block{padding:2.625em 1.875em}footer[role="contentinfo"]{background:#ddd}#top .nav-btn{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}#nav .close-btn{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}#nav .block-title{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}#nav ul{text-align:center;white-space:nowrap}#nav li{display:inline-block}#nav li:last-child{border-right:none}#nav li a{padding:0.42857em 0.85714em}
