﻿@model HotelWebsite.Models.Media.AlbumModel

@{
    ViewBag.Title = @Model.Name + " | Heidel House Resort and Spa";

    var domain = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);


    var ogImage = Model.Photos.FirstOrDefault().ImageUrl;
    if (Model.StartingIndex > 0) ogImage = Model.Photos.ToList()[Model.StartingIndex].ImageUrl;
    
}

@section header {
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52fd29ff05fbc1e0"></script>    
    <link rel="stylesheet" type="text/css" href="~/Content/css/photo-gallery.css" />
    <meta property="og:image" content="@ogImage" />
}

<!-- PARENT -->
<div class="mightyslider_carouselModern_skin clearfix" id="showcase">
    <!-- FRAME -->
    <div class="frame" data-mightyslider="width: 1170,height: 350">
            <!-- SLIDEELEMENT -->
            <ul class="slide_element">
                <!-- SLIDES -->
                <!-- Supports media queries for images, load mobile first method-->
                <!-- First Image should be ?w=480-->
                @foreach(var photo in @Model.Photos) {
                    <li class="slide" data-mightyslider="cover: [
                            ['@(photo.ImageUrl)?width=480','(max-width:480px)'],
                            ['@(photo.ImageUrl)?width=1500','(max-width:4000px)']
                        ],
                        ID: 'ID_@photo.Id',
                        title: '@Server.HtmlEncode(@photo.AltText)',
                        desc: '@Server.HtmlEncode(photo.Caption)'">
                    </li>
                }
               
                <!-- END OF SLIDES -->
            </ul>
            <!-- END OF SLIDEELEMENT -->
            <div class="details">
                <div>
                    <div id="title"></div>
                    <div id="desc"></div>
                    <div id="gallery-social">
                            <span class="social-sharing__text">Share This:</span>
                            <a class="addthis_button_facebook">
                                <figure class="social-sharing__icon">
                                    <img src="~/img/social-icons/facebook.svg" alt="Facebook Icon" />
                                </figure>
                            </a>
                            <a class="addthis_button_twitter">
                                <figure class="social-sharing__icon">
                                    <img src="~/img/social-icons/twitter.svg" alt="twitter icon" />
                                </figure>
                            </a>
                            <a class="addthis_button_pinterest_share">
                                <figure class="social-sharing__icon">
                                    <img src="~/img/social-icons/pinterest.svg" alt="Pinterest Share Icon" />
                                </figure>
                            </a>
                            <a class="addthis_button_google_pluone_share">
                                <figure class="social-sharing__icon">
                                    <img src="~/img/social-icons/googleplus.svg" alt="Google+ Share Icon" />
                                </figure>
                            </a>
                            <a class="addthis_button_email">
                                <figure class="social-sharing__icon">
                                    <img src="~/img/social-icons/email.svg" alt="Email Share Icon" />
                                </figure>
                            </a>
                    </div>
                </div>
             </div>
        </div>
    <!-- END OF FRAME -->
    <div id="#showcase_prev"></div>
    <div id="#showcase_next"></div>
    
</div>
<!-- END OF PARENT -->

@section scripts {
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            var startingSlideIndex = @(Model.StartingIndex);

            var isTouch = !!('ontouchstart' in window),
                clickEvent = isTouch ? 'tap' : 'click';

            (function () {
                // Global slider's DOM elements
                var $carousel = $('#showcase'),
                    $frame = $('.frame', $carousel),
                    $title = $('div.details #title', $carousel),
                    $desc = $('div.details #desc', $carousel);

                // Calling mightySlider via jQuery proxy
                $frame.mightySlider({
                    speed: 2000,
                    easing: 'easeOutExpo',
                    autoScale: 1,
                    viewport: 'fill',
                    preloadMode: 'nearby',
                    
                    startAt: startingSlideIndex,

                    // Navigation options
                    navigation: {
                        activateOn: clickEvent,
                        slideSize: '70%'
                    },

                    // Buttons options
                    buttons: {
                        prev: $('#showcase_prev'),
                        next: $('#showcase_next')
                    },

                    // Dragging options
                    dragging: {
                        swingSpeed: 0.1
                    },

                    commands: {
                        //pages: 1,
                        buttons: 1
                    }

                },

                // Register callbacks to the events
                {
                    // Register mightySlider :active event callback
                    active: function (name, index) {
                        $title.html(this.slides[index].options.title);
                        $desc.html(this.slides[index].options.desc);
                        
                        var shareUrl = '@(domain + Url.Action("Album", new { Id = Model.Id }))?photo=' + this.slides[index].options.ID.replace('ID_', '');

                        addthis.update('share', 'url', shareUrl); 
                        addthis.ready(); // This will re-render the box.
                    }
                });
            })();
        });
</script>


}