﻿<section class="full-slider--wrapper">
    <div class="main-slideshow">
        <div id="fs-slider" class="mightyslider_windows8_skin">
            <div class="frame" data-mightyslider="width:1500, height:500">
                <div class="slide_element">
                    @if (Model != null && Model.Photos != null && Model.Photos.Count > 0)
                    {
                        foreach (var photo in Model.Photos)
                        {
                            <div class="slide" data-mightyslider="cover: [
                                 ['@(photo.ImageUrl)?width=541&height=800&mode=crop'],
                                 ['@(photo.ImageUrl)?width=1275&height=425&mode=crop', '(min-width:600px)' ],
                                 ['@(photo.ImageUrl)', '(min-width:1100px)' ]
                                 ],
                                 caption: '<span class=&quot;slider__header&quot;>@Server.HtmlEncode(@photo.AltText)</span><span class=&quot;slider__header--sub&quot;>@Server.HtmlEncode(photo.Caption)</span>' ">
                        </div>
                        }
                    }
                </div>
            </div><!-- 1500x500 541x400 / 1275x425 / 1500x716 -->
            <div class="details">
                <div id="caption">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</section>




               
            