﻿@model IEnumerable<HotelWebsite.Models.Media.AlbumModel>

@{
    ViewBag.Title = "Heidel House Images |Heidel House Resort & Spa| Green Lake, Wisconsin";
    ViewBag.SeoPageDescription = "Tour historic Heidel House Resort and Spa in Green Lake, Wisconsin through an interactive image gallery and picture yourself on a lakeside getaway.";
}

<section class="content1020__wrapper one-column__content no-header">
    <div class="fancy-intro"> 
        <h1 class="title-line__header">Photo Gallery</h1>
    </div>
    <p></p>
    <div class="photo-albums">
        @if (Model != null)
        {
            foreach (var album in Model)
            {
            <div class="album">
                <a href="@Url.Action("album", new { id = @album.Id })" class="album__link">
                    <figure class="album__figure">
                        <img data-original="@(album.CoverPhotoUrl)?width=200&height=250&mode=crop" class="lazy" alt="@album.Name" />
                        <figcaption class="album__figcaption">
                            @album.Name
                        </figcaption>
                    </figure>
                </a>
            </div>
            }
        }
    </div>
</section>
