﻿@{
    ViewBag.Title = "Heidel House Videos |Heidel House Resort & Spa| Green Lake, Wisconsin";
    ViewBag.SeoPageDescription = "Tour historic Heidel House Resort and Spa in Green Lake, Wisconsin through an immersive video gallery and picture yourself on a Wisconsin getaway.";
}

@section header {
    <link rel="stylesheet" type="text/css" href="~/Content/css/reponsive-video-player.css" />
}

<section class="content1020__wrapper one-column__content no-header"> 
    <div class="interior">
        <h1 class="interior__header">Video Gallery</h1>
    </div>
    <div class="interior-editor">
        <p>Looking for a vacation destination or simply taking a business trip? Whether it may be for business or for pleasure, learn more about our property and surrounding area with a video before you book.</p>
    </div>
    <div id="rp_plugin" class="video-player">
        <div id="rp_videoContainer">
            <div id="rp_video">
            </div>
        </div>
        <div id="rp_playlistContainer">
            <ul id="rp_playlist">
                <!--<li><a href="https://www.youtube.com/watch?v=ILziHvCqsuU"></a></li>
                <li><a href="https://www.vimeo.com/62910962"></a></li>
                <li><a href="[insert youtube or vimeo link here]"></a></li>
                <li><a href="[insert youtube or vimeo link here]"></a></li>
                <li><a href="[insert youtube or vimeo link here]"></a></li>-->
            </ul>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="~/Scripts/vendor/jquery.responsivePlaylist.js"></script>
    <script type="text/javascript">
        $(function() {
            $("ul#rp_playlist").responsiveplaylist({
                autoPlay: false,
                autoPlayOnLoad: false,
                allowFullScreen: false,
                deepLinks: true,
                onChange: function(){},
                start: 1,
                youtube: {
                    autohide: '2',
                    rel: '1',
                    theme: 'dark',
                    color: 'white',
                    showinfo: '1',
                    vq: 'hd720'
                },
                //vimeo: {
                //    title: '1',
                //    byline: '1',
                //    portrait: '1',
                //    color: '00adef'
                //},
                 youtubeUsername: 'HeidelHouseResort',
                // vimeoUsername: 'username',
                // youtubePlaylist: 'XXXXXXXXXXXXXXXXXX',
                // vimeoAlbum: 'XXXXXXX',
                holderId: 'rp_video',
                secure: 'true'
            });
        });
    </script>
}