﻿<!-- Interior One Column with No Header Image -->

<!-- Mobile Utility Navigation-->
@Html.Partial("_Mobile-Utility-Nav")

<!-- Content -->
<section class="content1020__wrapper one-column__content no-header">
    @Html.Partial("_Breadcrumbs")
    <!--Content can go here Typically Title with Copy-->
    <div class="fancy-intro">
        <div class="title__section" id="scroll-point__js">
            <h2 class="tag-line__header"><span class="title__section">Milwaukee</span></h2>
            <h1 class="title-line__header"><span class="title__section">Area Attractions</span></h1>
        </div>
    </div>
    <div class="interior-editor">
        <p>The Pfister Hotel's downtown Milwaukee location is ideal for experiencing the city's many delights.</p>
    </div>
    
    <div id="map"></div>
    <div class="map-locations">
        <ul id="map-locations" class="map-locations__list"></ul>
    </div>
    
    <div class="interior-editor poi__copy">
        <div><strong><span style="line-height: 1.6em;">Sporting Events</span></strong></div>
        <div><span style="line-height: 1.6em;">Milwaukee is home to a number of successful and legendary sports teams, from the MLB’s Milwaukee Brewers, to the NBA’s Milwaukee Bucks, sports fans will feel an affinity for Milwaukee.&nbsp;</span></div>
        <div>
            <br>
            Visitors can catch a baseball game at <a class="map-locations__link" id="poi_6" href="javascript:void(0);" onmouseover="highlightMarker(6);" onmouseout="revertMarker(6);">Miller Park</a>, where the Milwaukee Brewers play in one of the league’s few retractable-dome stadium, an architectural marvel that lets the Brewers take the field rain or shine. Visit the <a class="map-locations__link" id="poi_7" href="javascript:void(0);" onmouseover="highlightMarker(7);" onmouseout="revertMarker(7);">BMO Harris Bradley Center</a> for major sports and entertainment events including the cutting edge ice hockey of the AHL’s Milwaukee Admirals&nbsp;and the NBA’s Milwaukee Bucks. Head on over to the US Cellular Arena and catch some kicks with the Milwaukee Wave.
        </div>

        <div>&nbsp;</div>

        <div><strong><span style="line-height: 1.6em;">Museums</span></strong></div>

        <div><span style="line-height: 1.6em;">Milwaukee is home to noted museums including the <a class="map-locations__link" id="poi_8" href="javascript:void(0);" onmouseover="highlightMarker(8);" onmouseout="revertMarker(8);">Milwaukee Public Museum</a>, <a class="map-locations__link" id="poi_10" href="javascript:void(0);" onmouseover="highlightMarker(10);" onmouseout="revertMarker(10);">Discovery World Museum</a>, <a class="map-locations__link" id="poi_11" href="javascript:void(0);" onmouseover="highlightMarker(11);" onmouseout="revertMarker(11);">Betty Brinn Children’s Museum</a>, Humphrey IMAX Theater and the very popular Milwaukee Art Museum, which welcomes nearly 400,000 visitors each year.</span></div>

        <div>&nbsp;</div>

        <div><a class="map-locations__link" id="poi_9" href="javascript:void(0);" onmouseover="highlightMarker(9);" onmouseout="revertMarker(9);"><strong>Milwaukee Art Museum</strong></a></div>

        <div><span style="line-height: 1.6em;">Set along the lakefront, the Milwaukee Art Museum’s far-reaching holdings include more than 25,000 works spanning antiquity to the present day. With a history dating back to 1888, the Museum houses a collection with strengths in 19th- and 20th-century American and European art, contemporary art, American decorative arts, and folk and self-taught art. The Museum includes the Santiago Calatrava-designed Quadracci Pavilion, named by Time magazine as “Best Design of 2001.”</span></div>

        <div>&nbsp;</div>

        <div><strong>Theatres</strong></div>

        <div><span style="line-height: 1.6em;">Milwaukee boasts a theater district with a lively calendar of performing arts events to rival any city. Take your pick from Shakespeare and Broadway, to African dance and international superstars at the new Milwaukee Theatre.</span></div>

        <div>&nbsp;</div>

        <div><a class="map-locations__link" id="poi_12" href="javascript:void(0);" onmouseover="highlightMarker(12);" onmouseout="revertMarker(12);">MILWAUKEE Theatre</a></div>

        <div>Milwaukee’s newest addition transformed a historic building into a legendary attraction.</div>

        <div>&nbsp;</div>

        <div><a class="map-locations__link" id="poi_13" href="javascript:void(0);" onmouseover="highlightMarker(13);" onmouseout="revertMarker(13);">PABST Theater</a></div>

        <div>From jazz and blues to World music, this venerable theater has it all.</div>

        <div>&nbsp;</div>

        <div><a class="map-locations__link" id="poi_14" href="javascript:void(0);" onmouseover="highlightMarker(14);" onmouseout="revertMarker(14);">RIVERSIDE Theater</a></div>

        <div>This downtown theater hosts everything from pop to renowned touring productions.</div>

        <div>&nbsp;</div>

        <div><a class="map-locations__link" id="poi_15" href="javascript:void(0);" onmouseover="highlightMarker(15);" onmouseout="revertMarker(15);">Marcus Center for Performing Arts</a></div>

        <div>Ballet, musicals and so much more make this another Milwaukee favorite.</div>

        <div>&nbsp;</div>

        <div><strong>Festivals</strong></div>

        <div><span style="line-height: 1.6em;">Milwaukee is famed for its festivals, especially during summer. The <a class="map-locations__link" id="poi_16" href="javascript:void(0);" onmouseover="highlightMarker(16);" onmouseout="revertMarker(16);">Summerfest Grounds (Henry W. Maier Festival Park)</a> host the summer’s biggest parties, and no matter what time you arrive, you’ll hear the buzz about the festivities. After all, Summerfest is the world’s largest music festival featuring 11 days of renowned entertainment on 12 music stages, as well as great food and drink. Top acts play the open-air Marcus Amphitheater with views of Lake Michigan .</span></div>

        <div>&nbsp;</div>

        <div>Celebrate Milwaukee’s rich heritage, including German Fest, Irishfest (the world’s largest Irish festival) and Indian Summer (the nation’s largest Native American festival). As you dine on Wisconsin treats such as beer-cooked “brats” (bratwurst sausages), seasonal brews, and fresh-picked corn over lakefront views, you’ll feel the legendary magic of what is proudly called the world’s largest music festival.</div>

        <div>&nbsp;</div>

        <div>Learn more about Milwaukee ’s summer festivals and annual events.</div>

        <div>&nbsp;</div>

        <div><strong>Nightlife</strong></div>

        <div><span style="line-height: 1.6em;">You can dance the night away, take a sunset cruise on the Milwaukee River, or just socialize with friends at Milwaukee’s watering holes. Capitalizing on Milwaukee’s rich history rooted in beer, there is a bar for every taste, from traditional Irish pubs, to German-style beer halls to more modern upscale clubs. Only a block away from the hotel is <a class="map-locations__link" id="poi_17" href="javascript:void(0);" onmouseover="highlightMarker(17);" onmouseout="revertMarker(17);">Milwaukee’s Cathedral Square Park</a>, host of the weekly summer Jazz in the Park festival series and more. Guests will find that Milwaukee’s vibrant nightlife thrives year-round but truly shows the spectacle of this great city during the summer months.</span></div>
    </div>
</section>

<!-- Widget Zone -->
<div id="content-bottom" data-cms-zone="contentBottom"></div>

<!-- End Widget Zone -->

<!-- End Content -->


@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDtna3XzlLOVj-XNlMiLBEhl378NDszaoM"></script>
    <script>
    var mapPoints = [
        ['Mason Street Grill', 43.039295, -87.905619, 1, 'Dining', '<a href="https://www.google.com/maps/place/Mason+Street+Grill/@("@")43.039899,-87.90557,17z/data=!3m1!4b1!4m2!3m1!1s0x8805190831a15e91:0x7c45573971d7d02a" target="_blank">Pfister Hotel, Lobby Level</a>'],
            ['WELL Spa + Salon', 43.039295, -87.905619, 1, 'Relaxation', '<a href="https://www.google.com/maps/place/Well+Spa+%2B+Salon/@("@")43.039433,-87.905736,17z/data=!3m1!4b1!4m2!3m1!1s0x880519a78bddde21:0x17082cbc44bf1a50" target="_blank">Pfister Hotel, Lobby Level</a>'],
            ['BLU', 43.039295, -87.905619, 1, 'Dining', '<a href="https://www.google.com/maps/place/Blu/@("@")43.039433,-87.905736,17z/data=!3m1!4b1!4m2!3m1!1s0x8805190826f82871:0x8833ffa028ec15f3" target="_blank">Pfister Hotel, 23rd Floor</a>'],
            ['Kil@wat', 43.041888, -87.910735, 1, 'Dining', '<a href="https://www.google.com/maps/place/Kil@("@")Wat/@("@")43.041888,-87.910735,17z/data=!3m1!4b1!4m2!3m1!1s0x8805190a4d4cec3d:0xcf9620442738e572" target="_blank">139 East Kilbourn Ave., Milwaukee, WI 53203</a>'],
        ['Miller Time Pub and Grill', 43.038781, -87.917611, 1, 'Dining', '<a href="https://www.google.com/maps/place/Miller+Time+Pub+%26+Grill/@("@")43.038622,-87.91782,17z/data=!3m1!4b1!4m2!3m1!1s0x8805199e72884319:0xcb986545d9a6f8da" target="_blank">509 W. Wisconsin Ave., Milwaukee, WI 53203</a>'],
        ['Milwaukee ChopHouse', 43.038322, -87.9176233, 1, 'Dining', '<a href="https://www.google.com/maps/place/Milwaukee+Chophouse/@("@")43.038279,-87.91784,17z/data=!3m1!4b1!4m2!3m1!1s0x8805199e6a81070b:0x3f0dd3916aa38a9f" target="_blank">509 W. Wisconsin Ave., Milwaukee, WI 53203</a>'],
        ['Miller Park', 43.027978, -87.97115, 1, 'Sports', '<a href="https://www.google.com/maps/place/Miller+Park/@("@")43.0274245,-87.9721409,17z/data=!3m1!4b1!4m2!3m1!1s0x88051a59aafe73f5:0xc1b447de9450d0b4" target="_blank">1 Brewers Way, Milwaukee, WI 53214</a>'],
        ['BMO Harris Bradley Center', 43.043728, -87.917166, 1, 'Sports', '<a href="https://www.google.com/maps/place/BMO+Harris+Bradley+Center/@("@")43.043728,-87.917166,17z/data=!3m1!4b1!4m2!3m1!1s0x880519748afe3d71:0xc34841a20c7519a" target="_blank">1001 N 4th St., Milwaukee, WI 53203</a>'],

        ['Milwaukee Public Museum', 43.040738, -87.921735, 1, 'Museum', '<a href="https://www.google.com/maps/place/Milwaukee+Public+Museum/@("@")43.040738,-87.921735,17z/data=!3m1!4b1!4m2!3m1!1s0x88051977ce4f0de5:0x5bc1d0826c2df7ed" target="_blank">800 W. Wells St., Milwaukee, WI 53233</a>'],
        ['Milwaukee Art Museum', 43.040073, -87.897058, 1, 'Museum', '<a href="https://www.google.com/maps/place/Milwaukee+Art+Museum/@("@")43.040073,-87.897058,17z/data=!3m1!4b1!4m2!3m1!1s0x880519008f6a71c5:0xded31797fd5a229d" target="_blank">700 N Art Museum Dr., Milwaukee, WI 53202</a>'],


        ['Discovery World Museum', 43.036812, -87.896366, 1, 'Museum', '<a href="https://www.google.com/maps/place/Discovery+World/@("@")43.036812,-87.896366,17z/data=!3m1!4b1!4m2!3m1!1s0x88051829dfb1f1ff:0x20b154f9fd7d130d" target="_blank">500 N Harbor Dr., Milwaukee, WI 53202</a>'],
        ['Betty Brinn Children’s Museum', 43.03907, -87.899818, 1, 'Museum', '<a href="https://www.google.com/maps/place/Betty+Brinn+Children&rsquo;s+Museum/@("@")43.03907,-87.899818,17z/data=!3m1!4b1!4m2!3m1!1s0x8805190754969827:0x97979f406a8c77ff" target="_blank">929 E. Wisconsin Ave., Milwaukee, WI 53202</a>'],

        ['Milwaukee Theatre', 43.042238, -87.918184, 1, 'Entertainment', '<a href="https://www.google.com/maps/place/The+Milwaukee+Theatre/@("@")43.042238,-87.918184,17z/data=!3m1!4b1!4m2!3m1!1s0x8805197449e84d89:0xad0a459aa52d1b57" target="_blank">500 W. Kilbourn Ave., Milwaukee, WI 53203</a>'],
        ['Pabst Theater', 43.041104, -87.910361, 1, 'Entertainment', '<a href="https://www.google.com/maps/place/The+Pabst+Theater/@("@")43.0410788,-87.9100821,17z/data=!3m1!4b1!4m2!3m1!1s0x8805190a46181f93:0x88803bcc5707910b" target="_blank">144 E. Wells St., Milwaukee, WI 53203</a>'],
        ['Riverside Theater', 43.038888, -87.910881, 1, 'Entertainment', '<a href="https://www.google.com/maps/place/The+Riverside+Theater/@("@")43.038888,-87.910881,17z/data=!3m1!4b1!4m2!3m1!1s0x880519a085679503:0x1f09d94cac18cb66" target="_blank">116 W. Wisconsin Ave., Milwaukee, WI 53203</a>'],
        ['Marcus Center for Performing Arts', 43.042729, -87.911174, 1, 'Entertainment', '<a href="https://www.google.com/maps/place/Marcus+Center+For+The+Performing+Arts/@("@")43.042729,-87.911174,17z/data=!3m1!4b1!4m2!3m1!1s0x8805190b094600dd:0xe88b44c70b41982d" target="_blank">929 N. Water St., Milwaukee, WI 53202</a>'],
        ['Henry W. Maier Festival Park', 43.028796, -87.898538, 1, 'Entertainment', '<a href="https://www.google.com/maps/place/Henry+W.+Maier+Festival+Park/@("@")43.0289404,-87.8999811,19z/data=!3m1!4b1!4m2!3m1!1s0x880519adc25be295:0xe269c47db795bb90" target="_blank">200 N. Harbor Dr., Milwaukee, WI 53202</a>'],

        ['Cathedral Square Park', 43.04196, -87.904977, 1, 'Park', '<a href="https://www.google.com/maps/place/Cathedral+Square/@("@")43.04196,-87.904977,17z/data=!3m1!4b1!4m2!3m1!1s0x880519088958c0cb:0x3da08e327a859393" target="_blank">520 E. Wells St., Milwaukee, WI 53202</a>'],
        ['Harley-Davidson Museum', 43.031113, -87.916121, 1, 'Museum', '<a href="https://www.google.com/maps/place/Harley-Davidson+Museum%C2%AE/@("@")43.031113,-87.916121,17z/data=!3m1!4b1!4m2!3m1!1s0x88051999bd9a061f:0xd7d05eb27f5f327f" target="_blank">400 W. Canal St., Milwaukee, WI 53201</a>'],

        ['Milwaukee REP', 43.040958, -87.911125, 1, 'Entertainment', '<a href="https://www.google.com/maps/place/Milwaukee+Repertory+Theater/@("@")43.040958,-87.911125,17z/data=!3m1!4b1!4m2!3m1!1s0x8805190a58882a01:0xf15d8f97cc6302e7" target="_blank">108 E. Wells St. Milwaukee, WI 53202'],


        ['Lakefront Brewery', 43.054726, -87.905288, 1, 'Bar', '<a href="https://www.google.com/maps/place/Lakefront+Brewery,+Inc./@("@")43.054726,-87.905288,17z/data=!3m1!4b1!4m2!3m1!1s0x8805191715356091:0x7aae7f9312c65eec" target="_blank">1872 N Commerce St. Milwaukee, WI 53212</a>'],
        ['MillerCoors Brewery', 43.054726, -87.905288, 1, 'Bar', '<a href="https://www.google.com/maps/place/Miller+Brewing+Co/@("@")43.054726,-87.905288,14z/data=!4m5!1m2!2m1!1smiller+coors!3m1!1s0x0:0xe4ce8199e68f0ddd" target="_blank">3939 W. Highland Blvd. Milwaukee, WI 53208</a>'],
        ['Great Lakes Distillery', 43.026791, -87.918658, 1, 'Bar', '<a href="https://www.google.com/maps/place/Great+Lakes+Distillery+LLC/@("@")43.026791,-87.918658,17z/data=!3m1!4b1!4m2!3m1!1s0x88051996cc1e2cb3:0x6167b0959c91b72e" target="_blank">616 W Virginia St. Milwaukee, WI 53204</a>'],

        ['Veterans Park', 43.055363, -87.8816841, 1, 'Park', '<a href="https://www.google.com/maps/place/Veterans+Park,+Milwaukee,+WI/@("@")43.055363,-87.881684,14z/data=!3m1!4b1!4m2!3m1!1s0x880518e61197e4b7:0xddf1cb3ec53ea1ff" target="_blank">Milwaukee</a>'],
        ['Bradford Beach', 43.062202, -87.872987, 1, 'Park', '<a href="https://www.google.com/maps/place/Bradford+Beach/@("@")43.062202,-87.872987,17z/data=!3m1!4b1!4m2!3m1!1s0x880518b03245bdd3:0x17d492b09e7a9e2a" target="_blank">N. Lincoln Memorial Dr. Milwaukee, WI 53211</a>']

    ];

    var infoWindows = [];
    var markers = [];

    function initialize() {
        var mapStyles = [{
            featureType: "poi.business",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
        }];
        var mapOptions = {
            zoom: 15,
            center: new google.maps.LatLng(43.039295, -87.905619),
            panControl: false,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL,
                position: google.maps.ControlPosition.TOP_RIGHT
            },
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            overviewMapControl: false,
            styles: mapStyles
        };

        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        setMarkers(map, mapPoints);

        var baseMarker = new google.maps.Marker({
            position: new google.maps.LatLng(43.039295, -87.905619),
            MAX_ZINDEX: 100,
            zIndex: 100,
            map: map,
            title: 'The Pfister Hotel',
            icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
            //description: 'The Pfister Hotel in downtown Milwaukee is a historic landmark with luxurious accommodations and world class service.'
            description: '<div id="content" class="poi"><div id="siteNotice" class="poi_sitenotice"></div>' +
                              '<h1 id="firstHeading" class="firstHeading poi__heading">The Pfister Hotel</h1>' + //name
                              '<div id="bodyContent" class="poi__body">' +
                              '<p class="poi__category">Address</p>' + //category
                              '<p class="poi__address">Description</p>' + //address
                              '</div></div>'
        });
        baseMarker.setZIndex(100);
        attachInfoWindow(null, map, baseMarker);
    }

    function setMarkers(map, locations) {
        for (var i = 0; i < locations.length; i++) {
            var point = locations[i];
            var latLng = new google.maps.LatLng(point[1], point[2]);
            var marker = new google.maps.Marker({
                position: latLng,
                zIndex: 1,
                MAX_ZINDEX: 1,
                icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    //scale: 5

                    fillColor: "tan",
                    fillOpacity: 1,
                    scale: 2,
                    strokeColor: "red",
                    strokeWeight: 10
                },
                map: map,
                title: point[0],
                description: '<div id="content" class="poi"><div id="siteNotice" class="poi_sitenotice"></div>' +
                              '<h1 id="firstHeading" class="firstHeading poi__heading">' + point[0] + '</h1>' + //name
                              '<div id="bodyContent" class="poi__body">' +
                              '<p class="poi__category">' + point[4] + '</p>' + //category
                              '<p class="poi__address">' + point[5] + '</p>' + //address
                              '</div></div>'
            });
            marker.setZIndex(1);

            // attach item to list
            $('#map-locations').append('<li class="map-locations__item"><a class="map-locations__link" id="marker_' + i + '" href="javascript:void(0);" onmouseover="highlightMarker(' + i + ');" onmouseout="revertMarker(' + i + ');">' + point[0] + '</a></li>');

            attachInfoWindow(i, map, marker);
            markers.push(marker);
        }
    }

    function attachInfoWindow(i, map, marker) {
        var infoWindow = new google.maps.InfoWindow(
            {
                content: marker.description,
            });

        infoWindows.push(infoWindow);

        var clickFunction = function () {
            closeAllInfoWindows();
            infoWindow.open(map, marker);
            $('html, body').animate({ scrollTop: $('#scroll-point__js').offset().top }, 1000);
        }
        google.maps.event.addListener(marker, 'click', clickFunction);
        $('#marker_' + i).click(clickFunction);
        $('#poi_' + i).click(clickFunction);

    }

    function closeAllInfoWindows() {
        for (var i = 0; i < infoWindows.length; i++) {
            infoWindows[i].close();
        }
    }

    function highlightMarker(index) {
        var marker = markers[index];

        var icon = marker.icon;
        //icon.fillColor = "#aa0000";
        icon.scale = 2;
        icon.strokeWeight = 20;
        marker.setIcon(icon);
    }

    function revertMarker(index) {
        var marker = markers[index];

        var icon = marker.icon;
        icon.fillColor = "gray";
        icon.scale = 2;
        icon.strokeWeight = 10;
        marker.setIcon(icon);
    }

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp'
            + '&'
            + '&callback=initialize';
        document.body.appendChild(script);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>


}