﻿
<div class="similar-packages">
    <ul class="similar-packages__list">
        <li class="similar-packages__item">
            <figure class="similar-packages__figure">
                <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                    <img src="~/img/temp-grid-image.jpg">
                </a>
                <figcaption class="similar-packages__figcaption">
                    <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                        Golf
                    </a>
                </figcaption>
            </figure>
        </li>
        <li class="similar-packages__item">
            <figure class="similar-packages__figure">
                <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                    <img src="~/img/temp-grid-image.jpg">
                </a>
                <figcaption class="similar-packages__figcaption">
                    <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                        Golf
                    </a>
                </figcaption>
            </figure>
        </li>
        <li class="similar-packages__item">
            <figure class="similar-packages__figure">
                <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                    <img src="~/img/temp-grid-image.jpg">
                </a>
                <figcaption class="similar-packages__figcaption">
                    <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                        Golf
                    </a>
                </figcaption>
            </figure>
        </li>
        <li class="similar-packages__item">
            <figure class="similar-packages__figure">
                <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                    <img src="~/img/temp-grid-image.jpg">
                </a>
                <figcaption class="similar-packages__figcaption">
                    <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                        Golf
                    </a>
                </figcaption>
            </figure>
        </li>
        <li class="similar-packages__item">
            <figure class="similar-packages__figure">
                <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                    <img src="~/img/temp-grid-image.jpg">
                </a>
                <figcaption class="similar-packages__figcaption">
                    <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                        Golf
                    </a>
                </figcaption>
            </figure>
        </li>
        <li class="similar-packages__item">
            <figure class="similar-packages__figure">
                <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                    <img src="~/img/temp-grid-image.jpg">
                </a>
                <figcaption class="similar-packages__figcaption">
                    <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                        Golf
                    </a>
                </figcaption>
            </figure>
        </li>
        <li class="similar-packages__item">
            <figure class="similar-packages__figure">
                <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                    <img src="~/img/temp-grid-image.jpg">
                </a>
                <figcaption class="similar-packages__figcaption">
                    <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                        Golf
                    </a>
                </figcaption>
            </figure>
        </li>
        <li class="similar-packages__item">
            <figure class="similar-packages__figure">
                <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                    <img src="~/img/temp-grid-image.jpg">
                </a>
                <figcaption class="similar-packages__figcaption">
                    <a class="similar-packages__link" href="https://assets.marcusapps.com/files/outlets/pfister/PDF/Events_Menu_Breakfast.pdf" target="_blank">
                        Golf
                    </a>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>