﻿<section class="interior-gallery__section">
    <div class="media-gallery__wrapper image-gallery--interior">
        <div class="columns">
            <div class="c3x6 c-marginRt">
                <h3 class="section__header">See and be Seen</h3>
                <div class="featured__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ligula massa. Donec volutpat elit at est aliquam ultrices. Ut rhoncus sodales ullamcorper.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ligula massa. Donec volutpat elit at est aliquam ultrices. Proin sed semper risus. Ut condimentum consequat mauris. Quisque viverra suscipit odio eu porttitor. </p>
                </div>
                <a href="#" class="btn btn--color1 btn--arrow">Button</a>
            </div>
            <div class="c3x6 c-marginLft">
                <figure class="copy-image__figure">
                    <img src="~/img/multiple-activities-image.png" alt="Stuff to Do" />
                </figure>

            </div>
        </div>
    </div>
</section>