﻿<div class="page-header">
    <figure class="page-header__figure">
        <img class="page-header__image" src="~/img/bkg/default-header-image.jpg" alt="Heidel House Header Image" />
    </figure>
</div>