﻿<section class="featured__section featured__section--2col content1020__wrapper">
    <ul class="featured__list">
        <li class="featured__item">
            <a href="#" class="featured__link">
                <figure class="featured__figure--2col">
                    <img src="https://ipsumimage.appspot.com/630x400" alt="Featured Accomodation" class="featured__image" />
                </figure>
            </a>
            <div class="featured__content--2col">
                <h2 class="featured__header">Column 1 Header</h2>
                <p class="featured__text">
                    Enjoy superior accommodations featuring magnificent furnishings, round-the-clock personal service and wireless, high-speed Internet access. Take a deep breath and relax knowing our facility is smoke-free.  On the 23rd floor overlooking Lake Michigan, Blu is Milwaukee’s most sophisticated martini and wine bar with awe-inspiring views.
                </p>
                <a href="#" class="btn btn--color1 btn--arrow btn--bottompos">Read More</a>
            </div>
        </li>
        <li class="featured__item">
            <a href="#" class="featured__link">
                <figure class="featured__figure--2col">
                    <img src="https://ipsumimage.appspot.com/630x400" alt="Featured Accomodation" class="featured__image" />
                </figure>
            </a>
            <div class="featured__content--2col">
                <h2 class="featured__header">Column 2 Header</h2>
                <p class="featured__text">
                    Known for fabulous galas and elegant weddings, The Pfister® will make your event sparkle. Plan a meeting or special event in our function space, showcasing captivating ballrooms, intimate boardrooms, and every detail the discerning traveler could request. With a reputation for perfection, The Pfister promises to make your event unforgettable.
                </p>
                <a href="#" class="btn btn--color1 btn--arrow btn--bottompos">Read More</a> 
            </div>
        </li>
    </ul>
</section>