﻿<div class="interior">
    <h1 class="interior__header">This is the H1 Header</h1>
</div>
<div class="interior-editor">
    <p>This is text and stuff.  You can add what you want here. <a href="#">I am a Link</a></p>
    <a href="#">I am a link outside of the p tag.</a>
</div>