﻿<div class="room-type__section content1020__wrapper">
    <div class="room-type__list">
        <div class="room-type__item">
            <div class="columns detail-overview">
                <div class="c2x6 flt-left">
                    <div class="detail-overview__figure">
                        <img src="https://ipsumimage.appspot.com/400x400" alt="image" />
                    </div>
                </div>
                <div class="c4x6 flt-right detail-overview__container">
                    <h2 class="detail-overview__header">Detail Header</h2>
                    <div class="detail-overview__copy">
                        <p>This is Copy Section that can contain hours.</p>
                        <ul>
                            <li>This is a list.</li>
                            <li>See, it is a list.</li>
                            <li><a href="#">This is a link</a> in a list.</li>
                        </ul>
                        <a href="#">This is a link.</a>
                    </div>
                    <div class="detail-overview__buttons">
                        <a href="#" class="btn btn--color2 btn--reserveNow">Reserve Now</a>
                        <a href="#" class="btn btn--color1 btn--website">Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>