﻿<section class="fw-image">
    <a href="#" class="fw-image__link">
        <figure class="fw-image__figure default">
            <img src="https://assets.marcusapps.com/files/outlets/heidel-house/default/default-header-image.jpg" alt="full width image" />
            <div class="fw-image__callout">
                <h3 class="caption__header">I am a Header</h3>
                <p class="caption__text">I am a text block. </p>
                <a href="#" class="btn btn--callout">Click Me</a>
            </div>
        </figure>
    </a>
</section>