﻿<div class="room-type__section content1020__wrapper">
    <div class="room-type__list">
        <div class="room-type__item">
            <div class="columns room-overview">
                <div class="c3x6 flt-left">
                    <div class="room-type__figure">
                        <img src="https://ipsumimage.appspot.com/625x325" alt="room image" />
                        <a class="btn btn--color1 btn--roomGallery" href="#">View Gallery</a>
                    </div>
                </div>
                <div class="c3x6 flt-right">
                    <h3 class="section__header">Club Rooms</h3>
                    <div class="room-type__copy">
                        <p>The club rooms are content.... content... content... content... content...</p>
                    </div>
                    <div class="room-type__buttons">
                        <a href="#" class="btn btn--color2 btn--bookNow">Book Now</a>
                        <a href="javascript:void(0)" class="btn btn--color1 btn--roomDetails">Room Details</a>
                    </div>
                </div>
            </div>
            <div class="room-details">
                <div class="columns">
                    <div class="c2x6 flt-left">
                        <div class="room-detail__copy">
                            <p>I am general copy on the page.</p>
                        </div>
                    </div>
                    <div class="c4x6 flt-right border-left">
                        <div class="amenities flt-left">
                            <h3 class="amenities__header">Amenities</h3>
                            <ul class="amenities__list">

                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                                <li class="amenities__item">Lounge Chair</li>
                                <li class="amenities__item">Desk</li>
                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                            </ul>
                        </div>
                        <div class="amenities flt-right  border-left">
                            <h3 class="amenities__header">Exclusive club room amenities</h3>
                            <ul class="amenities__list">

                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                                <li class="amenities__item">Lounge Chair</li>
                                <li class="amenities__item">Desk</li>
                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                                <li class="amenities__item">One King Size bed or Two Full Size Beds</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>