/* Base Styling */
html {
	font-size:16px;
	min-width:320px;
}
body {
	color:$textColor;
	font-family: 'Quattrocento Sans', sans-serif;	
	//max-width:1200px;
	margin:0 auto;
}

* {
	@include box-sizing(border-box);
}

img {
	max-width:100%;
	height:auto;
}

h1 {
	font-family: 'Lora', serif;
	color:#7b4731;
	margin:0;
	@include font-size(1.75);
}

h2 {
	color:#a0978c;
	font-weight:normal;
	margin:0;
	@include font-size(1.25);
}

h3, h4, h5 {
	color:#a0978c;		
	font-weight:normal;
	margin:0;
	@include font-size(1.25);
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

// Override for stuff
.full-page__figure {
	img {
		width:100%;
	}
}

// Placeholder 
::-webkit-input-placeholder{color: $placeholderColor;} 
:-moz-placeholder {color: $placeholderColor;} 
::-moz-placeholder{color: $placeholderColor;} 
:-ms-input-placeholder {color: $placeholderColor;}

.no-show {
	display:none;
}

//Editor Styling 
#content-main {
	.img {
		@media #{$mq-mobileOnly}{
			float:none !important;
			height:auto !important;
			margin:0 20%;
			width:60% !important;
		}
	}
}
a:link, a:visited, a:hover {
	text-decoration:none;
	color:$primary;
	//border-bottom:1px dotted $primary;
}

a.link {
	color: $primary;
	text-decoration: none;
	border-bottom: 1px dotted $primary;
}