@font-face {
    font-family: 'cac_leslieregular';
    src: url('caclesli-webfont.eot');
    src: url('caclesli-webfont.eot?#iefix') format('embedded-opentype'),
         url('caclesli-webfont.woff2') format('woff2'),
         url('caclesli-webfont.woff') format('woff'),
         url('caclesli-webfont.ttf') format('truetype'),
         url('caclesli-webfont.svg#cac_leslieregular') format('svg');
    font-weight: normal;
    font-style: normal;

}