.hidden {
	@include hidden;
}

.visuallyhidden {
	@include visuallyhidden;
}

.clearfix {
	@include clearfix;
}

//Mobile only
.icon__mobile {
	@media #{$mq-largeScreen}{
		display:none !important;
	}
}
.required {
	color:$primary;
}
.section__header {
	font-family:$font1;
	font-weight:normal;
	text-transform:uppercase;
	@include font-size(1.5);

	@media #{$mq-mediumScreen}{	
		@include font-size(1.25);
	}
	
	@media #{$mq-largeScreen}{
		@include font-size(1.5);
	}
}
.section__text {
	p {
		a, a:link, a:visited, a:hover {
			color:$primary;
			border-bottom:1px dotted $primary;
		}
	}
}
.border-right {
	border-bottom:1px solid $border;
	padding:0 0 20px 0;
	@media #{$mq-mediumScreen}{
		border-bottom:0;
		border-right:1px solid $border;
		padding:0;
	}
}
.border-left {
	border-left:1px solid #fff;
}

.read-more__link {
	font-weight:bold;
	margin:0.5em 0 1em 0;
}
#scrollUp {
	background:rgba(0,0,0,0.5);
	bottom:0;
	right:2%;
	color:#fff;
	padding:10px;
	z-index:5 !important;
}

a.phone-number {
	cursor:default;
}