// Base Styling
.content1020__wrapper {
	margin:0 10.25%;
	@media #{$mq-mediumScreen}{
		margin:0 auto;
		max-width:1020px;
	}
}
.content1020__wrapper--footer {
	margin:0 2%;
	@media #{$mq-largeScreen}{
		margin:0 auto;
		max-width:1000px;
	}
}
.content1020__wrapper--header {
	//height:90px;
	margin:0 6.25%;
	@media #{$mq-mediumScreen}{
		//height:92px;
		margin:0 auto;
		max-width:1020px;
		overflow:visible;
	}
}
.full-slider--wrapper {
	//background-image: url('/img/bkg/paper.jpg');
	//background-repeat: repeat;
	//padding:25px 0;
	//@media #{$mq-largeScreen}{
	//	padding:25px 15%;
	//}
}
.media-gallery__wrapper {
	margin:0 4%;
	@media #{$mq-mediumScreen}{
		margin:0 auto;
		max-width:1020px;
		width:90%;
	}
}
.banner__wrapper {
	@media #{$mq-mediumScreen}{
		margin:30px auto 0 auto;
		max-width:1020px;
		width:90%;
	}
}
#inner-wrap {
	//z-index:-1;
	@media #{$mq-mediumScreen}{
		//margin-top:30px;
		//position:initial;
	}
	@media #{$mq-largeScreen}{
		margin-top:0;
		//padding-top:25px;
	}
}

//Columns -- Mobile all columns stack
.columns {
	@include clearfix;
}
// Medium Screen
@media #{$mq-mediumScreen}{
	.c2x6 {
		float:left;
		width:31.83333%;
	}
	.c3x6 {
		float:left;
		width:48.5%;
	}
	.c4x6 {
		float:left;
		width:65.16666%;
	}
	.c-marginRt {
		margin-right:1.5%;
	}
	.c-marginLft{
		margin-left:1.5%;
	}
	.flt-left {float:left;}
	.flt-right {float:right;}
}

// Large Screen 
@media #{$mq-largeScreen}{
	.c3x6 {
		float:left;
		width:48.5%;
	}
	.flt-left {float:left;}
	.flt-right {float:right;}
}



// Interior Page Layout
.two-column__content {
	width:79.5%;
	@media #{$mq-mediumScreen}{
		width:90%;
	}
	@media #{$mq-largeScreen}{
		width:100%;
	}
	@include clearfix;
	.main-col {
		margin-bottom:35px;
		/*@media #{$mq-mediumScreen}{
			float:left;
			padding-right:2%;
			width:77.3333%;
		}*/
		@media #{$mq-largeScreen}{
			float:left;
			padding-right:2%;
			width: 81.3333%;
		}
	}
	.aside-nav {
		/*@media #{$mq-mediumScreen}{
			float:right;
			padding-left:2%;
			width:18.6666%;
		}*/
		@media #{$mq-largeScreen}{
			float:right;
			padding-left:2%;
			width:18.6666%;
		}
	}
}
.one-column__content {
	margin:0px auto;
	max-width:1020px;
	width:90%;
	@media #{$mq-largeScreen}{
		//padding-top:100px;
	}
}
 
.no-header {
	padding-top:2.5em;
	@media #{$mq-mediumScreen}{
		padding-top:4.5em;
	}
	@media #{$mq-largeScreen}{
		padding-top:8em;
	} 
}