// Media Queries
//$mq-mobileOnly: "only screen and (max-width:768px)";
$mq-mobileOnly: "only screen and (max-width:47em)";
//$mq-smallScreen: "only screen and (min-width:480px)";
$mq-smallScreen: "only screen and (min-width:30em)";
//$mq-mediumScreen: "only screen and (min-width:768px)";
$mq-mediumScreen: "only screen and (min-width:48em)";
//$mq-largeScreen: "only screen and (min-width:1020px)";
$mq-largeScreen: "only screen and (min-width:63.75em)";
//$mq-xLargeScreen: "only screen and (min-width:1200px)";
$mq-xLargeScreen: "only screen and (min-width:75em)";
// To Use... @media #{variable_name}

$primary: #284a56; // Blue
$secondary: #ae6647; // Orange/Brown
$altSecondary: #abb7ae; // Light Blue 
$textColor: #473d34; // brown
$utilityNav: #fff; // Tan 
$reservationBackground: #d0bea3; // Tan
$border: #a5b0a2; // Tan
$background-color: #284a56; // Dark Gray
$placeholderColor: #666;  // White a79f95
$subHeader: #a0978c;

$gridText: #928874;
// Font Names
// Site Fonts
//font-family: 'Quattrocento Sans', sans-serif;
// font-family: 'Lora', serif;
$font1: 'Quattrocento Sans', sans-serif;
$font1-italic: 'winterthurcondenseditalic';

$font2: 'Lora', serif;
$font3: 'Lora', serif;

// Background Images
$introBackground: url(/img/bkg/home-page-bk-image.jpg);
$imagecalloutBackground: url(/img/bkg/wood-bk-tile.png);
$footerBackground: url(/img/bkg/footer-bk-ground.jpg);
$navBackground: url(/img/bkg/blue-bg.png);