﻿@{
    ViewBag.Title = "Index";
}

<!-- Full Page Slider -->
@Html.Partial("_Full-Page-Slider")

<!-- Mobile Utility Navigation-->
@Html.Partial("_Mobile-Utility-Nav")

<!-- Intro Copy -->
<span>Intro Copy</span>
@Html.Partial("_Intro-Copy")

<!-- Featured Items Not Used for This site -->
<!--@Html.Partial("Three-Column-Feature")-->

<span>Copy with Image</span>
@Html.Partial("Widgets/_Copy-With-Image")

<span>Image with Copy</span>
@Html.Partial("Widgets/_Image-With-Copy")
<!-- Three Column Interior -->
<span>3 Column Interior</span>
@Html.Partial("Widgets/_Interior-Three-Column")

<hr />
<!-- Two Column Interior -->
<span>2 Column Interior</span>
@Html.Partial("Widgets/_Interior-Two-Column")

<hr />
<!-- Full Page Slider / Full Page Image -->
<span>Package Banner</span>
@Html.Partial("Package-Banner")

<hr />
<!-- Image Gallery -->
<span>Image Gallery</span>
@Html.Partial("_Image-Gallery")

<hr />
<!-- Full-Width Image -->
<span>Full Width Image / Header Image</span>
@Html.Partial("Widgets/_Interior-Header-Image")

<hr />
<!-- New Widget for dining -->
<span>New Logo Widget</span>
@Html.Partial("Widgets/_Logo-Copy-Buttons")

<hr/>
<!-- Interior Copy -->
<span>Interior Widgets</span>
<section class="content1020__wrapper one-column__content">
    <hr/>
    <span> Interior Page Header and Copy</span>
    @Html.Partial("Widgets/_Interior-Page-Copy")
    <br/>
    
    <hr/>
    <span>Interior Grid Image</span>
    @Html.Partial("Widgets/_Grid-Thumbs-Layout")
</section>

<hr/>
<span>Callout Banner</span>
@Html.Partial("Widgets/_Package-Banner-Interior")

<hr/>
<span>Room Type Widget</span>
@Html.Partial("Widgets/_Room-Type")

<hr />
<span>Footer</span>
<!-- Location Section / Contact Section -->
@Html.Partial("_Location-Social-Connect")

@section scripts
{
        <!-- Full Page Main Slider for use on the Homepage -->
        <!-- Full Page Main Slider for use on the Homepage -->
        <script type="text/javascript">

            /***** Initialize Full-page Slider ********/
            (function () {
                var $example = $('#fs-slider'),
                $frame = $('.frame', $example);
                //$caption = $('#caption', $example),
                //$count = $('#count', $example);
                $frame.mightySlider({
                    //load: getHeight(),
                    autoScale: 1,
                    speed: 1000,
                    moveBy: 300,
                    viewport: 'scale',
                    preloadMode: 'nearby',
                    easing: 'easeOutExpo',
                    // Scrolling Options
                    scrolling: {
                        scrollBy: 0
                    },
                    //Cycling Options
                    cycling: {
                        cycleBy: 'slides',
                        pauseTime: 5000,
                        pauseOnHover: 1
                    },
                    // Navigation options
                    navigation: {
                        slideSize: '100%',
                        keyboardNavBy: 'slides'
                    },

                    // Deep-linking options
                    //deeplinking: {
                    //    linkID: 'main-page-slider'
                    //},

                    // Dragging
                    dragging: {
                        swingSpeed: 0.1
                    },

                    // Commands
                    commands: {
                        buttons: 1
                    }
                },
                {
                    active: function (name, index) {
                        //$caption.html(this.slides[index].options.caption);
                        //$count.html((index + 1) + '/' + this.slides.length + '&nbsp;&nbsp;&nbsp;&nbsp;' + this.slides[index].options.name);
                    }
                });
            })();
        </script>
    }
