﻿@{
    ViewBag.Title = "Interior";
}

<!-- Interior Template with Header Image and Secondary-Navigation-->

@Html.Partial("_Interior-Header-Image")

<!-- Mobile Utility Navigation-->
@Html.Partial("_Mobile-Utility-Nav")


<!-- Content Section -->

<!-- Two Column with Aside -->
<section class="two-column__content content1020__wrapper">
    @Html.Partial("_Breadcrumbs")
    <div class="main-col">
        <!-- Widget could go here but typically Title with Text, Should we lock this down-->
        @Html.Partial("_TitleWithCopy")
    </div>
    <aside class="aside-nav">
        @Html.Partial("_Secondary-Nav")
    </aside>
</section>

<!-- Widget Section -->
<!-- Full Width Call-out with Image -->
@Html.Partial("_Package-Banner-Interior")

<!-- Copy and Image -->
@Html.Partial("_Copy-With-Image")

<!-- Accommodations Section -->
@Html.Partial("_Room-Type")

<!-- Banner Widget -->
@Html.Partial("_Product-Banner")

<!-- End Widget Section -->
<!-- End Content Section-->
