﻿@{
    ViewBag.Title = "InteriorNoHeader";
}
<!-- Interior Template with No Header but secondary navigation -->

<!-- Mobile Utility Navigation-->
@Html.Partial("_Mobile-Utility-Nav")

<!-- Content Section -->

<!-- Two Column with Aside -->
<section class="two-column__content content1020__wrapper no-header">
    @Html.Partial("_Breadcrumbs")
    <div class="main-col">
       <!-- Widget could go here but typically Title with Text, Should we lock this down-->
        @Html.Partial("_TitleWithCopy")
    </div>
    <aside class="aside-nav">
        @Html.Partial("_Secondary-Nav")
    </aside>
</section>

<!-- This is a Widget Zone -->


<!-- End Widget Zone -->


@Html.Action("Listing", "Packages")

<!-- End Content Section-->
