﻿@model HotelWebsite.Models.PhotoGallery.AlbumModel

    <fieldset>
        <legend>AlbumModel</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.SortOrder): @Html.DisplayFor(model => model.SortOrder)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.IsDisabled): @Html.DisplayFor(model => model.IsDisabled)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.IsHidden): @Html.DisplayFor(model => model.IsHidden)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>