﻿<!-- Full Page Slider -->
@if (Request.QueryString["mode"] != "edit"){
    @Html.Action("AlbumWidget", "Media", new { album = "homepage" })
}
<!-- Mobile Utility Navigation-->
@Html.Partial("_Mobile-Utility-Nav")

<div id="content-main" data-cms-zone="contentMain"></div>

@Html.Action("Banner", "Packages", new { categoryName = "homepage" })

<div id="content-bottom" data-cms-zone="contentBottom"></div>
<!-- Location Section / Contact Section -->
@Html.Partial("_Location-Social-Connect")
       
@section scripts
{
    <!-- Full Page Main Slider for use on the Homepage -->
    <script type="text/javascript">
        
        /***** Initialize Full-page Slider ********/
        (function () {
            var $example = $('#fs-slider'),
            $frame = $('.frame', $example);
            //$caption = $('#caption', $example),
            //$count = $('#count', $example);
            $frame.mightySlider({
                //load: getHeight(),
                autoScale: 1,
                speed: 1000,
                moveBy: 300,
                viewport: 'fill',
                preloadMode: 'nearby',
                easing: 'easeOutExpo',
                // Scrolling Options
                scrolling: {
                    scrollBy: 0
                },
                //Cycling Options
                cycling: { 
                    cycleBy: 'slides',
                    pauseTime: 5000,
                    pauseOnHover: 1
                },
                // Navigation options
                navigation: {
                    slideSize: '100%',
                    keyboardNavBy: 'slides'
                },

                // Deep-linking options
                //deeplinking: {
                //    linkID: 'main-page-slider'
                //},

                // Dragging
                dragging: {
                    swingSpeed: 0.1
                },

                // Commands
                commands: {
                    buttons: 1
                }
            },
            {
                active: function (name, index) {
                    //$caption.html(this.slides[index].options.caption);
                    //$count.html((index + 1) + '/' + this.slides.length + '&nbsp;&nbsp;&nbsp;&nbsp;' + this.slides[index].options.name);
                }
            });
        })();
    </script>
}
