﻿<!--Interior Template with no secondary navigation-->

<div id="content-header" data-cms-zone="contentHeader"></div>

<!-- Mobile Utility Navigation-->
@Html.Partial("_Mobile-Utility-Nav")

<!-- Content -->
<section class="content1020__wrapper one-column__content">
    @Html.Partial("_Breadcrumbs")
    <!--Content can go here Typically Title with Copy-->
   <div id="content-main" data-cms-zone="contentMain"></div>
</section>

<!-- Widget Zone -->   
<div id="content-bottom" data-cms-zone="contentBottom"></div>

<!-- End Widget Zone -->
<!-- End Content -->