﻿<!-- Interior Template with No Header but secondary navigation -->

<!-- Content Section -->

<!-- Two Column with Aside -->
<section class="two-column__content content1020__wrapper no-header">
    @Html.Partial("_Breadcrumbs")
    <div class="main-col">
       <!-- Widget could go here but typically Title with Text, Should we lock this down-->
        <div id="content-main" data-cms-zone="contentMain"></div>
    </div>
    <aside class="aside-nav">
        @Html.Partial("_Secondary-Nav")
    </aside>
</section>

<!-- This is a Widget Zone -->
<div id="content-bottom" data-cms-zone="contentBottom"></div>

<!-- End Widget Zone -->

<!-- End Content Section-->
