﻿<!-- Interior Template with Header Image and Secondary-Navigation-->

<div id="content-header" data-cms-zone="contentHeader"></div>

<!-- Mobile Utility Navigation-->
@Html.Partial("_Mobile-Utility-Nav")

<!-- Content Section -->
<!-- Two Column with Aside Button for Activities Page Only -->
<section class="two-column__content content1020__wrapper">
    @Html.Partial("_Breadcrumbs")
    <div class="main-col">
        <!-- Widget could go here but typically Title with Text, Should we lock this down-->
        <div id="content-main" data-cms-zone="contentMain" data-cms-forceresize="true"></div>
    </div>
    <!-- This was added to take the place of the side navigation for the Activities Page-->
    <aside class="aside-nav aside__nav--large">
        <a href="/wisconsin-weekend-getaway/resort-activities" class="btn btn--color1">Back to All</a>
    </aside>
</section>

<!-- Widget Section -->
<div id="content-bottom" data-cms-zone="contentBottom"></div>
<!-- End Widget Section -->
<!-- End Content Section-->
