﻿<!-- Interior Template with Header Image and Secondary-Navigation-->

<div id="content-header" data-cms-zone="contentHeader"></div>

<!-- Mobile Utility Navigation-->
@Html.Partial("_Mobile-Utility-Nav")

<!-- Content Section -->

<!-- Two Column with Aside -->
<section class="two-column__content content1020__wrapper">
    @Html.Partial("_Breadcrumbs")
    <div class="main-col">
        <!-- Widget could go here but typically Title with Text, Should we lock this down-->
        <div id="content-main" data-cms-zone="contentMain" data-cms-forceResize="true"></div>
    </div>
    <aside class="aside-nav aside__nav--large">
        @Html.Partial("_Secondary-Nav")
    </aside>
</section>

<!-- Widget Section -->
<div id="content-bottom" data-cms-zone="contentBottom"></div>
<!-- End Widget Section -->
<!-- End Content Section-->
<aside class="aside-nav aside-nav aside__nav--medium">
    @Html.Partial("_Secondary-Nav")
</aside>