$background-color: #242424;

@function pem($px, $base: 16) {
    @return ($px / $base) + em;
}

/*@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}
*/
// Hide from both screenreaders and browsers: h5bp.com/u
/*@mixin hidden {
    display: none !important;
    visibility: hidden;
}*/

// Hide only visually, but have it available for screenreaders: h5bp.com/v
/*@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}*/

/*ul, ol {
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

a {
    text-decoration: none;
}*/

.highlight {
    background: #fff699;
    padding: 0 0.5em;
}


/*.block {
    position: relative;
    margin: 0 auto;
    padding: pem(24) pem(20);
    max-width: pem(960);
}*/

/*.close-btn {
    display: block;
    width: pem(42);
    height: pem(36);
    padding: 0;
    border: 0;
    outline: none;
    background: $background-color url("/img/icons/close-btn.svg") left center no-repeat;
    background-size: pem(30) pem(30);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    //@include opacity(1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .no-svg & {
        background-image: url('/img/icons/close-btn.png');
    }

    &:focus,
    &:hover {
        //@include opacity(1);
    }
}*/

/*.nav-btn {
    display: block;
    
    
    padding: 0;
    border: 0;
    outline: none;
    
    
    //@include opacity(0.7);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .no-svg & {
        background-image: url("../img/nav-icon.png");
    }

    &:hover,
    &:focus {
      //  @include opacity(1);
    }
}*/

#outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#inner-wrap {
    position: relative;
    width: 100%;
}


// header[role="banner"] {
/*#top {
    z-index: 100;
    position: relative;
    color: #fff;
    background: $background-color;

    .block-title {
        margin: 0;
        font-size: pem(30);
        line-height: pem(36, 30);
        text-align: center;
        white-space: nowrap;
    }

    .nav-btn {
        position: absolute;
        top: pem(24);
        left: pem(30);
    }
}*/

/*#main {
    background: #fff;

    .block {
        padding: pem(42) pem(30);
    }
}*/

/*footer[role="contentinfo"] {
    background: #ddd;
}*/