@import "compass";




@import "base/fonts",
		"base/variables",
		"base/mixins",
		"base/defaults",
		"base/helpers",
		"base/layout";

@import "modules/buttons",
		"modules/nav",
		"modules/breadcrumb-social",
		"modules/fp-slider",
		"modules/fw-slider",
		"modules/fp-image",
		"modules/interior-slider",
		"modules/media-slider";

@import "partials/header",
		"partials/interior-header",
		"partials/utility-nav",
		"partials/search",
		"partials/reservations",
		"partials/sub-navigation",
		"partials/intro-content",
		"partials/features",
		"partials/media-gallery",
		"partials/photo-album",
		"partials/events",
		"partials/packages",
		"partials/room-type",
		"partials/logo-copy-widget",
		"partials/banners",
		"partials/chat", 
		"partials/contact-us",
		"partials/location",
		"partials/connect",
		"partials/footer",
		"partials/sitemap";


/* Responsive Menu */
$step: 4;

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

/*!
 *
 *  Copyright (c) David Bushell | http://dbushell.com/
 *
 */ 
@import "responsive-menu/base";
//768 1023-1024
@media screen and (min-width: 1019px) {
    @import "responsive-menu/min_width_720";
}

@media screen and (max-width: 1020px) {
    @import "responsive-menu/max_width_720";
} 