@import "compass";
@import "base/variables";

* {
    @include box-sizing(box-shadow);
}

#showcase {
        background: #000 url('/img/bkg/seamless_paper_texture.png') repeat;
        //border-top: #000 2px solid;
        //border-bottom: #000 2px solid;
        @include box-shadow(0 30px 30px rgba(0, 0, 0, .6) inset);
        @media #{$mq-largeScreen}{
            padding-top:5em;
        }
    }
    #showcase .frame {
        width: 100%;
        padding: 3em 0;
    }
    #showcase .frame ul {
        position: relative !important;
        list-style: none;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    #showcase .frame ul li {
        float: left;
        height: 100%;
        margin-right: 30px;
        @include box-shadow(0 38px 30px -18px rgba(0, 0, 0, .6));
    }
    #showcase .frame ul li .mSCover {
        @include border-radius(5px);
    }
    #showcase .frame ul li img {
        max-width: none;
    }
    #showcase .details {
        display:none;
        width: 100%;
        position: absolute;
        bottom: 3em;
        text-align: center;
        color: #666;
        font-size: 16px;
        font-weight: 300;
        @media #{$mq-mediumScreen}{
            display:block;
        }
    }
    #showcase .details > div {
        color:#fff;
        display: inline-block;
        background:#000;
        background:rgba(0,0,0, 0.5);
        padding: 10px 20px;
        max-width: 60%;
        @include border-radius(4px);
        @include box-shadow(0 25px 7px -18px rgba(0,0,0,.3));
        @media #{$mq-mediumScreen}{
            width:45%;
        }
        @media #{$mq-largeScreen}{
            width:35%;
        }
    }
    #showcase .details #title {
        color: #fff;
        font-weight: bold;
        margin-bottom: 10px;
    }
