﻿@{
    ViewBag.Title = "Pfister Hotel Social Media | Downtown Milwaukee Hotel";
    ViewBag.SeoPageDescription = "Connect on social media with downtown Milwaukee's most iconic landmark hotel, The Pfister Hotel.";
}

@section header {
    <link type="text/css" rel="stylesheet" href="~/Content/css/social-wall.css"/>
}

<section class="stay-connected">
    <div class="one-column__content">
        @Html.Partial("_Breadcrumbs")
        <div class="fancy-intro">
            <div class="title__section">
                <h1 class="title-line__header">Stay Connected</h1>
            </div>
        </div>
        <p>The Pfister Hotel’s social media presence is another great way to stay connected with Milwaukee’s oldest and most historic hotel. Like us on Facebook and Instagram, follow us on Twitter, subscribe on Youtube and more. Even when you’re not visiting you can still peek into the world of Milwaukee’s Grande Dame. Don’t be afraid to reach out to us either! If you have questions about a past, present or future stay, we’re more than happy to help on social media.  We also love seeing photos from Pfister memories of passed shared on our Facebook page. </p>  
        <ul class="social-icon__list social-icon__list--stayconnected">
            <li class="social-icon__item"><a href="https://twitter.com/PfisterHotel" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/twitter.svg" alt="twitter icon" /></div><span class="visuallyhidden">Twitter</span></a></li>
            <li class="social-icon__item"><a href="https://www.facebook.com/thePfisterHotel" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/facebook.svg" alt="Facebook Icon" /></div><span class="visuallyhidden">Facebook</span></a></li>
            <li class="social-icon__item"><a href="http://www.pinterest.com/pfisterhotel/" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/pinterest.svg" alt="Pinterest Icon" /></div><span class="visuallyhidden">Pinterest</span></a></li>
            <li class="social-icon__item"><a href="http://instagram.com/thepfisterhotel" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/instagram.svg" alt="Instagram Icon" /></div><span class="visuallyhidden">Instagram</span></a></li>
            <li class="social-icon__item"><a href="https://plus.google.com/+pfisterhotel/posts" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/googleplus.svg" alt="Google Plus Icon" /></div><span class="visuallyhidden">GooglePlus</span></a></li>

            <li class="social-icon__item"><a href="http://blog.thepfisterhotel.com/" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/blog-icon2.svg" alt="Blog Icon" /></div><span class="visuallyhidden">Blog</span></a></li>
            <li class="social-icon__item"><a href="https://www.youtube.com/user/PfisterHotel" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/youtube.svg" alt="YouTube Icon" /></div><span class="visuallyhidden">YouTube</span></a></li>
        </ul>
    </div>
    <div id="social-stream" class="social-mash"></div>
</section>




@section scripts {
<script type="text/javascript" src="~/Scripts/vendor/jquery.social.stream.1.5.4.js"></script>
<script type="text/javascript" src="~/Scripts/vendor/jquery.social.stream.wall.1.3.js"></script>

    <script>
        $(document).ready(function ($) {
            $('#social-stream').dcSocialStream({
                feeds: {
                    twitter: {
                        id: '2795898307',
                        thumb: true
                    },
                    rss: {
                    //    id: 'http://feeds.feedburner.com/DesignChemical,http://feeds.feedburner.com/designmodo'
                    },
                    stumbleupon: {
                    //    id: 'remix4'
                    },
                    facebook: {
                        //id: '157969574262873,Facebook Timeline/376995711728',
                        //id: '85563784065',
                        //intro:'Posted',
                        //out: 'intro,thumb,title,text,user',
                        //image_width:3
                    },
                    google: {
                        //id: '101986222428839745137',
                        //image__width:250
                    },
                    instagram: {
                       // id: '227013096',
                        //comments: 0,
                        //likes: 0,
                        //icon: 'instagram.png'
                    },
                    delicious: {
                    //    id: 'designchemical'
                    },
                    vimeo: {
                        //id: 'brad'
                    },
                    youtube: {
                        //id: 'PfisterHotel',
                        //feed:  'uploads',
                        //thumb: '0'
                    },
                    pinterest: {
                        //id: 'jaffrey,designchemical/design-ideas',
                        //out: 'intro,thumb,text,user,share'
                    },
                    flickr: {
                    //    id: ''
                    },
                    lastfm: {
                    //    id: 'lastfm'
                    },
                    dribbble: {
                    //    id: 'frogandcode'
                    },
                    deviantart: {
                    //    id: 'isacg'
                    },
                    tumblr: {
                    //    id: 'richters',
                    //    thumb: 250
                    }
                },
                rotate: {
                    delay: 0
                },
                twitterId: 'designchemical',
                order:'date',
                control: false,
                filter: false,
                wall: true,
                cache: false,
                max: 'limit',
                limit: 10,
                iconPath: 'img/social-feed/dcsns-dark/',
                imagePath: 'img/social-feed/dcsns-dark/'
            });
        });
  
    </script>
}
