﻿@model HotelWebsite.Models.Forms.ContactModel
@{
    ViewBag.Title = "Contact Heidel House Resort and Spa | Green Lake, Wisconsin ";
    ViewBag.SeoPageDescription = "Contact Heidel House Resort and Spa for Wisconsin lakeside getaway resort reservations, spa and salon appointments and restaurant reservations.";
}

<div class="content1020__wrapper one-column__content no-header">
    <h1 class="section__header">Contact Us</h1>

    <div class="section__text">
        <p>
            Please contact Heidel House Resort & Spa with any questions, comments or concerns you may have. It is our pleasure to assist you. We are available by phone 24 hours a day or you can reach us by email, mail, fax or through our online chat.  
        </p>
        <p>
            Don’t forget to connect with us on <a href="https://www.facebook.com/heidelhouse" target="_blank">Facebook</a> and <a href="https://twitter.com/HeidelHouse" target="_blank">Twitter</a>! Additionally, we welcome you to <a href="/contact/contactus">subscribe</a> to our e-newsletter for the latest special offers and upcoming events.
        </p>
        <p>
            Local: 920.294.3344 <br/>
            Toll Free: 800.444.2812 <br/>
            Fax: 920.294.6128 <br/>
        </p>
        <br/>    
        <p>643 Illinois Avenue<br/>Green Lake, WI 54941</p>
        <p>Local: 920.294.3344</p>
        <p>Toll Free: 800.444.2812</p>
        <p>Fax: 920.294.6128</p>
    </div>

    <section class="form__section">

    <form id="contactus" enctype="multipart/form-data" class="rfp__form" method="post" action="http://api.marcusapps.com/forms/submissions/post">
        <input type="hidden" name="formKey" value="heidelhouse-contact" />
        <input type="hidden" name="redirectUrl" value="http://www.heidelhouse.com/contact/contactussuccess" />
        <br/>
                <div class="columns">
                    <div class="c3x6">
                        @Html.LabelFor(model => Model.FirstName, "First Name:*", new { @class = "form__label" })
                        @Html.TextBoxFor(model => Model.FirstName, new { @class = "form__input", type = "text", placeholder = "First Name*", required = "required" })
                        @Html.LabelFor(model => Model.LastName, "Last Name:*", new { @class = "form__label" })
                        @Html.TextBoxFor(model => Model.LastName, new { @class = "form__input", type = "text", placeholder = "Last Name*", required = "required" })
                       
                        @Html.LabelFor(model => Model.PhoneNumber, "Phone:", new { @class = "form__label" })
                        @Html.TextBoxFor(model => Model.PhoneNumber, new { @class = "form__input", type = "tel", placeholder = "xxx-xxx-xxxx" })
                        @Html.LabelFor(model => Model.Address1, "Address:", new { @class = "form__label" })
                        @Html.TextBoxFor(model => Model.Address1, new { @class = "form__input", type = "text", placeholder = "Address" })
                        @Html.LabelFor(model => Model.City, "City:", new { @class = "form__label" })
                        @Html.TextBoxFor(model => Model.City, new { @class = "form__input", type = "text", placeholder = "City" })
                        @Html.LabelFor(model => Model.State, "State", new { @class = "form__label" })
                        @Html.DropDownListFor(model => model.SelectedStates, Model.AvailableStates, new { @class = "form__select" })
                        @Html.LabelFor(model => Model.ZipCode, "Zip:", new { @class = "form__label" })
                        @Html.TextBoxFor(model => Model.ZipCode, new { @class = "form__input", type = "number", placeholder = "Zip Code" })

                    </div>
                    <div class="c3x6">
                        @Html.LabelFor(model => Model.EmailAddress, "Email:*", new { @class = "form__label" })
                        @Html.TextBoxFor(model => Model.EmailAddress, new { @class = "form__input", type = "email", placeholder = "email@example.com*", required = "required" })
                        @Html.LabelFor(model => Model.ContactReason, "Nature of Request:*", new { @class = "form__label" })
                        @Html.DropDownListFor(model => model.SelectedReasons, Model.ContactReason, new { @class = "form__select", required="required" })
                        @Html.LabelFor(model => Model.Comments, "Comments:*", new { @class = "form__label" })
                        @Html.TextAreaFor(model => Model.Comments, new { @class = "form__textarea", placeholder = "Comments", required="required"})

                        <input id="formSubmit" type="submit" onclick="ga('send', 'event', 'submit', 'click', 'contact us');" class="btn btn--color1 btn--formsubmit" value="Submit" />
                    </div>
                </div>
        <br/>
    </form>

    </section>

</div>