﻿@model HotelWebsite.Models.Forms.ContactModel
@{
    ViewBag.Title = "Contact Heidel House Resort and Spa | Green Lake, Wisconsin ";
    ViewBag.SeoPageDescription = "Contact Heidel House Resort and Spa for Wisconsin lakeside getaway resort reservations, spa and salon appointments and restaurant reservations.";
}

<div class="content1020__wrapper one-column__content no-header">
    <h1 class="section__header">Contact Us</h1>

    <div class="section__text">
        <p>Thank you for your submission. We're be in contact shortly.</p>
    </div>
</div>