﻿@{
    ViewBag.Title = "Email Un-Subscribe | Base Hotel | location, state";
    ViewBag.SeoPageDescription = "Email Unsubscribe";
}

<div class="content1020__wrapper one-column__content no-header">
    <h1 class="section__header">Email Unsubscribe</h1>

    <div class="section__text">
        <p>We're sad to see you go. Feel free to resubscribe when you're ready, or check out our social media platforms!</p>
    </div>
</div>

