﻿@model HotelWebsite.Models.Forms.ContactModel

@{
    ViewBag.Title = "Email Subscribe | Hotel Property | Location, State";
    ViewBag.SeoPageDescription = "Email subscribe description for seo.";
}

<div class="content1020__wrapper one-column__content no-header">
    <h1 class="section__header">Subscribe</h1>

    <div class="section__text">
        <p>Subscribe to our free e-mail newsletter.</p>
        <p>Lorem ipsum</p>
    </div>

    <section class="form__section">
        @using (Html.BeginForm("EmailSignUp", "Contact", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EmailSignUpForm", @class = "email-signup__form" }))
        {
            @Html.ValidationSummary(true)
            <div class="columns">
                <div class="c3x6">
                    @Html.LabelFor(model => Model.FirstName, "First Name:*", new { @class = "form__label" })
                    @Html.TextBoxFor(model => Model.FirstName, new { @class = "form__input", type = "text", tabindex = "1", placeholder = "First Name", required = "required" })
                    @Html.LabelFor(model => Model.LastName, "Last Name:*", new { @class = "form__label" })
                    @Html.TextBoxFor(model => Model.LastName, new { @class = "form__input", type = "text", tabindex = "2", placeholder = "Last Name", required = "required" })
                    @Html.LabelFor(model => Model.EmailAddress, "Email:*", new { @class = "form__label" })
                    <input name="EmailAddress" class="form__input" type="email" required data-parsley-trigger="change" tabindex="3" placeholder="email@email.com" />
                    @Html.LabelFor(model => Model.ZipCode, "Zip:*", new { @class = "form__label" })
                    <input name="ZipCode" class="zipcode form__input" type="number" tabindex="4" value="" maxlength="5" pattern="\d*" placeholder="Zip Code" required>

                </div>
                <div class="c3x6">

                    @Html.LabelFor(model => Model.BirthdayMonth, "Birthday Month:", new { @class = "form__label" })
                    <input class="form__input" data-parsley-trigger="change" id="BirthdayMonthID" data-parsley-type="integer" data-parsley-min="1" data-parsley-max="12" name="BirthdayMonth" pattern="\d*" placeholder="Month" tabindex="5" data-error-message="Must be a number." />

                    @Html.LabelFor(model => Model.BirthdayDay, "Birthday Day:", new { @class = "form__label" })
                    <input class="form__input" data-parsley-trigger="change" data-parsley-type="integer" data-parsley-min="1" data-parsley-max="31" pattern="\d*" placeholder="Day" name="BirthdayDay" tabindex="6">

                    @Html.LabelFor(model => Model.AnniversaryMonth, "Anniversary Month:", new { @class = "form__label" })
                    <input class="form__input" data-parsley-trigger="change" id="AnniversaryMonthId" data-parsley-type="integer" data-parsley-min="1" data-parsley-max="12" name="AnniversaryMonth" pattern="\d*" placeholder="Month" tabindex="7" data-error-message="Must be a number." />

                    @Html.LabelFor(model => Model.AnniversaryDay, "Anniversary Day:", new { @class = "form__label" })
                    <input class="form__input" data-parsley-trigger="change" data-parsley-type="integer" data-parsley-min="1" data-parsley-max="31" pattern="\d*" placeholder="Day" name="AnniversaryDay" tabindex="8">

                    <input type="submit" class="btn btn--color1 btn--formsubmit" tabindex="12" onclick="ga('send', 'event', 'submit', 'click', 'email us');" value="Submit" />
                </div>
            </div>
        }
    </section>
    <section class="form__section email-unsubscribe">
        <h1 class="section__header">Unsubscribe</h1>
        <div class="email-unsubscribe__container">
            <div class="section__text">
                <p>Enter your email address here to unsubscribe from the Pfister email list.<p>
            </div>
            @using (Html.BeginForm("EmailUnsubscribe", "Contact", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EmailUnsubscribeForm", @class = "email-signup__form email-signup__form--unsubscribe" }))
            {
                @Html.ValidationSummary(true)
                <div class="columns">
                    @Html.LabelFor(model => Model.EmailAddress, "Email:*", new { @class = "form__label" })
                    <input name="EmailAddress" class="form__input" type="email" tabindex="13" required data-parsley-trigger="change" placeholder="email@email.com" />
                    <input type="submit" class="btn btn--color1 btn--formsubmit" onclick="ga(['send', 'event', 'submit', 'click', 'email-unsubscribe']);" value="Unsubscribe" />
                </div>
            }
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#EmailSignUpForm').parsley();
            $('#EmailUnsubscribeForm').parsley();
        });

    </script>
}




