﻿@model HotelWebsite.Models.Forms.ContactModel

@{
    ViewBag.Title = "Email Subscribe | Heidel House Resort and Spa | Green Lake, Wisconsin";
    ViewBag.SeoPageDescription = "Receive exclusive Wisconsin resort specials from Heidel House Resort and Spa in your email inbox. Signup for package, restaurant, salon and spa deals.";
}

<div class="content1020__wrapper one-column__content no-header">
    <h1 class="section__header">Email Signup</h1>

    <div class="section__text">
        <p>Thanks! You've successfully been signed up to receive Heidel House emails.</p>
    </div>
</div>


