﻿@{
    ViewBag.Title = "Heidel House Resort and Spa Search Results | Green Lake, Wisconsin";
    ViewBag.SeoPageDescription = "Heidel House Resort and Spa's Google search results.";
}


<section class="content1020__wrapper one-column__content no-header">
    <form action="~/Search/" class="search-form--page" id="searchForm">
        <input type="hidden" name="cx" value="001685676944075707391:usq-jwbgmbq" />
        <input type="hidden" name="ie" value="UTF-8" />
        <span class="search-box">
            <input class="search" name="q" type="text" placeholder="Search" id="searchInput" />
            <input type="submit" value="search" id="send2" class="btn btn--color1 btn--search" />
        </span>
    </form>
    <h1 class="section__header">Heidel House Resort and Spa Search Results</h1>
    <div class="search-results">
        <script>
            (function () {
                var cx = '009413127227991692106:0ilehyn4fi8';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:searchresults-only></gcse:searchresults-only>
    </div>
</section>