/*Breadcrumb and Social Sharing */
.breadcrumb {
	display:none;
	@media #{$mq-mediumScreen}{
		font-family: "Georgia", sans-serif;
		font-weight: bold;
		margin:15px 0 35px 0;
		text-transform:uppercase;
		width:49%;
		@include inline-block;
		@include font-size(0.75);
		a, a:link, a:visited, a:hover {
			color:#000;
			text-decoration: none;
		}
	}
}
.addthis_sharing_toolbox {
	margin:10px 0 10px 0;
	text-align:center;
	width:100%;
	@include inline-block;
	@media #{$mq-mediumScreen}{
		margin:15px 0 35px 0;
		text-align:right;
		width:49%;
	}
	
}

.social-sharing {
	margin:10px 0 10px 0;
	text-align:center;
	width:100%;
	@include inline-block;
	@media #{$mq-mediumScreen}{
		margin:15px 0 35px 0;
		text-align:right;
		width:49%;
	}
	&__text {
		color:#bbb;
		@include font-size(0.75);
	}
	&__icon {
		background:$secondary;
		height:30px;
		margin:0 1%;
		//max-width:28px;
		padding:0.25em 0.25em 0 0.25em;
		//width:15%;
		width:30px;
		@include border-radius(1.25em);
		@include inline-block;
	}
}
.lt-ie10 {
	.social-icon__block {
		img {max-height:38px;}
	}
}
.lt-ie10 {
	.social-sharing__icon img {max-height:20px;}
}