// Buttons
.btn {
	border:5px double #fff;
	font-family: $font2;
	padding:4px 4% 3px 4%; 
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	@include font-size(1.5);
	@include box-shadow(0px 0px 20px rgba(0, 0, 0, 0.3) inset);
	@media #{$mq-mediumScreen}{
		@include font-size(1.375);
	}
}

.btn--color1 {
	background: $primary;
	color:#fff;
	&:link, &:hover, &:visited {color:#fff;}
}

.btn--color2 {
	background: $altSecondary;
	color:#fff;
	&:link, &:hover, &:visited {color:#fff;}
}

.btn--color3 {
	background: #242424;
	color:#fff;
	&:link, &:hover, &:visited {color:#fff;}	
}
// Button Reservation


.featured__button {
	margin-top:35px;
}
// Button Submit 
.btn--submit {
	border:0;
	height:45px;
	margin:10px 0 0 0;
	width:100%;
	@include inline-block;
	@media #{$mq-mediumScreen}{
		height:35px;
		margin:0;
		width:initial;
		//width:75px; 
	}
	@media #{$mq-largeScreen}{
		height:45px;
	}
}

.btn--formsubmit {
	border:0;
	height:45px;
	margin:10px 0 10px 0;
	width:100%;
	@include inline-block;
	@media #{$mq-mediumScreen}{
		float:right;
		height:35px;
		width:initial;
		//width:75px;
	}
	@media #{$mq-largeScreen}{
		height:45px;
	}
}
.btn--rotator {
	display:block;
	float:left;
	margin:1.25em 0 0 0;
	&:before {
		content:'\00BB';
		margin-right:7px;
		vertical-align:5%;
	}
	@media #{$mq-mobileOnly}{
		margin:0.5em 0 0 0;
	}
}
.btn--eventfilter {
	border:0;
	margin-left:1%;
	padding:6px 4% 5px 4%;
	@include inline-block;
}
.btn--reserve {
	border:0;
	width:100%;
}
// Button Information
.btn--more {
	display:none;
	@media #{$mq-mediumScreen}{
		@include inline-block;
		&:before {
			content:'\00BB';
			margin-right:7px;
			vertical-align:5%;
		}
	}
	@media #{$mq-largeScreen}{
		position:absolute;
		bottom:0;
	}
}

.btn--arrow {
	margin:0.5em 0;
	@include inline-block;
	&:after {
		content:'\00BB';
		margin-left:7px;
		vertical-align:5%;
	}
	@media #{$mq-mobileOnly}{
		width:100%;
	}
}

.btn--search {
	border:0;
	@include font-size(0.9);
}

// Packages and Events Buttons
.btn--bookpackage, .btn--back {
  display:block;
  margin-bottom: 0.5em;
  @media #{$mq-mediumScreen}{
    margin-bottom:0;
    width:48%;
    @include inline-block;
  }
}
.btn--bookpackage {
	padding: 8px 0 7px 0;
}
.btn--desktop {
  display:none;
  @media #{$mq-mediumScreen}{
    //border:0;
    @include inline-block;
  }
}
.btn--event {
  @media #{$mq-mediumScreen}{
    width:initial;
  }
}
.btn--reservation {
	//:url(/img/icons/button.jpg);
	//background-repeat: no-repeat;
	padding:4px 2% 3px 2%;
	&:after {
		content:'\00BB';
		margin-left:7px;
		vertical-align:5%;
	}
	@include box-shadow(0px 0px 20px rgba(0, 0, 0, 0.3) inset);
}
.lt-ie10, .lt-ie9 {
	.btn--formsubmit, .btn--event, .btn--submit {
		@media #{$mq-mediumScreen}{
			width:135px;
		}
	}
}