.fw-image {}
.fw-image__figure {
	position:relative;
	img {
		display:block;
		width:100%;
		min-width:320px;
		@media #{$mq-mediumScreen}{
			min-width:1200px;
		}
	}
}
.fw-image__callout {
	//padding:25px 2%;
	position:absolute;
	bottom:0;
	width:100%;
	@media #{$mq-mediumScreen}{
		padding:25px 2%;
		top:10%;
		bottom:10%;
		width:25%;	
	}
}
.caption__header {
	text-align:center;
	&:after {
		content:"\00BB";
		padding-left:10px;
		@include inline-block(top);
	}
	@media #{$mq-mediumScreen}{
		text-align:left;
		&:after {
			display:none;
		}
	}
}
.caption__text {
	display:none;
	@media #{$mq-mediumScreen}{
		display:block;
	}
}
.btn--callout {
	display:none;
	@media #{$mq-mediumScreen}{
		bottom:10%;
		position:absolute;
		@include inline-block;
	}
}
// The below Styles can be applied via cms selection of top level

.default {
	.fw-image__callout {
		background:rgba(0,0,0, 0.5);
		@media #{$mq-mediumScreen}{
			min-width:50%;
			right:25%;
			border:4px double #999;
		}
		@media #{$mq-largeScreen}{
			min-width:400px;
			right:16%;
		}
	}
	.caption__header {
		color:#fff;
	}
	.caption__text {
		color:#fff;
		a, a:link, a:hover, a:visited {
			color:#fff;
			text-decoration: underline;
		}
	}
	.btn--callout {
		background-color:$altSecondary;
		&:link, &:visited, &:hover {
			color:#fff;
		}
	}
}
