
#fw-slider {
	height: 400px;
	overflow:hidden;
}
#fw-slider .frame {
	width: 100%;
	height: 100%;
}
#fw-slider .frame .slide_element {
	height: 100%;
}
#fw-slider .frame .slide_element > div {
	float: left;
	height: 100%;
	overflow:hidden;
}
#fw-slider .frame .mSCover img {
	max-width: none;
}

#fw-slider .frame .details {
	background-image:url('/img/bkg/callout-tan-card.png');
	background-repeat: no-repeat;
	background-size:contain;
	height:100%;
	max-height:284px;
	position:absolute;
	width:91%;
	top:12%;
	left:2.5%;
	@media #{$mq-smallScreen}{
		width:25%;
		min-width:400px;
		max-height:284px;
		height:100%;
		top:10%;
		left:10%;
	}
	@media #{$mq-mediumScreen}{

	}
	@media #{$mq-largeScreen}{
		width:25%;
		top:10%;
		left:19%;
		max-width:280px;
		//max-height:323px;
	}
}
#fw-slider .frame .details #caption2 {
	font-family: $font1;
	position:absolute;
	top:20%;
	left:9%;
	width:83%;
	//@include transform(rotate(-3deg));
	@media #{$mq-mediumScreen}{
		top:20%;
		left:9%;
	}
	@media #{$mq-largeScreen}{
		top:20%;
		left:9%;
	}
}
#fw-slider .frame .details #callout-button {
	bottom:0;
	position:absolute;
	text-align:center;
	width:100%;
}
.fw-image__link {
	&:link, &:visited, &:hover {
		color:#fff;
	}
}