.interior-slideshow {
	position:relative;
	height:400px;
	@media #{$mq-mediumScreen}{
		//margin-top:44px;
		padding:25px 2%;
	}
}

#interior-slider {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
#interior-slider .frame {
	width: 100%;
	height: 100%;

	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
}
#interior-slider .frame .slide_element {
	height: 100%;

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#interior-slider .frame .slide_element > div {
	float: left;
	height: 100%;
}
#interior-slider .frame .mSCover img {
	max-width: none;
}
#interior-slider .details #caption {
	position: absolute;
	top: 90px;
	left: 40px;
	padding: 20px;
	//background: #FFF;
	color: #fff;
	//text-transform: uppercase;
	//font-weight: 300;
	max-width: 30%;

	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.15);
			box-shadow: 0 0 1px rgba(0,0,0,0.15);
	a, a:visited, a:hover, a:link {
		color:#fff;
	}
	.slider__header {
		font-family: $font1;
		display:block;
		@include font-size(2);
	}
	.slider__header--sub {
		font-family: "Georgia", sans-serif;
	}
}
