
#media-slider {
	//height: 365px;
	//overflow:hidden;
}
#media-slider .frame {
	width: 100%;
	height: 365px;
}
#media-slider .frame .slide_element {
	height: 100%;
}
#media-slider .frame .slide_element > div {
	float: left;
	height: 100%;
	overflow:hidden;
}
#media-slider .frame .mSCover img {
	max-width: none;
}