//General
#nav {
    //display:none;
    //background:$primary;
    //height:1000px;
    background:$navBackground;
    background-repeat:repeat;
    height:100%;
    min-height:1000px;
   /*  &.open {
        display:block;
        background:$primary;
        height:1000px;
        @media #{$mq-largeScreen}{
            height:100%;
            min-height:100% !important;
        }
        //overflow-y:scroll;
    } */
    z-index: 200;
    padding:0.25em 0;
    position: relative; 
    overflow: hidden;
    width: 100%;
    color: #fff;
    @media #{$mq-largeScreen}{
        //float:right;
        //margin-top:6px; 
        min-height:0;
        width:100%;
    }

    .block-title {
        @include visuallyhidden;
    }

    .block {
        z-index: 2;
        position: relative;
        padding: pem(12) pem(20);
        background: $background-color;
    }

    ul.nav__list--primary {
        //background:$background-color;
        z-index:3;
        @include clearfix;
        display: block;

        margin:0 auto;
        max-width:1020px;
        @media #{$mq-largeScreen}{
            text-align:right;
        }
    }

    li {
        display: block;

        a {
            //display: block;
            color: #ccc;
            outline: none;
            @include font-size(1.125);
            @media #{$mq-mediumScreen}{
                @include font-size(0.95);
            }
            @media #{$mq-largeScreen}{
                @include font-size(0.95);
            }
            &:focus,
            &:hover {
                color: #fff;
                background: rgba(255,255,255, 0.1);
            }
        }
        &.is-active {
            a {
                color: #fff;
            }
        }
        &.btn--reservation {
            display:none;
            padding:0;
            @media #{$mq-mediumScreen}{
                @include inline-block;
            }
            a, a:link, a:visited, a:hover {
                padding:5px 8px 0 8px;
                text-decoration:none;
            }
        }
    }
    li.nav__item--secondary {
        a.nav__link--secondary {
            background:$secondary;
            display:block;
            padding:5px 0 2.5px 2.14286em;
        }
    }
}
@media #{$mq-largeScreen}{
    #nav {
        display:block;
        overflow:visible;
        ul.nav__list--secondary {
            &:before {
                content:"";
                margin-left:20px;
                @include arrow(top, $secondary, 10px);
            }
            max-width:230px;
            position:absolute;
            text-align:left;
            white-space: normal;
            li.nav__item--secondary {            
                background:$secondary;
                border-bottom:1px solid #370002;
                //padding:6px 15px;
                a.nav__link {
                    padding:0.32857em 0.85714em 0.1em 0.85714em;
                }
            }
        }
    }
}
.no-js {
    #nav {
        left:100%;
        padding-top:0;
        position:relative;
        width:100%;
        .close-btn {
            display:none;
        }
    }
} 
.nav__list {}
.nav__item {
	text-transform:uppercase;
}
.nav__link {
	text-decoration:none;
	font-family:$font1;
}

.nav__list--primary {}
.nav__item--primary {}
.nav__link--primary {} 

.nav__list--secondary {
	display:none;
} 
.no-js .nav__list--secondary {
	display:block;
}
#nav li.nav__item--secondary {
    display:block;
}
.nav__link--secondary {}

.nav__list--subcategory {}
.nav__item--subcategory {}
.nav__link--subcategory {}

.js {
    &.no-touch {
        .nav__item--primary:hover {
            .nav__list--secondary {
                display:block;
            }
            .touchNav__list {
                display:none !important;
            } 
        }
    }
}
.touch {
    .nav__list--secondary {
        &.hovered {
            display:block;
        }
    }
}

.no-touch {
    a.touchNav {display:none;}
    a.notouchNav {display:block;}
    #nav ul.nav__list--secondary li.nav__item--secondary.touchNav {
        display:none;
    }
}

.touch {
    a.touchNav {display:block;}
    a.notouchNav {display:none !important;}
}