/* Points of Interest Google API Styling */
#map { width: 100%; height: 300px; }
#map img {  max-width: none; }
.poi {
	//&__sitenotice {}
	&__heading {
		color:$primary;
		font-family: $font1;
		font-weight:normal;
		text-transform:uppercase;
		@include font-size(1.25);
		@media #{$mq-mediumScreen}{
			@include font-size(1.25);
		}
		@media #{$mq-largeScreen}{
			@include font-size(1.5);
		}
		a, a:link, a:visited {color:$primary;}
		a:hover {
			font-weight:700;
		}
	}
	//&__body {}
	
	//&__category {}
	&__address {
		a:hover {
			color:$primary;
		}
	}
}

.map-locations {
	background-image:url(/img/bkg/paper-white.jpg);
	background-repeat: repeat;
	margin:1em 0;
	padding: 1em 2%;
	&__list {
		width:100%;
	}
	&__item {
		margin-right:0.5%;
		&:before {
			content: '\2605';
			color:#666;
			padding-right:4px;
		}
		@include inline-block;
	}
	&__link {
		&:hover {
			color:$primary;
		}
	}
}

.poi__copy {
	a.map-locations__link {
		&:link, &:visited, &:hover {
			color:$primary;
			text-decoration:underline;
		}
	}
}
.gm-style-iw {
	min-height:150px !important;
}