﻿<div class="breadcrumb-social__section">
    @Html.Action("Breadcrumbs", "Menu", new { breadcrumbPageId = ViewBag.PageId })

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <!--<div class="addthis_sharing_toolbox"></div>-->
    <div class="social-sharing">
        <span class="social-sharing__text">Share This:</span>
        <a class="addthis_button_facebook">
            <figure class="social-sharing__icon">
                <img src="~/img/social-icons/facebook.svg" alt="Facebook Icon" />
            </figure>
        </a>
        <a class="addthis_button_twitter">
            <figure class="social-sharing__icon">
                <img src="~/img/social-icons/twitter.svg" alt="twitter icon" />
            </figure>
        </a>
        <a class="addthis_button_pinterest_share">
            <figure class="social-sharing__icon">
                <img src="~/img/social-icons/pinterest.svg" alt="Pinterest Share Icon" />
            </figure>
        </a>
        <a class="addthis_button_google_plusone_share">
            <figure class="social-sharing__icon">
                <img src="~/img/social-icons/googleplus.svg" alt="Google+ Share Icon" />
            </figure>
        </a>
        <a class="addthis_button_email">
            <figure class="social-sharing__icon">
                <img src="~/img/social-icons/email.svg" alt="Email Share Icon" />
            </figure>
        </a>
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54471d34799b80f0"></script>

</div>
