﻿@if(Request.QueryString["mode"] == "edit")
{
    
<style>
    #contenttabs {
        border: 0;
    }
    #contentEditor {
        background: #ebebeb;
    }
    .cms-editable-zone {
        border: 2px dashed #ccc;
		padding: 5px;
		margin: 2px 0 2px 0;
        display:block;
		min-height: 100px;
    }
    .cms-zone-content {
        border: #00aa00 1px solid;

		padding: 5px;
		margin: 2px 0 2px 0;
    }
    
</style>
    
    
<script type="text/javascript">
    parent.childGetElementById = function (id) { return document.getElementById(id); }
    parent.childGetDocument = function () { return document; }

    try {
        parent.childLoaded();
    } catch (ex) { }

</script>
}