﻿<div class="utility-nav__wrapper">
    <div class="utility-nav--desktop">
        <div class="ut-nav__list">
            <div class="ut-nav__item ut-nav--email">
                <a href="~/contact/emailsignup" onclick="ga('send', 'event', 'utility nav', 'click', 'email');" class="ut-nav__link">Email Sign Up</a>
            </div>
            <div class="ut-nav__item ut-nav--contact">
                <a href="~/contact/contactus" onclick="ga('send', 'event', 'utility nav', 'click', 'contact us');" class="ut-nav__link">Contact Us</a>
            </div>
            <div class="ut-nav__item ut-nav--search">
                <a href="javascript:void(0)" onclick="ga('send', 'event', 'utility nav', 'click', 'search');" class="ut-nav__link">Search</a>

                <form action="~/Search/" id="searchForm">
                    <input type="hidden" name="cx" value="009413127227991692106:0ilehyn4fi8" />
                    <input type="hidden" name="ie" value="UTF-8" />
                    <div class="no-show search-box">
                        <input class="search" name="q" style="width:120px; display:inline-block;" type="text" placeholder="Search" id="searchInput" />
                        <input type="submit" style="width:90px; display:inline-block;" value="search" id="send2" class="btn btn--color1 btn--search" />
                    </div>
                </form>
            
            </div>
            <div class="ut-nav__item ut-nav--phone">
                <a href="tel:800-444-2812" class="phone-number ut-nav__link"><span class="phone-number">800.444.2812</span></a>
            </div>
        </div>
    </div>
</div>