﻿<!-- Footer -->
<footer class="footer">
    <div class="footer-top">
        <div class="content1020__wrapper--footer">
            <div class="columns">
                <div class="c2x6">
                    <div class="site-map">
                        <h3 class="footer__header">More</h3>
                        <ul class="site-map__list">
                            <li class="site-map__item">
                                <a href="/hospitality-careers" class="site-map__link">Employment</a>
                            </li>
                            <li class="site-map__item">
                                <a href="/contact/contactus" class="site-map__link">Contact</a>
                            </li>
                            <li class="site-map__item">
                                <a href="/terms-conditions" class="site-map__link">Terms of Use</a>
                            </li>
                            <li class="site-map__item">
                                <a href="/privacy-policy" class="site-map__link">Privacy Policy</a>
                            </li>
                            <li class="site-map__item">
                                <a href="https://res.travlynx.com/bbe/page2.aspx?pcode=HCHHRC&checkin=&nights=1&adults=1&children=0" class="site-map__link">Reservations</a>
                            </li>
                            <li class="site-map__item">
                                <a href="/contact/emailsignup" class="site-map__link">Email Signup</a>
                            </li>
                        </ul>
                        <ul class="site-map__list">
                            <li class="site-map__item">
                                <a href="http://blog.heidelhouse.com" target="_blank" class="site-map__link">Blog</a>
                            </li>
                            <li class="site-map__item">
                                <a href="http://www.marcushotels.com/hotel-management-portfolio/hotel-management-portfolio.asp" target="_blank" class="site-map__link">Marcus Portfolio</a>
                            </li>
                            <li class="site-map__item">
                                <a href="http://press.marcushotels.com/?s=heidel" class="site-map__link">Newsroom</a>
                            </li>
                            <li class="site-map__item">
                                <a href="/pages/sitemap" class="site-map__link">Sitemap</a>
                            </li>
                            <li class="site-map__item">
                                <a href="http://store.heidelhouse.com/" target="_blank" class="site-map__link">Gift Certificates</a>
                            </li>
                            <li class="site-map__item">
                                <a href="/heidel-house-information" class="site-map__link">FAQs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="c2x6">
                    <div class="connect">
                        <h3 class="footer__header">Connect</h3>
                        <div class="social">
                            <ul class="social-icon__list">
                                <li class="social-icon__item"><a href="https://www.facebook.com/heidelhouse" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/facebook.svg" alt="Facebook Icon" /></div><span class="visuallyhidden">Facebook</span></a></li>
                                <li class="social-icon__item"><a href="http://www.twitter.com/heidelhouse" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/twitter.svg" alt="twitter icon" /></div><span class="visuallyhidden">Twitter</span></a></li>
                                <li class="social-icon__item"><a href="http://www.pinterest.com/heidelhouse/" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/pinterest.svg" alt="Pinterest Icon" /></div><span class="visuallyhidden">Pinterest</span></a></li>
                                <li class="social-icon__item"><a href="https://plus.google.com/u/0/107795782655602956250/posts" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/googleplus.svg" alt="Google Plus Icon" /></div><span class="visuallyhidden">GooglePlus</span></a></li>
                                <li class="social-icon__item"><a href="https://www.youtube.com/user/HeidelHouseResort" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/youtube.svg" alt="YouTube Icon" /></div><span class="visuallyhidden">YouTube</span></a></li>
                                <li class="social-icon__item"><a href="http://instagram.com/heidelhouse" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/instagram.svg" alt="Instagram" /></div><span class="visuallyhidden">Blog</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="c2x6">
                    <div class="contact">
                        <h3 class="footer__header">Contact</h3>
                        <address class="footer__address">
                            <p>Heidel House Resort &amp; Spa</p>
                            <p>643 Illinois Ave.</p>
                            <p>Green Lake, WI 54941</p>
                        </address>
                        <div class="footer__phone">
                            <p><a class="phone__link" href="tel:800-444.2812">800.444.2812</a></p>
                            <p><a class="email__link" href="emailto:info@heidelhouse.com">info@heidelhouse.com</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <div class="copyright">
            &copy;2014 The Marcus Corporation. All Rights Reserved.
        </div>
    </div>
</footer>