﻿<section class="full-slider--wrapper">
    <div class="main-slideshow">
        <div id="fs-slider" class="mightyslider_windows8_skin">
            <div class="frame" data-mightyslider="width:1500, height:500">
                <div class="slide_element">
                    <!-- This mark-up is preferred for image loading purposes but I don't think it will work with the CMS structure-->
                    <div class="slide" data-mightyslider="cover: [
                         [' /img/homepage-slider-example.png'],
                    ['/img/homepage-slider-example.png','(min-width:800px)'],
                    ['/img/homepage-slider-example.png', '(min-width:1200px)']
                    ],
                    caption: '<span class=&quot;slider__header&quot;>Historic</span><span class=&quot;slider__header--sub&quot;>Tradition</span>' ">
                </div>
                <div class="slide" data-mightyslider="cover: [
                     [' /img/homepage-slider-example.png'],
                ['/img/homepage-slider-example.png','(min-width:800px)'],
                ['/img/homepage-slider-example.png', '(min-width:1200px)']
                ],
                caption: '<span class=&quot;slider__header&quot;>Grand</span><span class=&quot;slider__header--sub&quot;>Elegance</span>'">
            </div>
                </div>
            </div>
            <div class="details">
                <div id="caption">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</section>