﻿<section class="image-gallery__section media-gallery__wrapper">
    <div class="columns">
        <div class="c2x6 c-marginRt image-gallery__copy">
            <h3 class="section__header">See and be Seen</h3>
            <div class="featured__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ligula massa. Donec volutpat elit at est aliquam ultrices. Proin sed semper risus. Ut condimentum consequat mauris. Quisque viverra suscipit odio eu porttitor. Aenean arcu massa, elementum at placerat id, dignissim sit amet justo. Pellentesque dignissim libero elit, eget pharetra odio accumsan sed. Suspendisse rhoncus mauris libero, eget sodales lectus rutrum ac. Proin scelerisque sagittis porta. Cras ac lectus elementum, mattis libero ut, tincidunt leo. Nullam nec facilisis elit. Quisque id nulla vel nibh pharetra semper id eget massa. Ut rhoncus sodales ullamcorper.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ligula massa. Donec volutpat elit at est aliquam ultrices. Proin sed semper risus. Ut condimentum consequat mauris. Quisque viverra suscipit odio eu porttitor. </p>
            </div>
            <div class="featured__button">
                <a href="#" class="btn btn--color1">View full gallery</a>
            </div>
        </div>
        <div class="c4x6 c-marginLft">
            <div id="media-slider" class="mightyslider_paper_skin">
                <div class="frame">
                    <div class="slide_element">
                        <div class="slide" data-mightyslider="cover: 'https://ipsumimage.appspot.com/1080x1920', name:'Bicycle Macro Bokeh', ID: 'bicycle2'"></div>
                        <div class="slide" data-mightyslider="cover: 'https://ipsumimage.appspot.com/1000x1900', name:'Little girl', ID: 'little-girl2'"></div>
                        <div class="slide" data-mightyslider="cover: 'https://ipsumimage.appspot.com/1920x1080', name:'Love', ID: 'love2'"></div>
                        <div class="slide" data-mightyslider="cover: 'https://ipsumimage.appspot.com/1920x1080', name:'Joy', ID: 'joy2'"></div>
                    </div>
                </div>
                <div id="pic-count"></div>
            </div>
        </div>
    </div>
</section>
