﻿<!-- Specific to Interior Pages -->
<!-- Header Slider... keep in case they want the top to be a slider -->
<!-- Currently Not Used-->

<section class="full-slider--wrapper">
    <div class="interior-slideshow">
        <div id="interior-slider" class="mightyslider_windows8_skin">
            <div class="frame">
                <div class="slide_element">
                    <div class="slide" data-mightyslider="cover: 'https://ipsumimage.appspot.com/1080x1920', name:'Cherry blossoms by the bench', ID: 'cherry-blossoms', caption: '<span class=&quot;slider__header&quot;>Lorem ipsum</span> <span class=&quot;slider__header--sub&quot;>dolor sit amet</span>, <a href=&quot;http://ilightbox.net&quot; target=&quot;_blank&quot;>consectetuer adipiscing elit</a>.'"></div>
                    <div class="slide" data-mightyslider="cover: 'https://ipsumimage.appspot.com/1920x1080', name:'Bicycle Macro Bokeh', ID: 'bicycle', caption: 'Aenean commodo ligula eget dolor. Aenean massa.'"></div>
                    <div class="slide" data-mightyslider="cover: 'https://ipsumimage.appspot.com/1080x1920', name:'Little girl', ID: 'little-girl', caption: 'You can link to this slide by adding <b>#fullscreen/little-girl</b> to url.<br><a href=&quot;fullscreen.html#fullscreen/little-girl&quot; target=&quot;_blank&quot;>Create new tab</a>'"></div>
                    <div class="slide" data-mightyslider="cover: 'https://ipsumimage.appspot.com/1920x1080', name:'Love', ID: 'love', caption: 'Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.'"></div>
                    <div class="slide" data-mightyslider="cover: 'https://ipsumimage.appspot.com/1080x1920', name:'Joy', ID: 'joy', caption: 'Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.'"></div>
                </div>
            </div>
            <div class="details">
                <div id="caption">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</section>
