﻿<section class="landing-intro__bkgrd">
    <div class="landing-intro__section content1020__wrapper">
        <div class="fancy-intro">
            <h2 class="landing-intro__subheader">an oasis of</h2>
            <h1 class="landing-intro__header">RELAXATION</h1>
        </div>
        <div class="intro__section">
            <p class="intro__text">
                The Pfister<sup>&reg;</sup> Hotel, built in 1893 has been the premier downtown Milwaukee hotel for over a century, and continues to celebrate a tradition of gracious service and impeccable style. From the moment you arrive, you'll notice the extraordinary architecture, and a welcoming ambiance marked by a priceless Victorian art collection which rivals that of any hotel in the world.
            </p>
        </div>
    </div>
</section>
