﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.SeoPageDescription">
    <meta name="keywords" content="@ViewBag.SeoPageKeywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="@ViewBag.SeoPageDescription" />

    @Styles.Render("~/Content/themes/base/css")
    <!-- Fonts Section -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/min/modernizr.custom.44583.min.js"></script>

    <link rel="stylesheet" href="~/Content/mighty-slider/css/mightyslider.css" />
    <!--[if lte IE 8]>
        <script type="text/javascript" src="~/Scripts/vendor/respond.js" ></script>
        <script type="text/javascript" src="~/Scripts/vendor/matchMedia.js"></script>
        <script type="text/javascript" src="~/Scripts/vendor/matchMediaListener.js"></script>
    <![endif]-->
    @RenderSection("header", required: false)
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/Scripts/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    @Scripts.Render("~/Content/themes/base/slider")

</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- BEGIN LivePerson Button Code -->
    <div id="lpButDivID-1413989580" class="chat"></div>
    <script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/57248567/?cmd=mTagRepstate&site=57248567&buttonID=3&divID=lpButDivID-1413989580&bt=1&c=1"></script>
    <!-- END LivePerson Button code -->

    <div id="outer-wrap">
        <div id="inner-wrap">
            @if (Request.QueryString["mode"] != "edit")
            {
                @Html.Partial("_Primary-Nav")
            }
            <!-- Main Content -->
            @RenderBody()

            <!-- Footer Section -->
            @Html.Partial("_Footer")

        </div>
    </div>

    <!-- Main Scripts -->
    @Scripts.Render("~/Content/themes/base/js")
    <script type="text/javascript" src="~/Scripts/imagesLoaded.js"></script>
    <!--Google Script / Uncomment for launch / Don not bundle-->
    <!-- Universal Google Analytics Tracking Code -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-876465-4', 'auto');
        ga('send', 'pageview');
    </script>
    
    <!-- Section Scripts -->
    @RenderSection("scripts", required: false)
    <!-- Should have scripts between these tags -->
    @Html.Partial("_CmsScript")


</body>
</html>

