﻿    <!--<section class="location__section">
    <div class="location-top content1020__wrapper">
        <div class="fancy-intro">
            <span class="title__section">
                <h2 class="title-line__header">Location</h2>
            </span>
        </div>
        <p class="featured__text">
            The Pfister<sup>&reg;</sup> Hotel, built in 1893 has been the premier downtown Milwaukee hotel for over a century, and continues to celebrate a tradition of gracious service and impeccable style. From the moment you arrive, you'll notice the extraordinary architecture, and a welcoming ambiance marked by a priceless Victorian art collection which rivals that of any hotel in the world.
        </p>
    </div>
<a href="https://www.google.com/maps/place/The+Pfister+Hotel,+424+E+Wisconsin+Ave,+Milwaukee,+WI+53202/@("@")43.0392954,-87.9056192,17z/data=!3m1!4b1!4m2!3m1!1s0x880519a789f7de67:0x5e97ef9f6fd67d9" target="_blank" id="locationMapLink" class="location-map__link">
        <div class="location-map">
            <div id="homepage-map" style="width:100%;height:400px;"></div>
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDtna3XzlLOVj-XNlMiLBEhl378NDszaoM"></script>
            <script>
                function homepageMapInit() {
                    var mapStyles = [{
                        featureType: "poi.business",
                        elementType: "labels",
                        stylers: [
                          { visibility: "off" }
                        ]
                    }];
                    var mapOptions = {
                        zoom: 17,
                        center: new google.maps.LatLng(43.0402677, -87.9052544),
                        scrollwheel: false,
                        panControl: false,
                        zoomControl: true,
                        zoomControlOptions: {
                            style: google.maps.ZoomControlStyle.SMALL,
                            position: google.maps.ControlPosition.TOP_RIGHT
                        },
                        mapTypeControl: false,
                        scaleControl: false,
                        streetViewControl: false,
                        overviewMapControl: false,
                        styles: mapStyles
                    };

                    var map = new google.maps.Map(document.getElementById('homepage-map'), mapOptions);

                    var baseMarker = new google.maps.Marker({
                        position: new google.maps.LatLng(43.039295, -87.905619),
                        MAX_ZINDEX: 100,
                        zIndex: 100,
                        map: map,
                        title: 'The Pfister Hotel',
                        description: '<p><strong>The Pfister Hotel</strong><br/>424 E Wisconsin Ave<br/>Milwaukee, WI 53202</p>'
                    });

                    var infoWindow = new google.maps.InfoWindow({ content: baseMarker.description });
                    infoWindow.open(map, baseMarker);

                    google.maps.event.addDomListener(baseMarker, 'click', function () { window.open('https://www.google.com/maps/place/The+Pfister+Hotel,+424+E+Wisconsin+Ave,+Milwaukee,+WI+53202'); });
                }

                google.maps.event.addDomListener(window, 'load', homepageMapInit);
            </script>
        </div>
    </a>-->
</section>    