﻿@{
    ViewBag.Title = "_Mobile-Utility-Nav";
}

<!-- Mobile Utility Navigation -->
<section class="secondary-nav--mobile">
    <div class="content1020__wrapper">
        <div class="email-us">
            <figure class="secondary-nav__figure">
                <a class="" href="/contact/contactus">
                    <img src="/img/icons/contact-us.png" alt="Phone Icon" />
                </a>
            </figure>
        </div>
        <div class="location">
            <figure class="secondary-nav__figure">
                <a href="/wisconsin-resort/green-lake-resort">
                    <img src="/img/icons/location-icon.png" alt="Location Icon" />
                </a>
            </figure>
        </div>
        <div class="contact-us">
            <figure class="secondary-nav__figure">
                <a href="/media">
                    <img src="/img/icons/gallery-icon.png" alt="Photo Gallery Icon" />
                </a>
            </figure>
        </div>
    </div>
    <!--<div>Call Us NOW!!!!</div>-->
</section>