﻿<header id="header2" class="header">
    <!--<section class="content1020__wrapper content1020__wrapper--header">-->
        <div class="mobile-nav">

            <a class="nav-btn" id="nav-open-btn" href="#nav">
                <figure class="mobile-nav__figure icon__mobile">
                    <img src="~/img/icons/menu-icon.png" id="open-menu-image" alt="Mobile Menu" />
                    <img src="~/img/icons/close-icon.png" id="close-menu-image" class="no-show" alt="Mobile Menu" />
                </figure>
            </a>

        </div>

        <div class="branding">
            <a href="/">
                <figure class="branding__figure">
                    <img class="branding__image" src="~/img/heidel-house-logo.jpg" alt="Heidel House Resort" />
                </figure>
            </a>
        </div>

        <div class="book-now">
            <a href="https://res.travlynx.com/bbe/page2.aspx?pcode=HCHHRC&LanguageID=1&Rooms=1&PackageID=none&BookingURL=&checkin=10%2F27%2F2014&nights=1&adults=2&children=0" target="_blank">
                <figure class="book-now__figure icon__mobile">
                    <img src="/img/icons/booknow-icon.png" alt="Book Now" />
                </figure>
            </a>
        </div>

        <!-- Desktop Utility Nav -->
        @Html.Partial("_Desktop-Utility-Nav")
        <nav id="nav" class="nav__wrapper" role="navigation">
            <a class="close-btn" id="nav-close-btn" href="#top"><img src="~/img/icons/close-icon.png" /></a>

            @Html.Action("Main", "Menu")

        </nav>
        
        <div class="reserve">
            <div>
                <a class=" btn btn--color2 btn--reservation" onclick="ga('send', 'event', 'primary nav', 'click', 'reservation dropdown');" href="javascript:void(0)">
                    Reserve Now
                </a>
            </div>
        </div>
        <div id="resForm" class="reservation">
            <!-- Populate the values for HotelID and LanguageID below. -->
            <form action="https://res.travlynx.com/bbe/page2.aspx?pcode=HCHHRC&checkin=&nights=1&adults=1&children=0" method="get" name="resform" id="resform" class="reservation__form">
                <input type="hidden" name="pcode" value="HCHHRC">
                <input type="hidden" name="LanguageID" value="1">
                <input type="hidden" name="Rooms" value="1">
                <input type="hidden" name="PackageID" value="none">
                <input type="hidden" name="BookingURL" value="">


                <div class="columns reservation__section">
                    <div id="datePicker-Res"></div>
                    <div class="c3x6 flt-right">
                        <div class="reservation__field">
                            <label class="reservation__label">Check In </label>
                            <input name="checkin" type="text" id="PickupDate" class="reservation__input reservation__input--date" value="">
                        </div>
                        <div class="reservation__field">
                            <label class="reservation__label">Nights:</label>
                            <select name="nights" class="reservation__select--nights">
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="10">11</option>
                                <option value="10">12</option>
                                <option value="10">13</option>
                                <option value="10">14</option>
                            </select>
                        </div>
                        <div class="reservation__field">
                            <label class="reservation__label">Adults:</label>
                            <select name="adults" class="reservation__select--adults">
                                <option value="1">1</option>
                                <option value="2" selected="selected">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="reservation__field">
                            <label class="reservation__label">Children:</label>
                            <select name="children" class="reservation__select--children">
                                <option value="0" selected="selected">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>

                        <input type="submit" value="Book Now" class="btn btn--color1 btn--reserve" formtarget="_blank" onclick="ga('send', 'event', 'primary nav', 'click', 'book reservation'); postIHForm(document.resform); return false;" />
                    </div>
                </div>

            </form>
        </div><!-- End Div for drop down reservation -->
    <!--</section>-->
</header>
