﻿<section class="banner__section">
    <div class="banner__wrapper columns">
        <div class="banner-image c2x6">
            <figure class="banner__figure">
                <img src="https://ipsumimage.appspot.com/180x230" alt="Banner Image" />
            </figure>
        </div>
        <div class="banner-text c4x6">
            <h3 class="banner__header">Banner Callout Text </h3>
            <p class="banner__text">I am text that will make you want to buy the product/hotel/thingy that is deemed buyable.</p>
            <div class="banner-button">
                <a href="" class="btn btn--color2 btn--banner">Buy Now</a>
            </div>
        </div>
    </div>
</section>