﻿<section class="connect__section">
    <div class="connect columns">
        <div class="content1020__wrapper connect__wrapper">
            <div class="c3x6 c-marginRt border-right">
                <h3 class="section__header">Receive Exclusive Content & Travel Deals</h3>
                <form method="get" action="~/contact/emailsignup">
                    <input type="email" id="emailAddress" name="emailAddress" class="input--email" placeholder="Enter Your Email Address Here" /><button type="submit" class="btn btn--color2 btn--submit" onclick="ga('send', 'event', 'button', 'click', 'email get started']);">Get Started</button> 
                </form>
            </div>
            <div class="c3x6 c-marginLft">
                <h3 class="section__header">Discover and follow more Pfister content</h3>
                <ul class="social-icon__list">
                    <li class="social-icon__item"><a href="https://twitter.com/PfisterHotel" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/twitter.svg" alt="twitter icon" /></div><span class="visuallyhidden">Twitter</span></a></li>
                    <li class="social-icon__item"><a href="https://www.facebook.com/thePfisterHotel" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/facebook.svg" alt="Facebook Icon" /></div><span class="visuallyhidden">Facebook</span></a></li>
                    <li class="social-icon__item"><a href="http://www.pinterest.com/pfisterhotel/" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/pinterest.svg" alt="Pinterest Icon" /></div><span class="visuallyhidden">Pinterest</span></a></li>
                    <li class="social-icon__item"><a href="http://instagram.com/thepfisterhotel" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/instagram.svg" alt="Instagram Icon" /></div><span class="visuallyhidden">Instagram</span></a></li>
                    <li class="social-icon__item"><a href="https://plus.google.com/+pfisterhotel/posts" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/googleplus.svg" alt="Google Plus Icon" /></div><span class="visuallyhidden">GooglePlus</span></a></li>
                    
                    <li class="social-icon__item"><a href="http://blog.thepfisterhotel.com/" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/blog-icon2.svg" alt="Blog Icon" /></div><span class="visuallyhidden">Blog</span></a></li>
                    <li class="social-icon__item"><a href="https://www.youtube.com/user/PfisterHotel" target="_blank" class="social__link"><div class="social-icon__block"><img src="~/img/social-icons/youtube.svg" alt="YouTube Icon" /></div><span class="visuallyhidden">YouTube</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>