﻿<div class="fancy-intro">
    <div class="title__section">
        <h2 class="tag-line__header">World Class</h2>
        <h1 class="title-line__header">Accommodations</h1>
    </div>
</div>
<div class="interior-editor">
    <p>
        The vision of businessman Guido Pfister and his son Charles, the Pfister opened in 1893 as a “Grand Hotel of the West” and a welcoming and luxurious meeting place.  It surely succeeded on both fronts. It was the most lavish hotel of its time, constructed at a cost of over $1 million, with groundbreaking features such as fireproofing, electricity throughout the hotel and thermostat controls in every room.
    </p>
    <p>
        Showing it's age, The Pfister was purchased in 1962 by Ben Marcus, who vowed to renovate the distinguished hotel to its original beauty.  Significant renovations were completed and a new 23-story guest room tower added. An extensive art collection continues to grace the walls of The Pfister today .
    </p>
</div>