﻿<section class="fp-image__section">
    <div id="fw-slider" class="mightyslider_paper_skin">
        <div class="frame">
            <div class="slide_element">
                <div class="slide" data-mightyslider="cover: 'https://placehold.it/1700x445', name:'<a href=&quot;#&quot; class=&quot;btn btn--color1&quot;>Click Here</a>', ID: 'cherry-blossoms', caption: 'Lorem ipsum dolor sit amet '"></div>
                <div class="slide" data-mightyslider="cover: 'https://mightyslider.com/assets/img/photos/Bicycle-Macro-Bokeh-1080x1920.jpg', name:'Bicycle Macro Bokeh', ID: 'bicycle', caption: 'Lorem ipsum dolor sit amet'"></div>
                <div class="slide" data-mightyslider="cover: 'https://mightyslider.com/assets/img/photos/girl.jpg', name:'Little girl', ID: 'little-girl', caption: 'Lorem ipsum dolor sit amet. And Other Stuff'"></div>
                <div class="slide" data-mightyslider="cover: 'https://mightyslider.com/assets/img/photos/334513-1920x1080.jpg', name:'Love', ID: 'love', caption: 'Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.'"></div>
                <div class="slide" data-mightyslider="cover: 'https://mightyslider.com/assets/img/photos/joy-wallpaper-1920x1080.jpg', name:'Joy', ID: 'joy', caption: 'Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.'"></div>
            </div>
            <div class="details">
                <div id="caption2">
                    &nbsp;
                </div>
                <div id="callout-button">

                </div>
            </div>
        </div>
    </div>
</section>