﻿<section class="featured__section content1020__wrapper">
    <ul class="featured__list">
        <li class="featured__item">
            <a href="#" class="featured__link">
                <figure class="featured__figure">
                    <img src="https://ipsumimage.appspot.com/630x400" alt="Featured Accomodation" class="crop1" />
                    <img src="https://ipsumimage.appspot.com/370x370" alt="Featured Accomodation" class="crop2" />
                    <figcaption class="featured__caption">
                        Elegant Accommodations
                    </figcaption>
                </figure>
            </a>
            <div class="featured__content">
                <h2 class="featured__header">Elegant Accommodations</h2>
                <p class="featured__text">
                    Enjoy superior accommodations featuring magnificent furnishings, round-the-clock personal service and wireless, high-speed Internet access. Take a deep breath and relax knowing our facility is smoke-free.  On the 23rd floor overlooking Lake Michigan, Blu is Milwaukee’s most sophisticated martini and wine bar with awe-inspiring views.
                </p>
                <a href="#" class="btn btn--color1 btn--more">Read More</a>
            </div>
        </li>
        <li class="featured__item">
            <a href="#" class="featured__link">
                <figure class="featured__figure">
                    <img src="https://ipsumimage.appspot.com/630x400" alt="Featured Accomodation" class="crop1" />
                    <img src="https://ipsumimage.appspot.com/370x370" alt="Featured Accomodation" class="crop2" />
                    <figcaption class="featured__caption">
                        Memorable Events
                    </figcaption>
                </figure>
            </a>
            <div class="featured__content">
                <h2 class="featured__header">Memorable Events</h2>
                <p class="featured__text">
                    Known for fabulous galas and elegant weddings, The Pfister® will make your event sparkle. Plan a meeting or special event in our function space, showcasing captivating ballrooms, intimate boardrooms, and every detail the discerning traveler could request. With a reputation for perfection, The Pfister promises to make your event unforgettable.
                </p>
                <a href="#" class="btn btn--color1 btn--more">Read More</a>
            </div>
        </li>
        <li class="featured__item">
            <a href="#" class="featured__link">
                <figure class="featured__figure">
                    <img src="https://ipsumimage.appspot.com/630x400" alt="Featured Accomodation" class="crop1" />
                    <img src="https://ipsumimage.appspot.com/370x370" alt="Featured Accomodation" class="crop2" />
                    <figcaption class="featured__caption">
                        <span>In the Heart of Downtonw Milwaukee</span>
                    </figcaption>
                </figure>
            </a>
            <div class="featured__content">
                <h2 class="featured__header">In the Heart of Downtown Milwaukee</h2>
                <p class="featured__text">
                    Three blocks from the shores of Lake Michigan, The Pfister® Hotel overlooks downtown Milwaukee’s east side and is moments from exciting attractions including the Milwaukee Art Museum and the Summerfest grounds, which host an unparalleled calendar of events. Museums, theater, shopping, nightlife and much more are within walking distance.
                </p>
                <a href="#" class="btn btn--color1 btn--more">Read More</a>
            </div>
        </li>
    </ul>
</section>
