.banner__section{
	//background-color:$secondary;
	margin:10px 0 20px 0;
	@media #{$mq-mediumScreen}{
		background-color:#fff;
		background-image: url(/img/bkg/call-bar.jpg);
		background-repeat:repeat-x;
		background-position:center center;
	}
}
		
.banner-image {}
.banner__figure {
	text-align:center;
	@media #{$mq-mediumScreen}{
		margin-right:10%;
		float:right;
		max-width:194px;
	}
}
.banner-text {
	color:#fff;
	text-align:center;
	@media #{$mq-mediumScreen}{
		text-align:left;
	}
	ul {
		margin:0.25em 0 0.75em 0;
	}
}

.banner__header {
	color:#fff;
	@media #{$mq-mediumScreen}{
		margin-top:45px;
	}
}
.banner__text {
	background:$secondary;
	margin:15px 0 20px 0;
	@media #{$mq-mediumScreen}{
		background:none;
		margin:15px 0 20px 0;
		width:75%;
	}

}
.banner-button {
	margin: 0 0 25px 0;
}

li.banner__text {
	margin:0;
}