/* Chat */
.chat {
	display:none;
	@media #{$mq-mediumScreen}{
		display:block;
		position:fixed;
		z-index:10000000;
		right:0;
		top:37%;
	}
}
.lpPoweredBy, .lpEmtStarRating {display:none !important;}