/* Contact Us */
.form {
	&__header {
		margin:5px 0;
		@include font-size(0.875);
	}
	&__section {
		margin-top:2em;
		border-top: 1px solid $border;
	}
	&__interests {
		@media #{$mq-largeScreen}{
			margin:0 0 0 2%;
			text-align:center;
			width:98%;		
		}
	}
	&__label {
		margin:10px 0 0 0;
		width:100%;
		@include inline-block;
		@media #{$mq-largeScreen}{
			display:block;
			margin:10px 0 0 2%;
			width:98%;
			&--checkbox {
				display:block;
				width:98%;
			}
		}
	}
	&__input, &__select {
		background-color:#e4e0d3;
		border:0;
		color:$placeholderColor;
		height:45px;
		padding:8px 0 9px 5px;
		width:100%;
		@include inline-block;
		&--file {
			background:none;
			width:100%;
		}
		@media #{$mq-mediumScreen}{
			width:98%;
		}
		@media #{$mq-largeScreen}{
			margin:5px 0 5px 6%;
			width:90%%;
		}
	}
	/* &__select {
		background-color:#e4e0d3;
		border:0;
		color:#fff;
		height:45px;
		padding:8px 0 9px 5px;
		width:100%;
		@include inline-block;
		@media #{$mq-mediumScreen}{
			width:98%;
		}
		@media #{$mq-largeScreen}{
			margin:10px 0;
			width:79%;
		}
	} */
	&__textarea {
		background-color:#e4e0d3;
		border:0;
		color:$placeholderColor;
		height:80px;
		padding:8px 0 9px 5px;
		width:100%;
		@include inline-block;
		@media #{$mq-mediumScreen}{
			height:200px;
			margin:10px 0;
			width:79%;
		}
		@media #{$mq-largeScreen}{
			margin:5px 0 5px 6%;
			width:90%%;
		}
	}
	&__checkbox {
		margin-left: 2%;
	}
}
.file-attachment__note {
	display:block;
	font-style:italic;
}
.rfp__form {
	.form {
		&__label {
			@media #{$mq-largeScreen}{
				margin:10px 1% 0 1%;
				width:29%;
				@include inline-block;
				&--checkbox {
					display:block;
					width:98%;
				}
			}
			&--file {
				display:block;
				width:100%;
			}
		}
		&__input, &__select {
			@media #{$mq-mediumScreen}{
			width:98%;
			}
			@media #{$mq-largeScreen}{
				margin:5px 0 5px 4%;
				width:62%;
			}
		}
		&__textarea {
			@media #{$mq-mediumScreen}{
				height:200px;
				margin:0px 0;
				width:100%;
			}
			@media #{$mq-largeScreen}{
				width:62%;
				margin:5px 0 5px 4%;
				
			}     
		}	
	}
	
	.rfp-content__block {
		border-top:1px dashed $border;
		margin:1em 0;
		padding:1em 0;
	}
	.rfp--contactInformation {
		.form__label {
			@media #{$mq-largeScreen}{
				margin:10px 2% 0 2%;
				width:20%;
				@include inline-block;
				&--checkbox {
					display:block;
					width:98%;
				}
			}
		}
		.form__input, .form__select {
			@media #{$mq-mediumScreen}{
			width:98%;
			}
			@media #{$mq-largeScreen}{
				margin:5px 0 5px 4%;
				width:70%;
			}
		}
	}
	.rfp--generalInformation, .rfp--roomInformation, .rfp--functionInformation {
		&__header {
			margin:0.5em 0;
			text-align:center;
		}

	}
	.checkbox-field {
		background-color:#e4e0d3;
		border:0;
		color:$placeholderColor;
		height:45px;
		padding:8px 0 9px 5px;
		width:100%;
		@include inline-block;
		@media #{$mq-mediumScreen}{
			width:98%;
		}
		@media #{$mq-largeScreen}{
			margin:5px 0 5px 4%;
			width:62%;
		}
	}
}