/* Events */
.events__section {
	@media #{$mq-mediumScreen}{
		padding-top:6em;
	}
	@media #{$mq-largeScreen}{
		padding-top:6em;
	}
}
.event__copy {}

.event-date {
	background:$primary;
	background-image: $navBackground;
	color:#fff;
	margin-top:1em;
	padding:10px 0 5px 0;
	text-align:center;
	width:100%;
	z-index:2;
	&__header {
		color:#fff;
		display:block;
		font-family:$font1;
		text-transform:uppercase;
		@include font-size(1.25);
		@media #{$mq-largeScreen}{
			@include inline-block;
		}
	}
	&__filter {
		@include inline-block;
		margin:0 0 0 2%;
		@media #{$mq-mediumScreen}{
			width:100%;
		}
		@media #{$mq-largeScreen}{
			width:57%;
		}
	}
	&__link {
		&:link, &:visited, &:hover {
			color:#fff;
			font-family:$font1;
			text-decoration:none;
		}
	}
	&__label {
		display:block;
		margin:0.25em 0 0 0;
		@media #{$mq-mediumScreen}{
			margin:0 1% 0 1%;
			@include inline-block;
		}
	}
	&__input {
		background-color:#e4e0d3;
		border:0;
		color:#666;
		display:block;
		//height:45px;
		margin:0.25em 0 0.5em 0;
		padding:6px 0 6px 8px;
		@media #{$mq-mediumScreen}{
			margin:10px 0;
			@include inline-block;
		}
	}
}

.item__figure {
	position:relative;
	img {
		display:block;
		width:100%;
	}
}
.item__figcaption {
	background:$secondary;
	bottom:0;
	padding: 5px 2% 0 2%; 
	position:absolute;
	text-align:center;
	width:100%;
}
.package__figcaption {
	&.community-event {
		background:$altSecondary;
	}
}
.hh-event {

}
.hh-event--hover {
	.community-event__text {
		display:none;
	}
	.hh-event__text {
		display:block;
	}
}

.community-event {

}
.community-event--hover {
	.community-event__text {
		display:block;
	}
	.hh-event__text {
		display:none;
	}
}