.featured__section {
	margin:10px auto;
	padding:10px 0;
	width:90%;
	@media #{$mq-mediumScreen}{
		border-top:1px solid #b4b4b4;
	}
}
.featured__header {
	line-height:1.2;
	font-weight:normal;
	text-transform:uppercase;
	@media #{$mq-mediumScreen}{
		font-family:$font1;
		@include font-size(1.25);
	}
	@media #{$mq-largeScreen}{
		@include font-size(1.37);
	}
}
.three-column-image, .two-column-widget {
	.featured__header {
		margin-top:0.5em;
	}
} 
.featured__list {

}
.featured__item {
	border:1px solid $border;
	margin:20px 0;
	position:relative;
	@include clearfix;
	@media #{$mq-largeScreen}{
		margin:10px 1.5%;
		width:30%;
		@include inline-block(top);
	}
}
/*.featured__item--twoCol {
	margin:20px 0;
	@media #{$mq-largeScreen}{
		margin:10px 1.5%;
		width:46%;
		@include inline-block(top);
	}
}*/
a.featured__link {
	text-decoration:none;
	&:link, &:visited, &:hover {
		color:#fff;
	}
}
.featured__figure{
	@media #{$mq-mediumScreen}{
		min-width:210px;
		width:30%;
		@include inline-block(top);
		img.crop1 {display:none;}
	}
	@media #{$mq-largeScreen}{
		display:none;
	}
}
/*.three-column__figure {
		@media #{$mq-mediumScreen}{
		min-width:210px;
		width:30%;
		@include inline-block(top);
	}
}*/
/*.featured__caption {
	background:$primary;
	color:#fff;
	font-family:$font1;
	padding: 10px 0 5px 0;
	text-align:center;
	text-transform: uppercase;
	&:before {
		content:'\00BB';
		margin-right:7px;
		vertical-align:6%;
	}
	@include font-size(1.25);
	@media #{$mq-mediumScreen}{
		display:none;
	}
}*/
/*.featured__content {
	display:none;
	@media #{$mq-mediumScreen}{
		height:auto;
		margin-left:1%;
		width:65%;
		@include inline-block(top);
	}
	@media #{$mq-largeScreen}{
		margin:0;	
		position:relative;
		width:100%;
	}
}*/


// Wsiwyg Editor Fields
.featured__text {
	a, a:link, a:visited, a:hover {
		color: $primary;
		text-decoration: none;
		border-bottom: 1px dotted $primary;
	}
	p {margin-bottom:1em;}
}
.two-column-widget {
	@media #{$mq-largeScreen}{
		figure {width:100%;}
	}
}

// Three Column Interior
.featured__section--3col {
	.featured__item {
		@media #{$mq-mediumScreen}{
			padding-bottom:1.5em;
			margin-bottom:2.5em;
		}
	}
	.btn--bottompos {
		@media #{$mq-mediumScreen}{
			bottom:-30px;
			position:absolute;
			right:17.5%;
			width:65%;
		}
	}	
}

.featured__figure--3col {
	padding:1em 2% 1em 2%;
	text-align:center;
	@media #{$mq-mediumScreen}{
		float:left;
		padding:1em 0 1em 2%;
		width:30%;
	}
	@media #{$mq-largeScreen}{
		float:none;
		width:100%;
		padding:0;
	}
}
.featured__content--3col {
	padding:1em 4%;
	ul {
		list-style-type: disc;
		margin-left:4%;
		li {
			margin:0.3em 0;
		}
	}
	@media #{$mq-mediumScreen}{
		float:right;
		width:64%;
	}
	@media #{$mq-largeScreen}{
		float:none;
		width:100%;
	}
}

.featured__item {
	background-color: #fbf9f5;
}
//Two Column Interior
.featured__section--2col {

	.featured__item {
		@media #{$mq-mediumScreen}{
			padding-bottom:1.5em;
			margin-bottom:2.5em;
		}
		@media #{$mq-largeScreen}{
			margin:10px 1.5%;
			width:46%;
			@include inline-block(top);
		}
	}
	.btn--bottompos {
		@media #{$mq-mediumScreen}{
			bottom:-30px;
			position:absolute;
			right:25%;
			width:50%;
		}
	}
}

.featured__figure--2col {
	padding:1em 2%;
	@media #{$mq-mediumScreen}{
		float:left;
		padding:1em 0 1em 2%;
		width:30%
	}
	@media #{$mq-largeScreen}{
		float:none;
		padding:0;
		width:100%;
	}
}
.featured__content--2col {
	padding:1em 4%;
	ul {
		list-style-type: disc;
		margin-left:4%;
		li {
			margin:0.3em 0;
		}
	}
	@media #{$mq-mediumScreen}{
		float:right;
		width:64%;
	}
	@media #{$mq-largeScreen}{
		float:none;
		width:100%;
	}
}