//Footer
.footer-top{
	background: $altSecondary;
	background-image:$footerBackground;
	background-repeat: repeat-x;
	background-size:cover;
	//height:16.9375em;
	padding:1em 0;
	@include box-shadow(0 5px 20px #ccc inset);
	@media #{$mq-largeScreen}{
		height:16.9375em;
	}
}
.footer-bottom {
	color:#55524d;
	background:#fff;
	padding:1.5em 0;
	text-align:center;
	@include box-shadow(0px 5px 35px #666 inset);
}

.footer{
	margin-top:1.5em;
	&__header {
		color:#fff;
		margin:1em 0 0.5em 0; 
		text-decoration: underline;
		text-transform: uppercase;
		@media #{$mq-mediumScreen}{
			margin:2em 0 1em 0;
		}
	}
	&__address {
		color:#fff;
		font-style: normal;
	}
	&__phone {
		a, a:link, a:visited, a:hover {
			color:#fff;
			&:phone__link {
				cursor:default;
			}
		}
	}
}

.site-map {
	text-align:center;
	@media #{$mq-mediumScreen}{
		border-right:1px solid #fff;
		margin:1em 0 1em 14%;
		text-align:left;
	}
	&__list {
		margin-right:13%;
		text-align:left;
		@include inline-block;
		&:last-child {
			margin-right:0;
		}
	}
	&__item {}
	&__link {
		&:link, &:visited, &:hover {
			color:#fff;
			text-decoration:none;
			@include font-size(0.875);

		}
	}
}


.connect {
	padding:0 9%;
	text-align:center;
}

.social-icon {
	&__list {
		text-align:center;
	}
	&__item {
		max-width:45px;
		width:12%;
		margin-right:1%;
		@include inline-block;
		&:last-child {
			margin-right:0;
		}
		@media #{$mq-mediumScreen} {
			width:20%;
			margin-right:7%;
		}
	}
	&__block {
		//background:$primary;
		padding:0.25em 0.25em 0 0.25em;
	}
}


.contact {
	text-align:center;
	@media #{$mq-mediumScreen}{
		border-left:1px solid #fff;
		padding-left:9%;
		text-align:left;
	}
}

.copyright {
	//padding-bottom:70px;
	@include font-size(0.625);
}
