

.header {
	//display:none;
	//background:$primary;
	background:$navBackground;
	background-repeat: repeat;
    //height:92px;
    min-width:320px;
    //top:39px;
	width:100%;
	z-index:1001;
	position:relative;
	@include clearfix;
	//@include box-shadow(0px 6px 18px black);
    @media #{$mq-mediumScreen}{
        //height:110px;   
    }
	@media #{$mq-largeScreen}{
		background:none;
		//overflow:hidden;
        //height:92px;
        position:fixed;
	}
}

.mobile-nav {
	float:left;
	padding-left:2%;
	width:20%;
	@include inline-block;
    &__figure {
    	padding-top:1.5em;
    	max-width:45px;
    }
    @media #{$mq-largeScreen}{
        display:none;
    }
}
.branding {
	text-align:center;
	width:56%;
	@include inline-block;
	vertical-align:top;
	z-index:1000000;
	position:absolute;
    @media #{$mq-mediumScreen}{
       //width:100%;
       position:absolute;
       top:0;
    }
	@media #{$mq-largeScreen}{
		left:2%;
        text-align:center;
        width:15%;
	}
	&__figure {
		margin:0 auto;
		max-width:150px;
	}
}
.branding-figure {
	//min-width:150px;
}
.book-now {
	float:right;
	margin-right:2%;
	@include inline-block;
	&__figure {
		max-width:60px;
		padding-top:0.75em;
	}
    @media #{$mq-mediumScreen}{
		display:none;
	}
}
