//Interior Header
.page-header {
	//background-image: url('/img/bkg/paper.jpg');
	//padding:23px 0;
	text-align:center;
	//margin-bottom:1.5em;
	@media #{$mq-largeScreen}{
		padding-top:60px;
	}
	img {display:block;}
}
.page-header__figure {}
.page-header__image {
	display:block;
	width:100% !important;
	height:auto !important;
	max-width:3000px !important;
} 