.landing-intro {
	&__bkgrd {
		background-image: $introBackground;
		background-size:100%;
		background-repeat: no-repeat;
		background-position:bottom;
		padding:1em 0;
	}
	&__section {
		margin: 20px auto;
		min-height:375px;
		max-width:585px;
		width: 90%;
		@media #{$mq-mediumScreen}{
			min-height:500px;
			width:50%;
		}
	}
	&__header {
		font-family: $font1;
		font-weight:normal;
		text-transform:uppercase;
		@include font-size(1.625);
		@media #{$mq-mediumScreen}{
			@include font-size(2.125);
		}
		@media #{$mq-largeScreen}{
			@include font-size(2.5);
		}
	}
	&__subheader{
		font-family: "cac_leslieregular";
		//text-transform:uppercase;
		line-height:1;
		@include font-size(1.9);
		@media #{$mq-mediumScreen}{
			line-height:0.8;
			@include font-size(3);
		}
		@media #{$mq-largeScreen}{
			line-height:0.5;
			@include font-size(5);
		}
	}
}

.fancy-intro {
	text-align:center;
	/* &:before {
		background-color:#827e75;   
		content:"";
		height:2px;
		margin-right:2%;
		width: 6%;
		@include inline-block;
		@media #{$mq-mediumScreen}{
			width:48px;
		}				
		@media #{$mq-largeScreen}{
			width:58px;
		}

	} */
	/* &:after {
		background-color:#827e75;
		content:"";
		height:2px;
		margin-left:2%;
		width: 6%;
		@include inline-block;
		@media #{$mq-mediumScreen}{
			width:48px;
		}
		@media #{$mq-largeScreen}{
			width:58px;
		}
	} */
}
.title__section {
	@include inline-block;
	@media #{$mq-mobileOnly}{
		max-width:80%;
	}
}
.tag-line__header {
	font-family: "Georgia";
	//text-transform:uppercase;
	@include font-size(1);
	@media #{$mq-mediumScreen}{
		@include font-size(0.875);
	}
	@media #{$mq-largeScreen}{
		@include font-size(1);
	}
}

.title-line__header {
	font-family: $font2;
	font-weight:normal;
	text-transform:uppercase;
	@include font-size(1.625);
	@media #{$mq-mediumScreen}{
		@include font-size(2.125);
	}
	@media #{$mq-largeScreen}{
		@include font-size(2.5);
	}
}


.intro {
	/*&__figure {
		display:none;
		@media #{$mq-largeScreen}{
			margin-right:2%;
			width:22%;
			@include inline-block;
		}
	}*/
	&__text {
		@include font-size(1);
		@media #{$mq-largeScreen}{
			//width:75%;
			@include font-size(1.25);
			@include inline-block(top);
		}
	}
}

.interior__header {
	text-align:center;
}

.interior-editor {
	margin-top:30px;
	text-align:center;
	a:not(.btn) {
		&:link, &:visited, &:hover {
			border-bottom:1px dotted $primary;
			color:$primary;
			text-decoration: none;
		}
	}
	p {
		color: $textColor;
		margin-bottom:1em;
		a:not(.btn) { 
			&:link, &:visited, &:hover {
				border-bottom:1px dotted $primary;
				color:$primary;
				text-decoration: none;
			}
		}
	} 
	ul {
		list-style-type:disc;
		margin-left:2%;
		padding-left:2%;
	}
}

a.text-link {
	&:link, &:visited, &:hover {
		border-bottom:1px dotted $primary;			
		color:$primary;
		text-decoration: none;
	}
}