.location__section {
	padding: 40px 0 0 0;
	p {
		margin:0 auto; 
		max-width:500px;
		text-align:center;
		@include font-size(0.975);
	}
}
.location-top{
	margin-bottom:40px;
}
.location-map {
	&:after {
		content:"";
		display:block;
		height:15px;
		width:100%;
		background-image:url('/img/bkg/red-bar.jpg');
		background-repeat: repeat-x;
	}
	margin-bottom:40px;
}
.location-map__figure {
	img {
		display:block;
		max-width:none;
		width:100%;
	}
}