/* Logo - Copy - Button Widget */

.detail-overview {
	border:1px dotted $primary;
	&__header {
		text-transform:uppercase;
		//@include font-size(1.5);
	}
	&__container {
		padding:1em 0;
		margin:0 3%;
		width:94%;
		@media #{$mq-mediumScreen}{
			margin:0;
			width:65.16666%;
		}
	}
	&__copy {
		min-height:100px;
		a, a:link, a:hover, a:visited {
			color:$primary;
			text-decoration: none;
			border-bottom:1px dotted $primary;
		}
		ul {
			margin-left:20px;
		}
		li {
			list-style-type: disc;
		}
	}
	&__buttons {
		margin:1em 0;
	}
	&__figure {
		img {display:block;}
		@media #{$mq-mediumScreen}{
			padding:1em 6%;
		}
	}
}
.btn--reserveNow, .btn--website {
	display:block;
	@media #{$mq-mediumScreen}{
		@include inline-block;
	}
}