.image-gallery__section {
	border-bottom:1px solid $border;
	padding: 25px 0;
}
#pic-count {
	background:#fff;
	padding:5px 0;
	text-align:center;
}
.image-gallery--interior {
	padding:25px 0;
}

.interior-gallery__section {
	background-image: $imagecalloutBackground;
	background-repeat: repeat;
}
.image-gallery__copy {
	@media #{$mq-mobileOnly}{
		margin:0 auto 35px auto;
		width:90%;
	}
}