.small-header {
  img {
      //max-height:335px;
    }
}
.packages__section {
  overflow:hidden;
  padding-top:1.5em;
  @media #{$mq-mediumScreen}{
    padding-top:1.5em;
  }
  @media #{$mq-largeScreen}{
    padding-top:6em;
  }
}
.filter {
  text-align:center;
  text-transform:uppercase;
  &__list {}
  &__button {
    border:0;
    background:none;
    font-family: $font1;
    text-transform:uppercase;
    @include inline-block;
    &.is-checked {
      color:#fff;
      background:$primary;
      border:0;
    }
  }
}

.packages {
  display:block;
  clear:both;
}

/* ---- isotope ---- */

.package {
  &__figure {
    padding-bottom:1em;
    position:relative;
    img {width:100%;}
  }
  &__figcaption {
    color:#fff;
    background: $secondary;
    bottom:0;
    font-family: $font1;
    padding:0.3em 1% 0.2em 1%;
    position:absolute;
    text-align:center;
    width:100%;
    @include font-size(1.25);
    @media #{$mq-mediumScreen}{
      @include font-size(1);
    }
  }
  &__date {
    //background:rgba(158,56,52, 0.75);
    background: rgba(0,0,0,0.5);
    color:#fff;
    display:none;
    font-weight:bold;
    position:absolute;
    height:100%;
    text-align:center;
    top:0;
    padding:15% 5% 0 5%;
    width:100%;
    @include font-size(1.25);
    @media #{$mq-mediumScreen}{
      @include font-size(1.25);
    }
  }
}

/* clear fix */
.packages:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 96%;
  margin: 2%;
  //padding: 10px;
  background: #888;
  color: #262524;
  &__link {
    text-decoration: none;
    color:#fff;
  }
  @media #{$mq-mediumScreen}{
    width:21%;
    margin:2%;
  }
  &:hover {
    .package__date {display:block;}
  }
}

.element-item > * {
  margin: 0;
  padding: 0;
}

// Packages Detail Page 
.package-details {
  //&__section{}
  //&__image {}
  //&__figure {}
  //&__social {}
  //&__copy {}
  &__header--pricing {
    text-align:center;
    width:100%;
    @include font-size(1);
  }
  &__description {
    ul {
      list-style-type:disc;
      margin:0 3%;
      padding:0 1%;
    }
  }
  &__shortdescription {
    margin:1.5em 0;
  }
  &__buttons {
    margin:2em 0 2em 0;
    @media #{$mq-mediumScreen}{
      float:none;
      margin:1em 3%;
      width:94%;
    }
    @media #{$mq-largeScreen}{
      float:right;
      margin:0;
      width:48.5%;
    }
  }
}

.similar-packages {
  margin:35px 0 0 0;
  &__list {
    max-width:800px;
    margin:0 auto;
    text-align:center;
  }
  &__item {
    margin:1em 2%;
    max-width:320px;
    width:96%;
    @include inline-block;
    @media #{$mq-smallScreen}{
      margin:1em 2% 1em 0;
      width:47%;
      &:last-child {
        margin-right:0;
      }
    }
    @media #{$mq-mediumScreen}{
      //margin:0 2% 0 0;
      max-width:200px;
      width:23.5%;
      &:last-child {
        margin-right:0;
      }
    }
  }
  &__link {
    &:hover, &:visited, &:link {
      color:$gridText;
    }
  }  
  &__figure {
    position:relative;
    img {
      display:block;
      width:100%;
      @media #{$mq-mediumScreen}{
        @include opacity(0.7);
      } 
    }
    &:hover {
      img {@include opacity(1.0);}
    }
  }
  &__figcaption {
    //bottom:0;
    //position:absolute;
    margin:0.25em 0;
    text-align:center;
    text-transform: uppercase;
  }
}

#datepicker2 {
  display:none;
  &.hasDatepicker {
    float:none;
    width:100%;
  }
  @media #{$mq-mediumScreen}{
    display:block;
  }
}

.event-menus {
  .similar-packages__item {
    margin:0.5em 2%;
    width:96%;
    @media #{$mq-mediumScreen}{
      width:22%;
      margin:0.5em 1%;

    }
  }
}

// Booking __section
.booking-section {
  &__calendar {
    @media #{$mq-mediumScreen}{
      float:none;
      width:100%;
    }
    @media #{$mq-largeScreen}{
      float:left;
      width:48.5%;
    }
  }
  .reservation__field {
    display:none;
    @media #{$mq-mediumScreen}{
      display:block;
      text-align:center;
      color:#fff;
    }
  }
  @media #{$mq-mediumScreen}{
    background:$primary;
    margin-left:2%;
    padding:1em 2%;
    &__wrapper {
      background:$reservationBackground;
      padding:0.5em 1%;
    }
  }
}

//Overrides for Events since they changed layout
.package-details__section--events {
    .package-details__header--pricing {
      margin:0.5em 0;
    }
    .package-details__description {
      @media #{$mq-largeScreen}{
        margin:0 auto;
        width:75%;
      }
    }
    .package-details__buttons {
      margin:1.5em 0 0.5em 0;
      text-align:right;
    }
}

// Update to widget for phone number only
.booking-phone {
  text-align:center;
  padding:1em 2%;
  &__text {}
  &__link {
    &:link, &:visited, &:hover {
      color:$primary;
      cursor:default;
      font-weight:bold;
      @include font-size(1.5);
    }
  } 
}
