/* Photo Album */
.photo-albums{
	margin:15px 0;
	text-align:center;
}
.album {
	@include inline-block;
	margin:0 4% 15px 0;
	width:46%;
	&:nth-child(1n) {
		margin-left:0;
	}
	&:nth-child(2n) {
		margin-right:0;
	}
	@media #{$mq-mediumScreen}{
		margin:0 1% 15px 1%;
		width:32%;
		&:nth-child(1n) {
			margin-left:0;
		}
		&:nth-child(3n) {
			margin-left:0;
		}
	}
}
.album__figure {}
.album__figcaption{
	font-family:$font1;
	text-transform:uppercase;
	
}
.album__link {
	&:link, &:visited, &:hover {
		text-decoration:none;
		color:$textColor;
	}
}