/* Reservation Form */
.reserve {
	display:none;
	@media #{$mq-mediumScreen}{
		display:block;
		position:absolute;
		top:27px;
		right:2%;
		width:50%;
		text-align:right;
	}
	@media #{$mq-largeScreen}{
		position:relative;
		top:0;
		right:0;
		display:block;
		max-width:1020px;
		margin:0 auto;
		padding-top:2px;
		width:100%;
	}
}
.reservation {
	display:none;
	@media #{$mq-mediumScreen}{
		background: $primary;
		clear:both;
		margin-right:10%;
		margin-left:10%;
		padding:15px 2%;
		width:80%;
	}
	@media #{$mq-largeScreen}{
		float:right;
		width:40%;
	}
	&__field {
		margin:0 0 10px 0;
		@include clearfix;
	}
	&__form {}
	&__label{}
	&__input {
		&--date {
			padding:0 1% 0 0;
		}
	}
	&__select {
		&--nights {
			margin-left:12%;
		}
		&--adults {
			margin-left:15%;
		}
		&--children {
			margin-left:8%;
		}
	}
	@media #{$mq-mobileOnly}{
		display:none !important;
	}
}
#datePicker-Res {
	&.hasDatepicker {
		float:left;
		width:50%;
	}
}
.hasDatepicker {
	//float: left;
	//width:50%;
}

.ui-datepicker table {
	@include font-size(0.65);
}

.ui-datepicker .ui-datepicker-title {
	font-size:0.65em;
}

li.btn--reservation:hover {
	.reservation {display:block;}	
}

.reservation__section {
	background:$reservationBackground;
	padding:1em 3%;
}
#ui-datepicker-div {
	max-width:200px;
}