// Room Type Widget
.room-type__section {}
.room-type__list {}
.room-type__item {
	margin-bottom:2em;
}
.room-overview {
	background: #f0f1ec;
	padding:15px 2%;
}
.room-type__figure {
	margin-bottom:2em;
	overflow:hidden;
	position:relative;
	img {
		display:block;
		height:auto !important;
	}
	@media #{$mq-mediumScreen}{
		margin-bottom:0;
	}
}

.room-type__copy {
	min-height:100px;
}
.room-detail__copy {
	a:not(.btn) {
		&:link, &:visited, &:hover {
			border-bottom:1px dotted #fff;
			color:#fff;
			text-decoration: none;
		}
	}
}
.room-type__buttons{}

//move to buttons.scss
.btn--roomGallery {
	display:block;
	text-align:center;
	@media #{$mq-mediumScreen}{
		bottom:5px;
		position:absolute;
		right:19%;
		width:56%;
		//right:30%;
		//left:30%;
	}
	@media #{$mq-largeScreen}{	
		width:50%;
		right:25%;
		//right:36%;
		//left:36%;
	}
}
.btn--bookNow{
	display:block;
	width:100%;
	@media #{$mq-mediumScreen}{
		width:215px;
	}
}
.btn--editor {
	background-color:#666;
}
.btn--roomDetails{
	display:block;
	margin:15px 0 0 0;
	width:100%;
	@media #{$mq-mediumScreen}{
		width:215px;
	}
}


.room-details {
	background:$primary;	
	color:#fff;
	display:none;
	padding:15px 2%;
}
.no-js .room-details {display:block;}
.room-detail__copy {
}
.amenities__header {
	color:#fff;
	font-family:$font1;
	text-transform:uppercase;
}
.amenities {
	@media #{$mq-mediumScreen}{
		padding-left:2%;
		width:44%;
	}
}

.amenities__list {
	list-style-type:disc;
	margin-left:4%;
	padding-left:2%;
	//width:44%;
}
.amenities__item {
	@include font-size(0.875); 
}