/* Sitemap */
.sitemap__wrapper {
	background-image: url(/img/bkg/seamless_paper_texture.png);
	background-repeat: repeat;
	padding:2em 0;
	@media #{$mq-mediumScreen}{
    	padding-top:6em;
  	}
  	@media #{$mq-largeScreen}{
    	padding-top:6em;
  	}
}
.sitemap {
	
	&__link {	
		&--homepage {
			display:none;
			@include font-size(2);
		}
	}
	
}
.sitemap {
ul {
	li {			
		ul {				
			margin-left:2%;
			li {
				margin-top:1.5em;
				a {
					&:link, &:hover, &:visited {
						color:$primary;
					}
				}
				font-family:$font1;
				@include font-size(1.5);
				ul {
					margin-left:2%;
					li {
						margin-top:0;
						a {
							&:link, &:hover, &:visited {
								color:$textColor;
							}
						}
						@include font-size(1);
						font-family:"Georgia";
						ul {
							margin-left:2%;
							li{
								@include font-size(0.75);
							}
						}
					}
				}
			}
		}
	}
}
}