// Sub-Navigation
.aside-nav {
	display:block;
}
.aside__nav--medium {
	@media #{$mq-largeScreen}{
		display:none;
	}
}
.aside__nav--large {
	display:none;
	@media #{$mq-largeScreen}{
		display:block;
	}
}
.aside-nav__header{}
.aside-nav__list {
	padding:10px 2%;
	border:1px dashed #b5b0a6;
	margin-bottom:2em;
	@media #{$mq-largeScreen}{
		padding:0;
		border:none;
		@include font-size(0.875);
	}
}
.aside-nav__link {
	&:visited, &:hover, &:link {
		color:#000;
		font-family: $font1;		
		padding-left:5px;
		text-decoration:none;
		text-transform: uppercase;
	}
}
.aside-nav__item {
	font-weight:bold;
	margin:2.5px 0;
	padding:2.5px 0;
	&.active {
		a, a:link, a:active, a:visited {
			color:$primary;
		}
		ul > li > a {
			color:#000;
			&:link, &:hover, &:visited {
				color:#000;
			}
		}
		/* > ul 
			{
				display:block;
				left:15px;
				opacity:1;
				position:relative;
			} */
	}
	&.hasChild {
		&:before {
			content:"";
			@include arrow(right, $primary, 5px);
			@include inline-block;
		}
		&.open {
			&:before {
				content:"";
				@include arrow(bottom, $primary, 5px);
				@include inline-block;
			}
		}
	}
	&.noChild {
		&:before {
			content:"";
			@include arrow(right, #fff, 5px);
			@include inline-block;
		}
		/* &.open {
			&:before {
				content:"";
				@include arrow(bottom, #fff, 5px);
				@include inline-block;
			}
		} */
	}
	  
	.aside-nav__link {}
} 
.aside-nav__link {}
.aside-nav__list--secondary {
	//display:none;
	position:absolute;
	opacity:0;
	left:-22000px;
	//margin-left:25px;
}
.aside-nav__item--secondary {
	font-weight:normal;
	&:before {
		content:"\00BB";
		color:$primary;
	}
}

.no-js {
	.aside-nav__list--secondary {display:block;}
}

.effectFadeInDown
{
	visibility:visible;
	opacity:1;
	position:relative;
	//transition: opacity 1s linear;
	left:15px;
	//transform: fadeInDown;
//animation:fadeInDown;
//-webkit-animation:fadeInDown 10s; /* Safari and Chrome */
}
.effectFadeOut {
	visibility:hidden;
	opacity:0;
	position:absolute;
	//transition:opacity 1s linear;
}