//Utility-Navigation
.utility-nav__wrapper {
	width:100%;
	background:#b8ac95;
}

.utility-nav--desktop { 
	display:none;
	@media #{$mq-mediumScreen}{
		//display:block;
		//position:absolute;
		//top:0;
		//right:0;
		.ut-nav--phone {
		//	display:block; 
		//	margin:10px 0 0 10%;
		}
	}
    @media #{$mq-largeScreen}{
        display:block;        
        font-family: $font1;
        margin:0 auto;
        overflow:hidden;
        position:relative;
        padding-right:1%;
        text-align:right;
        width:1020px;
        .ut-nav--phone {@include inline-block; margin:0;}
    }
}
.ut-nav__list {
	@media #{$mq-largeScreen}{
		float:right;
	}
}
.ut-nav__item {
	//padding:5px 5px;
	@include inline-block;
}
.ut-nav__link {
	border-right:1px solid $utilityNav;
	color:$utilityNav;
	padding-right:10px;
	@include font-size(0.875);
	&:link, &:hover, &:visited {
		color:$utilityNav;
		text-decoration:none;
		text-transform:uppercase;
	}
	@media #{$mq-mediumScreen}{
		@include font-size(0.75);
	}
	@media #{$mq-largeScreen}{
		@include font-size(0.875);
	}
}
.ut-nav--search, .ut-nav--phone {
	a.ut-nav__link {
		border:0;
	}
}
.ut-nav--search {
	display:none;
	@media #{$mq-largeScreen}{
		@include inline-block;
	}
	input.search {
		padding:2px 0 2px 12px;
		@include font-size(0.75);
		@include border-radius(10px);
	}
}
.phone-icon {
	@include inline-block;
}
.ut-nav--phone a.ut-nav__link{
	//@include font-size(1.5);
}
// Mobile Only


.secondary-nav--mobile {
	background:$primary;
	@include box-shadow(inset 0px 0px 35px #000);
	@media #{$mq-mediumScreen}{
		display:none;
	}
}
.secondary-nav__figure {
	max-width:60px;
}
.email-us {
	text-align:left;
	width:32%;
	@include inline-block;
	.secondary-nav__figure {
		float:left;
		//margin-top:1.5em;
	}
}
.location {
	text-align:center;
	width:32%;		
	@include inline-block;
	.secondary-nav__figure {
		margin:0 auto 0 auto;
	}
}
.contact-us {
	text-align:right;
	width:32%;		
	@include inline-block;
	.secondary-nav__figure {
		float:right;
		//margin-top:1.5em;
	}
}