﻿@model IEnumerable<HotelWebsite.Models.Pages.PageModel>
<div class="breadcrumb">
    @{ var x = 0; }
    @foreach(var item in Model) {
        if (!String.IsNullOrEmpty(item.FriendlyUrl) && item.FriendlyUrl.IndexOf("/") > 0) { item.FriendlyUrl = "/" + item.FriendlyUrl; }

        var url = !String.IsNullOrEmpty(item.RedirectToUrl) ? item.RedirectToUrl : item.FriendlyUrl;
        var menuText = !String.IsNullOrEmpty(item.MenuText) ? item.MenuText : item.PageName;
        
        <a href="@url">@menuText</a> 
        if (x+1 < Model.Count()) {
            @: /
        }
        x++;
    }
</div>