﻿@model IEnumerable<HotelWebsite.Models.Pages.PageModel>
<ul class="nav__list nav__list--primary">
    @if (Model != null)
    {
        foreach (var item in Model)
        {

            if (!String.IsNullOrEmpty(item.FriendlyUrl) && item.FriendlyUrl.IndexOf("/") > 0) { item.FriendlyUrl = "/" + item.FriendlyUrl; }

            var url = !String.IsNullOrEmpty(item.RedirectToUrl) ? item.RedirectToUrl : item.FriendlyUrl;
            var menuText = !String.IsNullOrEmpty(item.MenuText) ? item.MenuText : item.PageName;
            var menuClass = item.CssClass;

            <li class="nav__item nav__item--primary">
                <a href="@url" class="nav__link nav__link--primary notouchNav @menuClass" onclick="ga('send', 'event', 'primary nav', 'click', '@menuText');">@menuText</a>
                <a href="javascript:void(0)" class="nav__link nav__link--primary touchNav">@menuText</a>

                @if (item.Children.Any())
                {
                    <ul class="nav__list nav__list--secondary">
                        <li class="nav__item nav__item--secondary touchNav">
                            <a href="@url" class="nav__link nav__link--secondary touchNav">View @menuText</a>
                        </li>
                        @foreach (var child in item.Children)
                        {

                            if (!String.IsNullOrEmpty(child.FriendlyUrl) && child.FriendlyUrl.IndexOf("/") > 0) { child.FriendlyUrl = "/" + child.FriendlyUrl; }

                            var childUrl = !String.IsNullOrEmpty(child.RedirectToUrl) ? child.RedirectToUrl : child.FriendlyUrl;
                            var childMenuText = !String.IsNullOrEmpty(child.MenuText) ? child.MenuText : child.PageName;
                            var childMenuClass = child.CssClass;


                            <li class="nav__item nav__item--secondary">
                                <a href="@childUrl" class="nav__link nav__link--secondary @childMenuClass" onclick="ga('send', 'event', 'primary nav', 'click', '@childMenuText');">@childMenuText</a>
                            </li>
                        }

                    </ul>
                }
                else
                {
                    <ul class="nav__list nav__list--secondary touchNav__list">
                        <li class="nav__item nav__item--secondary touchNav">
                            <a href="@url" class="nav__link nav__link--secondary touchNav">View @menuText</a>
                        </li>
                    </ul>
                }
            </li>
        }
    }
</ul>