﻿@model IEnumerable<HotelWebsite.Models.Pages.PageModel>

<ul class="aside-nav__list">
    @if(Model != null) {
        foreach (var item in Model)
        {
            var activeClass = item.Id.ToString() == ViewBag.PageId ? "active open" : "";
            
            if (!String.IsNullOrEmpty(item.FriendlyUrl) && item.FriendlyUrl.IndexOf("/") > 0) { item.FriendlyUrl = "/" + item.FriendlyUrl; }

            var url = !String.IsNullOrEmpty(item.RedirectToUrl) ? item.RedirectToUrl : item.FriendlyUrl;
            var menuText = !String.IsNullOrEmpty(item.MenuText) ? item.MenuText : item.PageName;
            var hasChild = "noChild";
            
            if (item.Children.Any()) {
                hasChild = "hasChild";
            }
            <li class="aside-nav__item @hasChild @activeClass">
                

                @if (item.Children.Any())
                {
                    <a href="javascript:void(0)" class="aside-nav__link">@menuText</a>
                    <ul class="aside-nav__list--secondary">
                        <li class="aside-nav__item--secondary">
                            <a href="@url" class="aside-nav__link">View @menuText</a>
                        </li>
                        @foreach(var child in item.Children) {
                            var ChildActiveClass = child.Id.ToString() == ViewBag.PageId ? "active" : "";
                            
                            if (!String.IsNullOrEmpty(child.FriendlyUrl) && child.FriendlyUrl.IndexOf("/") > 0) { child.FriendlyUrl = "/" + child.FriendlyUrl; }
                        
                            var childUrl = !String.IsNullOrEmpty(child.RedirectToUrl) ? child.RedirectToUrl : child.FriendlyUrl;
                            var childMenuText = !String.IsNullOrEmpty(child.MenuText) ? child.MenuText : child.PageName;
                    
                            <li class="aside-nav__item--secondary @ChildActiveClass">
                                <a href="@childUrl" class="aside-nav__link">@childMenuText</a>
                            </li>
                        }
                        
                    </ul>
                }
                else
                {
                    <a href="@url" class="aside-nav__link">@menuText</a>
                }
            </li>
        }
    }
</ul>