﻿@model HotelWebsite.Models.Forms.ContactModel

@{
    ViewBag.Title = "Wisconsin Meetings | Heidel House Resort and Spa | Green Lake, Wisconsin";
    ViewBag.SeoPageDescription = "Heidel House Resort's conference center offers state-of-the-art business meeting rooms, boardrooms & banquet halls for your next event. Reserve today!";
}

<div class="page-header">
    <figure class="page-header__figure">
        <img class="page-header__image" src="~/img/bkg/default-header-image.jpg" alt="Heidel House Header Image" />
    </figure>
</div>

<section class="content1020__wrapper one-column__content">
    <br/>
    <h1 class="section__header">Request for Proposal</h1>
    <p>Our job is to help make your event planning as easy as possible. Think of this as the starting point for your perfect event. After we receive this information, a member of our sales team will be in contact with you shortly.</p>
    <p>After we receive your information, a member of our sales and catering team will be in contact with you shortly. If you have your own RFP you would prefer to use, please send it  to <a href="mailto:vfabella@heidelhouse.com">vfabella@heidelhouse.com</a>.</p>
    <form id="rfp" enctype="multipart/form-data" class="rfp__form" method="post" action="https://api.marcusapps.com/forms/submissions/post" onsubmit="$('#formSubmit').val('Loading...').attr('disabled', '').addClass('disabled');">
        <input type="hidden" name="formKey" value="base-hotel" />
        <input type="hidden" name="redirectUrl" value="http://www.marcusapps.com/" />
        <div class="rfp--fileInformation">
            @Html.LabelFor(model => Model.File, "Attach Meeting Specs or Complete the Form Below", new { @class = "form__label form__label--file" })
            @Html.TextBoxFor(model => model.File, new { @class = "form__input form__input--file", type = "file" })
            <span class="file-attachment__note">Note: Only PDF and Microsoft Word documents will be accepted. File size must be 2MB or lower.</span>
        </div>
        <div class="rfp-content__block rfp--contactInformation">
            <h3 class="section__title">Contact Information</h3>
            <div class="columns">
                <div class="c3x6">
                    @Html.LabelFor(model => Model.FirstName, "First Name*:", new { @class = "form__label" })
                    @Html.TextBoxFor(model => Model.FirstName, new { @class = "form__input", type = "text", placeholder = "First Name*", tabindex = "1", required = "required" })

                    @Html.LabelFor(model => Model.Company, "Company:", new { @class = "form__label" })
                    @Html.TextBoxFor(model => Model.Company, new { @class = "form__input", type = "text", placeholder = "Company", tabindex = "3" })

                    @Html.LabelFor(model => Model.Address1, "Address:", new { @class = "form__label" })
                    @Html.TextBoxFor(model => Model.Address1, new { @class = "form__input", type = "text", placeholder = "Address", tabindex = "5" })

                    <label class="form__label">State:</label>
                    <select class="form__select" tabindex="7">
                        <option>State</option>
                    </select>

                    @Html.LabelFor(model => Model.PhoneNumber, "Phone:*", new { @class = "form__label" })
                    @Html.TextBoxFor(model => Model.PhoneNumber, new { @class = "form__input", type = "tel", placeholder = "xxx-xxx-xxxx*", tabindex = "9", required = "required" })

                </div>

                <div class="c3x6">
                    @Html.LabelFor(model => Model.LastName, "Last Name:*", new { @class = "form__label" })
                    @Html.TextBoxFor(model => Model.LastName, new { @class = "form__input", type = "text", placeholder = "Last Name*", tabindex = "2", required = "required" })

                    @Html.LabelFor(model => Model.EmailAddress, "Email:*", new { @class = "form__label" })
                    @Html.TextBoxFor(model => Model.EmailAddress, new { @class = "form__input", type = "tel", placeholder = "email@example.com*", tabindex = "4", required = "required" })

                    @Html.LabelFor(model => Model.City, "City:", new { @class = "form__label" })
                    @Html.TextBoxFor(model => Model.City, new { @class = "form__input", type = "text", placeholder = "City", tabindex = "6" })

                    @Html.LabelFor(model => Model.ZipCode, "Zip:", new { @class = "form__label" })
                    @Html.TextBoxFor(model => Model.ZipCode, new { @class = "form__input", type = "text", placeholder = "Zip Code", tabindex = "8" })

                    @Html.LabelFor(model => Model.FaxNumber, "Fax:", new { @class = "form__label" })
                    @Html.TextBoxFor(model => Model.FaxNumber, new { @class = "form__input", type = "tel", placeholder = "xxx-xxx-xxxx", tabindex = "10" })

                </div>
            </div>
        </div>

        <div class="columns rfp-form--section">
            <div class="rfp-content__block rfp--generalInformation">
                <h3 class="section__title">General Information</h3>
                @Html.LabelFor(model => Model.GroupName, "What is the name of your group?", new { @class = "form__label" })
                @Html.TextBoxFor(model => Model.GroupName, new { @class = "form__input", type = "text", placeholder = "Group Name", tabindex = "10" })
                @Html.LabelFor(model => Model.BookBy, "When do you need to have this event booked by?", new { @class = "form__label" })
                @Html.TextBoxFor(model => Model.BookBy, new { @class = "form__input", type = "date", placeholder = "mm/dd/yyyy", tabindex = "11" })
                @Html.LabelFor(model => Model.NumberOfPeople, "How many people will attend this event?", new { @class = "form__label" })
                @Html.TextBoxFor(model => Model.NumberOfPeople, new { @class = "form__input", type = "text", placeholder = "Number of People", tabindex = "12" })
            </div>
            <div class="rfp-content__block rfp--roomInformation">
                <h3 class="section__title">Room Information</h3>
                @Html.LabelFor(model => Model.RateExpected, "How much do you expect to pay per room?", new { @class = "form__label" })
                @Html.TextBoxFor(model => Model.RateExpected, new { @class = "form__input", type = "text", placeholder = "Rate Expected", tabindex = "13", })
                @Html.LabelFor(model => Model.RoomsPerNight, "How many guest rooms each night?", new { @class = "form__label" })
                @Html.TextBoxFor(model => Model.RoomsPerNight, new { @class = "form__input", type = "text", placeholder = "Rooms per Night", tabindex = "14", })
                @Html.LabelFor(model => Model.RoomsPeakNight, "Number of rooms on peak night?", new { @class = "form__label" })
                @Html.TextBoxFor(model => Model.RoomsPeakNight, new { @class = "form__input", type = "text", placeholder = "Peak Nights", tabindex = "15", })
                @Html.LabelFor(model => Model.FirstDay, "When will your be arriving?", new { @class = "form__label" })
                @Html.TextBoxFor(model => Model.FirstDay, new { @class = "form__input", type = "date", placeholder = "mm/dd/yyyy", tabindex = "16", })
                @Html.LabelFor(model => Model.LastDay, "When will you be leaving?", new { @class = "form__label" })
                @Html.TextBoxFor(model => Model.LastDay, new { @class = "form__input", type = "date", placeholder = "mm/dd/yyyy", tabindex = "17", })
            </div>
            <div class="rfp-content__block rfp--functionInformation">
                <h3 class="section__title">Function Information</h3>
                @Html.LabelFor(model => Model.MeetingSpace, "Do you require meeting space at the hotel?", new { @class = "form__label" })
                <div class="checkbox-field">
                    <input type="radio" class="form__checkbox" name="meetingSpace" value="Yes" /> Yes
                    <input type="radio" class="form__checkbox" name="meetingSpace" value="No" /> No
                </div>
                @Html.LabelFor(model => Model.FirstDayMeeting, "First day of meeting:", new { @class = "form__label" })
                @Html.TextBoxFor(model => Model.FirstDayMeeting, new { @class = "form__input", type = "date", placeholder = "mm/dd/yyyy", tabindex = "18" })
                @Html.LabelFor(model => Model.LastDayMeeting, "Last day of meeting:", new { @class = "form__label" })
                @Html.TextBoxFor(model => Model.LastDayMeeting, new { @class = "form__input", type = "date", placeholder = "mm/dd/yyyy", tabindex = "19" })
                <h5 class="rfp--functionInformation__header">Please complete the following fields as they relate to the group's largest function.</h5>
               
                <label class="form__label">Number of People:</label>
                <input class="form__input" type="text" placeholder="#" tabindex="21" />
               
                <label class="form__label">Number of breakout rooms needed:</label>
                <input class="form__input" type="text" placeholder="#" tabindex="23" />
            </div>
            <input id="formSubmit" type="submit" class="btn btn--color1 btn--formsubmit" onclick="ga('send', 'event', 'submit', 'click', 'RFP');" value="Submit" />
        </div>
    </form>
</section>
@section scripts {
    <script>
        $(function () {
            var dtToday = new Date();

            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();

            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();

            var maxDate = year + '-' + month + '-' + day;
            $('input[type=date]').attr('min', maxDate);
        });

    </script>
}

                        <!--select name="Country" style="width: 180px">
                            <option value="">Select from list</option>
                            <option value="">----------------</option>
                            <option value="AFGHANISTAN">AFGHANISTAN</option>
                            <option value="ALBANIA">ALBANIA</option>
                            <option value="ALGERIA">ALGERIA</option>
                            <option value="AMERICAN SAMOA">AMERICAN SAMOA</option>
                            <option value="ANDORRA">ANDORRA</option>
                            <option value="ANGOLA">ANGOLA</option>
                            <option value="ANGUILLA">ANGUILLA</option>
                            <option value="ANTARCTICA">ANTARCTICA</option>
                            <option value="ANTIGUA AND BARBUDA">ANTIGUA AND BARBUDA</option>
                            <option value="ARGENTINA">ARGENTINA</option>
                            <option value="ARMENIA">ARMENIA</option>
                            <option value="ARUBA">ARUBA</option>
                            <option value="AUSTRALIA">AUSTRALIA</option>
                            <option value="AUSTRIA">AUSTRIA</option>
                            <option value="AZERBAIJAN">AZERBAIJAN</option>
                            <option value="BAHAMAS">BAHAMAS</option>
                            <option value="BAHRAIN">BAHRAIN</option>
                            <option value="BANGLADESH">BANGLADESH</option>
                            <option value="BARBADOS">BARBADOS</option>
                            <option value="BELARUS">BELARUS</option>
                            <option value="BELGIUM">BELGIUM</option>
                            <option value="BELIZE">BELIZE</option>
                            <option value="BENIN">BENIN</option>
                            <option value="BERMUDA">BERMUDA</option>
                            <option value="BHUTAN">BHUTAN</option>
                            <option value="BOLIVIA">BOLIVIA</option>
                            <option value="BOSNIA AND HERZEGOVINA">BOSNIA AND HERZEGOVINA</option>
                            <option value="BOTSWANA">BOTSWANA</option>
                            <option value="BOUVET ISLAND">BOUVET ISLAND</option>
                            <option value="BRAZIL">BRAZIL</option>
                            <option value="BRITISH INDIAN OCEAN TERRITORY">BRITISH INDIAN OCEAN TERRITORY</option>
                            <option value="BRUNEI DARUSSALAM">BRUNEI DARUSSALAM</option>
                            <option value="BULGARIA">BULGARIA</option>
                            <option value="BURKINA FASO">BURKINA FASO</option>
                            <option value="BURUNDI">BURUNDI</option>
                            <option value="CAMBODIA">CAMBODIA</option>
                            <option value="CAMEROON">CAMEROON</option>
                            <option value="CANADA">CANADA</option>
                            <option value="CAPE VERDE">CAPE VERDE</option>
                            <option value="CAYMAN ISLANDS">CAYMAN ISLANDS</option>
                            <option value="CENTRAL AFRICAN REPUBLIC">CENTRAL AFRICAN REPUBLIC</option>
                            <option value="CHAD">CHAD</option>
                            <option value="CHILE">CHILE</option>
                            <option value="CHINA">CHINA</option>
                            <option value="CHRISTMAS ISLAND">CHRISTMAS ISLAND</option>
                            <option value="COCOS (KEELING) ISLANDS">COCOS (KEELING) ISLANDS</option>
                            <option value="COLOMBIA">COLOMBIA</option>
                            <option value="COMOROS">COMOROS</option>
                            <option value="CONGO">CONGO</option>
                            <option value="CONGO, THE DEMOCRATIC REPUBLIC OF THE">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
                            <option value="COOK ISLANDS">COOK ISLANDS</option>
                            <option value="COSTA RICA">COSTA RICA</option>
                            <option value="CROATIA">CROATIA</option>
                            <option value="CUBA">CUBA</option>
                            <option value="CYPRUS">CYPRUS</option>
                            <option value="CZECH REPUBLIC">CZECH REPUBLIC</option>
                            <option value="CÔTE D'IVOIRE">CÔTE D'IVOIRE</option>
                            <option value="DENMARK">DENMARK</option>
                            <option value="DJIBOUTI">DJIBOUTI</option>
                            <option value="DOMINICA">DOMINICA</option>
                            <option value="DOMINICAN REPUBLIC">DOMINICAN REPUBLIC</option>
                            <option value="ECUADOR">ECUADOR</option>
                            <option value="EGYPT">EGYPT</option>
                            <option value="EL SALVADOR">EL SALVADOR</option>
                            <option value="EQUATORIAL GUINEA">EQUATORIAL GUINEA</option>
                            <option value="ERITREA">ERITREA</option>
                            <option value="ESTONIA">ESTONIA</option>
                            <option value="ETHIOPIA">ETHIOPIA</option>
                            <option value="FALKLAND ISLANDS (MALVINAS)">FALKLAND ISLANDS (MALVINAS)</option>
                            <option value="FAROE ISLANDS">FAROE ISLANDS</option>
                            <option value="FIJI">FIJI</option>
                            <option value="FINLAND">FINLAND</option>
                            <option value="FRANCE">FRANCE</option>
                            <option value="FRENCH GUIANA">FRENCH GUIANA</option>
                            <option value="FRENCH POLYNESIA">FRENCH POLYNESIA</option>
                            <option value="FRENCH SOUTHERN TERRITORIES">FRENCH SOUTHERN TERRITORIES</option>
                            <option value="GABON">GABON</option>
                            <option value="GAMBIA">GAMBIA</option>
                            <option value="GEORGIA">GEORGIA</option>
                            <option value="GERMANY">GERMANY</option>
                            <option value="GHANA">GHANA</option>
                            <option value="GIBRALTAR">GIBRALTAR</option>
                            <option value="GREECE">GREECE</option>
                            <option value="GREENLAND">GREENLAND</option>
                            <option value="GRENADA">GRENADA</option>
                            <option value="GUADELOUPE">GUADELOUPE</option>
                            <option value="GUAM">GUAM</option>
                            <option value="GUATEMALA">GUATEMALA</option>
                            <option value="GUINEA">GUINEA</option>
                            <option value="GUINEA-BISSAU">GUINEA-BISSAU</option>
                            <option value="GUYANA">GUYANA</option>
                            <option value="HAITI">HAITI</option>
                            <option value="HEARD ISLAND AND MCDONALD ISLANDS">HEARD ISLAND AND MCDONALD ISLANDS</option>
                            <option value="HOLY SEE (VATICAN CITY STATE)">HOLY SEE (VATICAN CITY STATE)</option>
                            <option value="HONDURAS">HONDURAS</option>
                            <option value="HONG KONG">HONG KONG</option>
                            <option value="HUNGARY">HUNGARY</option>
                            <option value="ICELAND">ICELAND</option>
                            <option value="INDIA">INDIA</option>
                            <option value="INDONESIA">INDONESIA</option>
                            <option value="IRAN, ISLAMIC REPUBLIC OF">IRAN, ISLAMIC REPUBLIC OF</option>
                            <option value="IRAQ">IRAQ</option>
                            <option value="IRELAND">IRELAND</option>
                            <option value="ISRAEL">ISRAEL</option>
                            <option value="ITALY">ITALY</option>
                            <option value="JAMAICA">JAMAICA</option>
                            <option value="JAPAN">JAPAN</option>
                            <option value="JORDAN">JORDAN</option>
                            <option value="KAZAKHSTAN">KAZAKHSTAN</option>
                            <option value="KENYA">KENYA</option>
                            <option value="KIRIBATI">KIRIBATI</option>
                            <option value="KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF">KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</option>
                            <option value="KOREA, REPUBLIC OF">KOREA, REPUBLIC OF</option>
                            <option value="KUWAIT">KUWAIT</option>
                            <option value="KYRGYZSTAN">KYRGYZSTAN</option>
                            <option value="LAO PEOPLE'S DEMOCRATIC REPUBLIC">LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
                            <option value="LATVIA">LATVIA</option>
                            <option value="LEBANON">LEBANON</option>
                            <option value="LESOTHO">LESOTHO</option>
                            <option value="LIBERIA">LIBERIA</option>
                            <option value="LIBYAN ARAB JAMAHIRIYA">LIBYAN ARAB JAMAHIRIYA</option>
                            <option value="LIECHTENSTEIN">LIECHTENSTEIN</option>
                            <option value="LITHUANIA">LITHUANIA</option>
                            <option value="LUXEMBOURG">LUXEMBOURG</option>
                            <option value="MACAO">MACAO</option>
                            <option value="MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
                            <option value="MADAGASCAR">MADAGASCAR</option>
                            <option value="MALAWI">MALAWI</option>
                            <option value="MALAYSIA">MALAYSIA</option>
                            <option value="MALDIVES">MALDIVES</option>
                            <option value="MALI">MALI</option>
                            <option value="MALTA">MALTA</option>
                            <option value="MARSHALL ISLANDS">MARSHALL ISLANDS</option>
                            <option value="MARTINIQUE">MARTINIQUE</option>
                            <option value="MAURITANIA">MAURITANIA</option>
                            <option value="MAURITIUS">MAURITIUS</option>
                            <option value="MAYOTTE">MAYOTTE</option>
                            <option value="MEXICO">MEXICO</option>
                            <option value="MICRONESIA, FEDERATED STATES OF">MICRONESIA, FEDERATED STATES OF</option>
                            <option value="MOLDOVA, REPUBLIC OF">MOLDOVA, REPUBLIC OF</option>
                            <option value="MONACO">MONACO</option>
                            <option value="MONGOLIA">MONGOLIA</option>
                            <option value="MONTSERRAT">MONTSERRAT</option>
                            <option value="MOROCCO">MOROCCO</option>
                            <option value="MOZAMBIQUE">MOZAMBIQUE</option>
                            <option value="MYANMAR">MYANMAR</option>
                            <option value="NAMIBIA">NAMIBIA</option>
                            <option value="NAURU">NAURU</option>
                            <option value="NEPAL">NEPAL</option>
                            <option value="NETHERLANDS">NETHERLANDS</option>
                            <option value="NETHERLANDS ANTILLES">NETHERLANDS ANTILLES</option>
                            <option value="NEW CALEDONIA">NEW CALEDONIA</option>
                            <option value="NEW ZEALAND">NEW ZEALAND</option>
                            <option value="NICARAGUA">NICARAGUA</option>
                            <option value="NIGER">NIGER</option>
                            <option value="NIGERIA">NIGERIA</option>
                            <option value="NIUE">NIUE</option>
                            <option value="NORFOLK ISLAND">NORFOLK ISLAND</option>
                            <option value="NORTHERN MARIANA ISLANDS">NORTHERN MARIANA ISLANDS</option>
                            <option value="NORWAY">NORWAY</option>
                            <option value="OMAN">OMAN</option>
                            <option value="PAKISTAN">PAKISTAN</option>
                            <option value="PALAU">PALAU</option>
                            <option value="PALESTINIAN TERRITORY, OCCUPIED">PALESTINIAN TERRITORY, OCCUPIED</option>
                            <option value="PANAMA">PANAMA</option>
                            <option value="PAPUA NEW GUINEA">PAPUA NEW GUINEA</option>
                            <option value="PARAGUAY">PARAGUAY</option>
                            <option value="PERU">PERU</option>
                            <option value="PHILIPPINES">PHILIPPINES</option>
                            <option value="PITCAIRN">PITCAIRN</option>
                            <option value="POLAND">POLAND</option>
                            <option value="PORTUGAL">PORTUGAL</option>
                            <option value="PUERTO RICO">PUERTO RICO</option>
                            <option value="QATAR">QATAR</option>
                            <option value="ROMANIA">ROMANIA</option>
                            <option value="RUSSIAN FEDERATION">RUSSIAN FEDERATION</option>
                            <option value="RWANDA">RWANDA</option>
                            <option value="RÉUNION">RÉUNION</option>
                            <option value="SAINT HELENA">SAINT HELENA</option>
                            <option value="SAINT KITTS AND NEVIS">SAINT KITTS AND NEVIS</option>
                            <option value="SAINT LUCIA">SAINT LUCIA</option>
                            <option value="SAINT PIERRE AND MIQUELON">SAINT PIERRE AND MIQUELON</option>
                            <option value="SAINT VINCENT AND THE GRENADINES">SAINT VINCENT AND THE GRENADINES</option>
                            <option value="SAMOA">SAMOA</option>
                            <option value="SAN MARINO">SAN MARINO</option>
                            <option value="SAO TOME AND PRINCIPE">SAO TOME AND PRINCIPE</option>
                            <option value="SAUDI ARABIA">SAUDI ARABIA</option>
                            <option value="SENEGAL">SENEGAL</option>
                            <option value="SERBIA AND MONTENEGRO">SERBIA AND MONTENEGRO</option>
                            <option value="SEYCHELLES">SEYCHELLES</option>
                            <option value="SIERRA LEONE">SIERRA LEONE</option>
                            <option value="SINGAPORE">SINGAPORE</option>
                            <option value="SLOVAKIA">SLOVAKIA</option>
                            <option value="SLOVENIA">SLOVENIA</option>
                            <option value="SOLOMON ISLANDS">SOLOMON ISLANDS</option>
                            <option value="SOMALIA">SOMALIA</option>
                            <option value="SOUTH AFRICA">SOUTH AFRICA</option>
                            <option value="SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
                            <option value="SPAIN">SPAIN</option>
                            <option value="SRI LANKA">SRI LANKA</option>
                            <option value="SUDAN">SUDAN</option>
                            <option value="SURINAME">SURINAME</option>
                            <option value="SVALBARD AND JAN MAYEN">SVALBARD AND JAN MAYEN</option>
                            <option value="SWAZILAND">SWAZILAND</option>
                            <option value="SWEDEN">SWEDEN</option>
                            <option value="SWITZERLAND">SWITZERLAND</option>
                            <option value="SYRIAN ARAB REPUBLIC">SYRIAN ARAB REPUBLIC</option>
                            <option value="TAIWAN">TAIWAN</option>
                            <option value="TAJIKISTAN">TAJIKISTAN</option>
                            <option value="TANZANIA, UNITED REPUBLIC OF">TANZANIA, UNITED REPUBLIC OF</option>
                            <option value="THAILAND">THAILAND</option>
                            <option value="TIMOR-LESTE">TIMOR-LESTE</option>
                            <option value="TOGO">TOGO</option>
                            <option value="TOKELAU">TOKELAU</option>
                            <option value="TONGA">TONGA</option>
                            <option value="TRINIDAD AND TOBAGO">TRINIDAD AND TOBAGO</option>
                            <option value="TUNISIA">TUNISIA</option>
                            <option value="TURKEY">TURKEY</option>
                            <option value="TURKMENISTAN">TURKMENISTAN</option>
                            <option value="TURKS AND CAICOS ISLANDS">TURKS AND CAICOS ISLANDS</option>
                            <option value="TUVALU">TUVALU</option>
                            <option value="UGANDA">UGANDA</option>
                            <option value="UKRAINE">UKRAINE</option>
                            <option value="UNITED ARAB EMIRATES">UNITED ARAB EMIRATES</option>
                            <option value="UNITED KINGDOM">UNITED KINGDOM</option>
                            <option value="UNITED STATES" selected>UNITED STATES</option>
                            <option value="UNITED STATES MINOR OUTLYING ISLANDS">UNITED STATES MINOR OUTLYING ISLANDS</option>
                            <option value="URUGUAY">URUGUAY</option>
                            <option value="UZBEKISTAN">UZBEKISTAN</option>
                            <option value="VANUATU">VANUATU</option>
                            <option value="VENEZUELA">VENEZUELA</option>
                            <option value="VIETNAM">VIETNAM</option>
                            <option value="VIRGIN ISLANDS, BRITISH">VIRGIN ISLANDS, BRITISH</option>
                            <option value="VIRGIN ISLANDS, U.S.">VIRGIN ISLANDS, U.S.</option>
                            <option value="WALLIS AND FUTUNA">WALLIS AND FUTUNA</option>
                            <option value="WESTERN SAHARA">WESTERN SAHARA</option>
                            <option value="YEMEN">YEMEN</option>
                            <option value="ZAMBIA">ZAMBIA</option>
                            <option value="ZIMBABWE">ZIMBABWE</option>
                        </select>-->
                   
                    
                                    <!--<select name="functiontype">
                                        <option value="None Selected">Event Type...</option>
                                        <option value="None Selected">-------------</option>
                                        <option value="Continental Breakfast">Continental Breakfast</option>
                                        <option value="Breakfast">Breakfast</option>
                                        <option value="Lunch">Lunch</option>
                                        <option value="Dinner">Dinner</option>
                                        <option value="Break">Break</option>
                                        <option value="Setup">Setup</option>
                                        <option value="Board Meeting">Board Meeting</option>
                                        <option value="Breakfast Buffet">Breakfast Buffet</option>
                                        <option value="Breakfast Meeting">Breakfast Meeting</option>
                                        <option value="Brunch">Brunch</option>
                                        <option value="Ceremony">Ceremony</option>
                                        <option value="Dance">Dance</option>
                                        <option value="Dessert Buffet">Dessert Buffet</option>
                                        <option value="Dinner Buffet">Dinner Buffet</option>
                                        <option value="Dinner Meeting">Dinner Meeting</option>
                                        <option value="Dinner/Dance">Dinner/Dance</option>
                                        <option value="Exhibit">Exhibit</option>
                                        <option value="Fashion Show">Fashion Show</option>
                                        <option value="General Session">General Session</option>
                                        <option value="Luau">Luau</option>
                                        <option value="Lunch Buffet">Lunch Buffet</option>
                                        <option value="Lunch Meeting">Lunch Meeting</option>
                                        <option value="Lunch/Dance">Lunch/Dance</option>
                                        <option value="Meeting">Meeting</option>
                                        <option value="Reception">Reception</option>
                                        <option value="Reception/Dance">Reception/Dance</option>
                                        <option value="Tea">Tea</option>
                                        <option value="Theme Party Dinner">Theme Party Dinner</option>
                                        <option value="Theme Party Reception">Theme Party Reception</option>
                                    </select>-->

                                    <!--<select name="setup">
                                        <option value="None Selected">Setup...</option>
                                        <option value="None Selected">--------</option>
                                        <option value="Booths">Booths</option>
                                        <option value="Classroom">Classroom</option>
                                        <option value="Cocktail Rounds">Cocktail Rounds</option>
                                        <option value="Conference">Conference</option>
                                        <option value="Half Rounds">Half Rounds</option>
                                        <option value="Herringbone">Herringbone</option>
                                        <option value="Hollow Square">Hollow Square</option>
                                        <option value="Informal/Cabaret">Informal/Cabaret</option>
                                        <option value="Luau">Luau</option>
                                        <option value="Oval">Oval</option>
                                        <option value="Poster Board">Poster Board</option>
                                        <option value="Rounds">Rounds</option>
                                        <option value="Table Tops">Table Tops</option>
                                        <option value="Theater Style">Theater Style</option>
                                        <option value="T-Shape">T-Shape</option>
                                        <option value="U-Shape">U-Shape</option>
                                    </select>-->
                               
           