﻿@{
    ViewBag.Title = "404";
}
<section class="content1020__wrapper no-header">
    <div class="clearfix interior-editor">
        <div class="fancy-intro">
            <div class="title__section">
                <h1 class="title-line__header">We're Sorry (404 Error)</h1>
            </div>
        </div>
        
        <div>
            The page you are looking for has moved or no longer exists.<br />
            Please try searching or using the navigation to learn more about the Heidel House Resort and Spa.
        </div>

    </div>
   
</section>
