﻿@using HotelWebsite.Models.Pages
@model IEnumerable<HotelWebsite.Models.Pages.PageModel>
@{
    ViewBag.Title = "Sitemap | Heidel House Resort and Spa | Green Lake, Wisconsin";
    ViewBag.SeoPageDescription = "Sitemap Heidel House Resort and Spa.";
}


<div class="sitemap__wrapper">
    <section class="two-column__content content1020__wrapper sitemap">
        <div class="fancy-intro">
            <div class="title__section">
                <h1 class="title-line__header">Sitemap</h1>
            </div>
        </div>
        <ul class="sitemap__list" id="sitemap">
            <li class="sitemap__item">
                <a href="/" class="sitemap__link sitemap__link--homepage">Homepage</a>
                @Subnav(Model)
            </li>
        </ul>
    </section>
</div>



@helper Subnav(IEnumerable<PageModel> items) {
    if (items != null && items.Any())
    {
        <ul class="sitemap__list sitemap__list--secondary">
        @foreach (var item in items)
        {
            if (!String.IsNullOrEmpty(item.FriendlyUrl) && item.FriendlyUrl.IndexOf("/") > 0) { item.FriendlyUrl = "/" + item.FriendlyUrl; }

            var url = !String.IsNullOrEmpty(item.RedirectToUrl) ? item.RedirectToUrl : item.FriendlyUrl;
            var menuText = !String.IsNullOrEmpty(item.MenuText) ? item.MenuText : item.PageName;
            var target = url.StartsWith("http://") || url.StartsWith("https://") ? "_blank" : "";
            <li class="sitemap__list--secondary">
                <a href="@url" class="sitemap__link">@menuText</a>
                @if(item.Children.Count() > 0) {
                    @Subnav(item.Children);
                }
            </li>
        }
        </ul>
    }
}