﻿@model HotelWebsite.Models.Events.EventListingModel

@{
    var featuredEvents = Model.Events.Where(x => x.IsFeatured);
    var events = Model.Events.Where(x => !x.IsFeatured);
}

<section class="packages__section">
    <div id="eventHeader" class="event-date">
        <h3 class="event-date__header">When will you be in town?</h3>
        <div class="event-date__filter">
            <form action="" method="get">
                <label class="event-date__label" for="startDate">From: </label><input class="event-date__input" type="date" name="startDate" id="startDate" value="@Model.StartDate" />
                <label class="event-date__label" for="endDate">Until: </label><input class="event-date__input" type="date" name="endDate" id="endDate" value="@Model.EndDate" />
                <button id="btnFilter" class="btn btn--color2 btn--eventfilter">Filter</button>
            </form>
        </div>
    </div>
  
    <div class="one-column__content">
        @if (featuredEvents != null && featuredEvents.Any())
        {
            <div id="main" class="packages">
                <br/>
                <h2>Featured Events</h2>
                @foreach (var evt in featuredEvents)
                {
                    <div data-category="option1" class="element-item option1">
                        <a href="@(Url.Action("Details", new { Id = evt.Id }))" class="event-item__link">
                            <figure class="package__figure">
                                <img data-original="@evt.ThumbnailUrl" class="lazy" alt="@evt.ThumbnailFilename">
                                <figcaption class="package__figcaption @(evt.Categories.Where(x=>x.Name.ToLower() == "community").Any() ? "community-event" : "hh-event")">
                                    <span class="@(evt.Categories.Where(x => x.Name.ToLower() == "community").Any() ? "community-event__text" : "hidden")">Community Event</span>
                                     @evt.Title<br /> @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                </figcaption>
                                <div class="package__date">
                                    <div class="@(evt.Categories.Where(x => x.Name.ToLower() == "community").Any() ? "community-event--hover" : "hh-event--hover")">
                                        <span class="community-event__text">Community Event</span>
                                        <span class="hh-event__text">Heidel House Event</span>
                                    </div>
                                    @if (evt.DescriptiveTime.IsEmpty())
                                    {
                                        if (evt.AllDay == true)
                                        {
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                        }
                                        else
                                        {
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                            @evt.EndOn.ToString("ddd MMM dd, yyyy")
                                        }
                                    }
                                    else
                                    {
                                        @evt.DescriptiveTime
                                    }
                                </div>
                            </figure>
                        </a>
                    </div>
                }
            </div>
        }
       
        @if (events != null && events.Any())
        {
            <div id="main2" class="packages">
                <br/>
                <h2>Additional Upcoming Events</h2>
                @foreach (var evt in events.Take(30))
                {
                    <div data-category="option1" class="element-item option1">
                        <a href="@(Url.Action("Details", new { Id = evt.Id }))" class="event-item__link">
                            <figure class="package__figure">
                                <img data-original="@evt.ThumbnailUrl" class="lazy" alt="@evt.ThumbnailFilename">
                                <figcaption class="package__figcaption @(evt.Categories.Where(x=>x.Name.ToLower() == "community").Any() ? "community-event" : "hh-event")">
                                    @evt.Title<br /> @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                </figcaption>
                                <div class="package__date">
                                    <div class="@(evt.Categories.Where(x => x.Name.ToLower() == "community").Any() ? "community-event--hover" : "hh-event--hover")">
                                        <span class="community-event__text">Community Event</span>
                                        <span class="hh-event__text">Heidel House Event</span>
                                    </div>
                                    @if (evt.DescriptiveTime.IsEmpty())
                                    {
                                        if (evt.AllDay == true)
                                        {
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                        }
                                        else
                                        {
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                            @evt.EndOn.ToString("ddd MMM dd, yyyy")
                                        }
                                    }
                                    else
                                    {
                                        @evt.DescriptiveTime
                                    }
                                </div>
                            </figure>
                        </a>
                    </div>

                }
            </div>
        }
        else
        {
            <p>Sorry there are no events.</p>
        }

    </div>
</section>