﻿@model HotelWebsite.Models.Events.EventListingModel

@{
    ViewBag.Title = "Visit Green Lake, Wisconsin | Things To Do | Heidel House Resort and Spa";
    ViewBag.SeoPageDescription = "Wisconsin team building retreats at Heidel House Resort and Spa challenge team members with corporate team building games in Green Lake, Wisconsin.";

    var featuredComEvents = Model.Events.Where(x => x.IsFeatured && x.Categories.Select(n => n.Name.ToLower() == "community").Any());
    var ComRecurring = Model.Events.Where(x => !x.IsFeatured && x.Categories.Select(n => n.Name.ToLower() == "community").Any());
}

<section class="packages__section">

    <div class="event__copy one-column__content">
        @Html.Partial("_Breadcrumbs", new { page = "events" })
        <div class="fancy-intro">
            <div class="title__section">
                <h1 class="title-line__header">Community Events</h1>
            </div>
        </div>
        <p>When staying with us, it’s easy to experience The Pfister. There are hundreds of stories to be found within the walls of our hotel, but don’t forget to explore Milwaukee, as there are thousands more in the city around us. Our Milwaukee event calendar is up to date with the latest happenings in our city on the lake, and we encourage all of our guests to venture out and explore them.</p>
    </div>

    <div id="eventHeader" class="event-date">
        <h3 class="event-date__header">When will you be in town?</h3>
        <div class="event-date__filter">
            <form action="" method="get">
                <label class="event-date__label" for="startDate">From: </label><input class="event-date__input" type="date" name="startDate" id="startDate" value="@Model.StartDate" />
                <label class="event-date__label" for="endDate">Until: </label><input class="event-date__input" type="date" name="endDate" id="endDate" value="@Model.EndDate" />
                <button id="btnFilter" class="btn btn--color2 btn--eventfilter">Filter</button>
            </form>
        </div>
    </div>

    <div class="one-column__content">
        @if (featuredComEvents != null && featuredComEvents.Any())
        {
            <div id="main" class="packages">
                <br/>
                <h2>Featured Events</h2>
                @foreach (var evt in featuredComEvents)
                {
                    <div data-category="option1" class="element-item option1">
                        <a href="@(Url.Action("Details", new { Id = evt.Id }))" class="event-item__link">
                            <figure class="package__figure">
                                <img data-original="@evt.ThumbnailUrl" class="lazy" alt="@evt.ThumbnailFilename">
                                <figcaption class="package__figcaption">
                                    @evt.Title<br /> @evt.StartOn.ToString("ddd MMM dd, yyyy")

                                </figcaption>
                                <div class="package__date">

                                    @if (evt.DescriptiveTime.IsEmpty())
                                    {
                                        if (evt.AllDay == true)
                                        {
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                        }
                                        else
                                        {
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                            @evt.EndOn.ToString("ddd MMM dd, yyyy")
                                        }
                                    }
                                    else
                                    {
                                        @evt.DescriptiveTime
                                    }
                                </div>
                            </figure>
                        </a>
                    </div>
                }
            </div>
        }

        @if (ComRecurring != null && ComRecurring.Any())
        {
            <div id="main2" class="packages">
                <br/>
                <h2>Recurring Events</h2>
                @foreach (var evt in ComRecurring.Take(30))
                {
                    <div data-category="option1" class="element-item option1">
                        <a href="@(Url.Action("Details", new { Id = evt.Id }))" class="event-item__link">
                            <figure class="package__figure">
                                <img data-original="@evt.ThumbnailUrl" class="lazy" alt="@evt.ThumbnailFilename">
                                <figcaption class="package__figcaption">
                                    @evt.Title<br /> @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                </figcaption>
                                <div class="package__date">

                                    @if (evt.DescriptiveTime.IsEmpty())
                                    {
                                        if (evt.AllDay == true)
                                        {
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                        }
                                        else
                                        {
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                            @evt.StartOn.ToString("ddd MMM dd, yyyy")
                                            @evt.EndOn.ToString("ddd MMM dd, yyyy")
                                        }
                                    }
                                    else
                                    {
                                        @evt.DescriptiveTime
                                    }
                                </div>
                            </figure>
                        </a>
                    </div>

                }
            </div>
        }

    </div>
</section>
@section scripts {
    <script>
        $(function () {
            //    //init Isotope
            //    var $container = $('#main').isotope({
            //        itemSelector: '.item',
            //        layoutMode: 'masonry',
            //        masonry: {
            //            gutter: '.gutter-sizer',
            //            columnWidth: '.grid-sizer'
            //        },
            //        getSortData: {
            //            option1: function (el) {
            //                return !$(el).is('.option1');
            //            },
            //            option2: function (el) {
            //                return !$(el).is('.option2');
            //            }

            //        }
            //    });

            var $container = $('.packages').imagesLoaded(function () {
                $container.isotope({
                    itemSelector: '.item',
                    layoutMode: 'packery'
                });
            });
            // bind sort button click
            //$('#filters').on('click', 'button', function () {
            //    var sortValue = $(this).attr('data-sort-by');
            //    console.log(sortValue);
            //    $container.isotope({ sortBy: sortValue });
            //});

            //// change is-checked class on buttons
            //$('.button-group').each(function (i, buttonGroup) {
            //    var $buttonGroup = $(buttonGroup);
            //    $buttonGroup.on('click', 'button', function () {
            //        $buttonGroup.find('.is-checked').removeClass('is-checked');
            //        $(this).addClass('is-checked');
            //    });
            //});

        });
    </script>
    <script>
        //$('#eventHeader').sticky({ topSpacing: 92 });
    </script>
}
