﻿@model HotelWebsite.Models.Events.EventModel

@{
    ViewBag.Title = "Event Details - " + Model.Title;
}


<section class="package-details__section  package-details__section--events">
    <div class="page-header small-header">
        <figure class="page-header__figure">
            <img class="small-header__image" src="@Html.DisplayFor(model => model.ImageUrl)?width=2054&height=500&mode=crop" alt="@Model.Title" />
        </figure>
    </div>
    <div class="one-column__content">
        <!-- Breadcrumbs and Social Sharing -->
        @Html.Partial("_Breadcrumbs", new { page = "events" })


        <div class="package-details__copy columns">
            <div class="fancy-intro">
                <div class="title__section">
                    <h1 class="title-line__header">@Html.DisplayFor(model => model.Title)</h1>
                </div>
            </div>
            <h2 class="package-details__header--pricing">
                @if (Html.DisplayFor(model => model.DescriptiveTime).ToString().IsEmpty())
                {
                    if (@Model.AllDay == true)
                    {
                        @Model.StartOn.ToString("ddd MMM dd, yyyy")
                    }
                    else
                    {
                        @Model.StartOn.ToString("ddd MMM dd, yyyy") 
                        <span> - </span>
                        @Model.EndOn.ToString("ddd MMM dd, yyyy")
                    }
                }
                else
                {
                    @Html.DisplayFor(model => model.DescriptiveTime)
                }
                
            </h2>
            <div class="package-details__description">
                
                <div class="long-description">
                    @Html.Raw(Model.Description)
                    <div class="package-details__buttons">
                        @if(!String.IsNullOrEmpty(Model.WebsiteUrl)) {
                        <a href="@Model.WebsiteUrl" target="_blank" class="btn btn--color1 btn--back btn--event">Learn More</a>
                        }
                        @Html.ActionLink("Back to all", "Index", new { }, new { @class = "btn btn--color2 btn--back btn--event" })
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End One Column Content -->

</section>
