﻿@model HotelWebsite.Models.Events.EventListingModel

@{
    ViewBag.Title = "Resort Events | Heidel House Resort and Spa | Green Lake, Wisconsin";
    ViewBag.SeoPageDescription = "Enjoy the calendar of events from Heidel House Resort & Spa featuring events both in and around the resort and Wisconsin's lake country.";
}

<section class="packages__section">
    
    <div class="event__copy one-column__content">
        @Html.Partial("_Breadcrumbs", new { page = "events" })
        <div class="fancy-intro">
            <div class="title__section">
                <h1 class="title-line__header">Events</h1>
            </div>
        </div>
        <p>Heidel House Resort & Spa events take place all year long. Whether you’re looking for festivals or holiday celebrations, we have what you need. You’ll also find popular Green Lake area events. </p>
        </div>
    
    @Html.Action("Listing", "Events", new { startDate = Request.QueryString["startDate"], endDate = Request.QueryString["endDate"] })
</section>
   