@font-face {
  font-family: 'cac_leslieregular';
  src: url("caclesli-webfont.eot");
  src: url("caclesli-webfont.eot?#iefix") format("embedded-opentype"), url("caclesli-webfont.woff2") format("woff2"), url("caclesli-webfont.woff") format("woff"), url("caclesli-webfont.ttf") format("truetype"), url("caclesli-webfont.svg#cac_leslieregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Base Styling */
html {
  font-size: 16px;
  min-width: 320px;
}

body {
  color: #473d34;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0 auto;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Lora', serif;
  color: #7b4731;
  margin: 0;
  font-size: 28px;
  font-size: 1.75rem;
}

h2 {
  color: #a0978c;
  font-weight: normal;
  margin: 0;
  font-size: 20px;
  font-size: 1.25rem;
}

h3, h4, h5 {
  color: #a0978c;
  font-weight: normal;
  margin: 0;
  font-size: 20px;
  font-size: 1.25rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.full-page__figure img {
  width: 100%;
}

::-webkit-input-placeholder {
  color: #666666;
}

:-moz-placeholder {
  color: #666666;
}

::-moz-placeholder {
  color: #666666;
}

:-ms-input-placeholder {
  color: #666666;
}

.no-show {
  display: none;
}

@media only screen and (max-width: 47em) {
  #content-main .img {
    float: none !important;
    height: auto !important;
    margin: 0 20%;
    width: 60% !important;
  }
}

a:link, a:visited, a:hover {
  text-decoration: none;
  color: #284a56;
}

a.link {
  color: #284a56;
  text-decoration: none;
  border-bottom: 1px dotted #284a56;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

@media only screen and (min-width: 63.75em) {
  .icon__mobile {
    display: none !important;
  }
}

.required {
  color: #284a56;
}

.section__header {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 24px;
  font-size: 1.5rem;
}
@media only screen and (min-width: 48em) {
  .section__header {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 63.75em) {
  .section__header {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.section__text p a, .section__text p a:link, .section__text p a:visited, .section__text p a:hover {
  color: #284a56;
  border-bottom: 1px dotted #284a56;
}

.border-right {
  border-bottom: 1px solid #a5b0a2;
  padding: 0 0 20px 0;
}
@media only screen and (min-width: 48em) {
  .border-right {
    border-bottom: 0;
    border-right: 1px solid #a5b0a2;
    padding: 0;
  }
}

.border-left {
  border-left: 1px solid #fff;
}

.read-more__link {
  font-weight: bold;
  margin: 0.5em 0 1em 0;
}

#scrollUp {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  right: 2%;
  color: #fff;
  padding: 10px;
  z-index: 5 !important;
}

a.phone-number {
  cursor: default;
}

.content1020__wrapper {
  margin: 0 10.25%;
}
@media only screen and (min-width: 48em) {
  .content1020__wrapper {
    margin: 0 auto;
    max-width: 1020px;
  }
}

.content1020__wrapper--footer {
  margin: 0 2%;
}
@media only screen and (min-width: 63.75em) {
  .content1020__wrapper--footer {
    margin: 0 auto;
    max-width: 1000px;
  }
}

.content1020__wrapper--header {
  margin: 0 6.25%;
}
@media only screen and (min-width: 48em) {
  .content1020__wrapper--header {
    margin: 0 auto;
    max-width: 1020px;
    overflow: visible;
  }
}

.media-gallery__wrapper {
  margin: 0 4%;
}
@media only screen and (min-width: 48em) {
  .media-gallery__wrapper {
    margin: 0 auto;
    max-width: 1020px;
    width: 90%;
  }
}

@media only screen and (min-width: 48em) {
  .banner__wrapper {
    margin: 30px auto 0 auto;
    max-width: 1020px;
    width: 90%;
  }
}

@media only screen and (min-width: 63.75em) {
  #inner-wrap {
    margin-top: 0;
  }
}

.columns {
  *zoom: 1;
}
.columns:before, .columns:after {
  content: "";
  display: table;
}
.columns:after {
  clear: both;
}

@media only screen and (min-width: 48em) {
  .c2x6 {
    float: left;
    width: 31.83333%;
  }

  .c3x6 {
    float: left;
    width: 48.5%;
  }

  .c4x6 {
    float: left;
    width: 65.16666%;
  }

  .c-marginRt {
    margin-right: 1.5%;
  }

  .c-marginLft {
    margin-left: 1.5%;
  }

  .flt-left {
    float: left;
  }

  .flt-right {
    float: right;
  }
}
@media only screen and (min-width: 63.75em) {
  .c3x6 {
    float: left;
    width: 48.5%;
  }

  .flt-left {
    float: left;
  }

  .flt-right {
    float: right;
  }
}
.two-column__content {
  width: 79.5%;
  *zoom: 1;
}
@media only screen and (min-width: 48em) {
  .two-column__content {
    width: 90%;
  }
}
@media only screen and (min-width: 63.75em) {
  .two-column__content {
    width: 100%;
  }
}
.two-column__content:before, .two-column__content:after {
  content: "";
  display: table;
}
.two-column__content:after {
  clear: both;
}
.two-column__content .main-col {
  margin-bottom: 35px;
  /*@media only screen and (min-width:48em){
  	float:left;
  	padding-right:2%;
  	width:77.3333%;
  }*/
}
@media only screen and (min-width: 63.75em) {
  .two-column__content .main-col {
    float: left;
    padding-right: 2%;
    width: 81.3333%;
  }
}
.two-column__content .aside-nav {
  /*@media only screen and (min-width:48em){
  	float:right;
  	padding-left:2%;
  	width:18.6666%;
  }*/
}
@media only screen and (min-width: 63.75em) {
  .two-column__content .aside-nav {
    float: right;
    padding-left: 2%;
    width: 18.6666%;
  }
}

.one-column__content {
  margin: 0px auto;
  max-width: 1020px;
  width: 90%;
}

.no-header {
  padding-top: 2.5em;
}
@media only screen and (min-width: 48em) {
  .no-header {
    padding-top: 4.5em;
  }
}
@media only screen and (min-width: 63.75em) {
  .no-header {
    padding-top: 8em;
  }
}

.btn {
  border: 5px double #fff;
  font-family: "Lora", serif;
  padding: 4px 4% 3px 4%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  font-size: 1.5rem;
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) inset;
}
@media only screen and (min-width: 48em) {
  .btn {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

.btn--color1 {
  background: #284a56;
  color: #fff;
}
.btn--color1:link, .btn--color1:hover, .btn--color1:visited {
  color: #fff;
}

.btn--color2 {
  background: #abb7ae;
  color: #fff;
}
.btn--color2:link, .btn--color2:hover, .btn--color2:visited {
  color: #fff;
}

.btn--color3 {
  background: #242424;
  color: #fff;
}
.btn--color3:link, .btn--color3:hover, .btn--color3:visited {
  color: #fff;
}

.featured__button {
  margin-top: 35px;
}

.btn--submit {
  border: 0;
  height: 45px;
  margin: 10px 0 0 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media only screen and (min-width: 48em) {
  .btn--submit {
    height: 35px;
    margin: 0;
    width: initial;
  }
}
@media only screen and (min-width: 63.75em) {
  .btn--submit {
    height: 45px;
  }
}

.btn--formsubmit {
  border: 0;
  height: 45px;
  margin: 10px 0 10px 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media only screen and (min-width: 48em) {
  .btn--formsubmit {
    float: right;
    height: 35px;
    width: initial;
  }
}
@media only screen and (min-width: 63.75em) {
  .btn--formsubmit {
    height: 45px;
  }
}

.btn--rotator {
  display: block;
  float: left;
  margin: 1.25em 0 0 0;
}
.btn--rotator:before {
  content: '\00BB';
  margin-right: 7px;
  vertical-align: 5%;
}
@media only screen and (max-width: 47em) {
  .btn--rotator {
    margin: 0.5em 0 0 0;
  }
}

.btn--eventfilter {
  border: 0;
  margin-left: 1%;
  padding: 6px 4% 5px 4%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.btn--reserve {
  border: 0;
  width: 100%;
}

.btn--more {
  display: none;
}
@media only screen and (min-width: 48em) {
  .btn--more {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
  .btn--more:before {
    content: '\00BB';
    margin-right: 7px;
    vertical-align: 5%;
  }
}
@media only screen and (min-width: 63.75em) {
  .btn--more {
    position: absolute;
    bottom: 0;
  }
}

.btn--arrow {
  margin: 0.5em 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.btn--arrow:after {
  content: '\00BB';
  margin-left: 7px;
  vertical-align: 5%;
}
@media only screen and (max-width: 47em) {
  .btn--arrow {
    width: 100%;
  }
}

.btn--search {
  border: 0;
  font-size: 14.4px;
  font-size: 0.9rem;
}

.btn--bookpackage, .btn--back {
  display: block;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 48em) {
  .btn--bookpackage, .btn--back {
    margin-bottom: 0;
    width: 48%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}

.btn--bookpackage {
  padding: 8px 0 7px 0;
}

.btn--desktop {
  display: none;
}
@media only screen and (min-width: 48em) {
  .btn--desktop {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}

@media only screen and (min-width: 48em) {
  .btn--event {
    width: initial;
  }
}

.btn--reservation {
  padding: 4px 2% 3px 2%;
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) inset;
}
.btn--reservation:after {
  content: '\00BB';
  margin-left: 7px;
  vertical-align: 5%;
}

@media only screen and (min-width: 48em) {
  .lt-ie10 .btn--formsubmit, .lt-ie10 .btn--event, .lt-ie10 .btn--submit, .lt-ie9 .btn--formsubmit, .lt-ie9 .btn--event, .lt-ie9 .btn--submit {
    width: 135px;
  }
}

#nav {
  background: url(/img/bkg/blue-bg.png);
  background-repeat: repeat;
  height: 100%;
  min-height: 1000px;
  /*  &.open {
       display:block;
       background:$primary;
       height:1000px;
       @media only screen and (min-width:63.75em){
           height:100%;
           min-height:100% !important;
       }
       //overflow-y:scroll;
   } */
  z-index: 200;
  padding: 0.25em 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #fff;
}
@media only screen and (min-width: 63.75em) {
  #nav {
    min-height: 0;
    width: 100%;
  }
}
#nav .block-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#nav .block {
  z-index: 2;
  position: relative;
  padding: 0.75em 1.25em;
  background: #284a56;
}
#nav ul.nav__list--primary {
  z-index: 3;
  *zoom: 1;
  display: block;
  margin: 0 auto;
  max-width: 1020px;
}
#nav ul.nav__list--primary:before, #nav ul.nav__list--primary:after {
  content: "";
  display: table;
}
#nav ul.nav__list--primary:after {
  clear: both;
}
@media only screen and (min-width: 63.75em) {
  #nav ul.nav__list--primary {
    text-align: right;
  }
}
#nav li {
  display: block;
}
#nav li a {
  color: #ccc;
  outline: none;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 48em) {
  #nav li a {
    font-size: 15.2px;
    font-size: 0.95rem;
  }
}
@media only screen and (min-width: 63.75em) {
  #nav li a {
    font-size: 15.2px;
    font-size: 0.95rem;
  }
}
#nav li a:focus, #nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
#nav li.is-active a {
  color: #fff;
}
#nav li.btn--reservation {
  display: none;
  padding: 0;
}
@media only screen and (min-width: 48em) {
  #nav li.btn--reservation {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}
#nav li.btn--reservation a, #nav li.btn--reservation a:link, #nav li.btn--reservation a:visited, #nav li.btn--reservation a:hover {
  padding: 5px 8px 0 8px;
  text-decoration: none;
}
#nav li.nav__item--secondary a.nav__link--secondary {
  background: #ae6647;
  display: block;
  padding: 5px 0 2.5px 2.14286em;
}

@media only screen and (min-width: 63.75em) {
  #nav {
    display: block;
    overflow: visible;
  }
  #nav ul.nav__list--secondary {
    max-width: 230px;
    position: absolute;
    text-align: left;
    white-space: normal;
  }
  #nav ul.nav__list--secondary:before {
    content: "";
    margin-left: 20px;
    display: block;
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ae6647;
  }
  #nav ul.nav__list--secondary li.nav__item--secondary {
    background: #ae6647;
    border-bottom: 1px solid #370002;
  }
  #nav ul.nav__list--secondary li.nav__item--secondary a.nav__link {
    padding: 0.32857em 0.85714em 0.1em 0.85714em;
  }
}
.no-js #nav {
  left: 100%;
  padding-top: 0;
  position: relative;
  width: 100%;
}
.no-js #nav .close-btn {
  display: none;
}

.nav__item {
  text-transform: uppercase;
}

.nav__link {
  text-decoration: none;
  font-family: "Quattrocento Sans", sans-serif;
}

.nav__list--secondary {
  display: none;
}

.no-js .nav__list--secondary {
  display: block;
}

#nav li.nav__item--secondary {
  display: block;
}

.js.no-touch .nav__item--primary:hover .nav__list--secondary {
  display: block;
}
.js.no-touch .nav__item--primary:hover .touchNav__list {
  display: none !important;
}

.touch .nav__list--secondary.hovered {
  display: block;
}

.no-touch a.touchNav {
  display: none;
}
.no-touch a.notouchNav {
  display: block;
}
.no-touch #nav ul.nav__list--secondary li.nav__item--secondary.touchNav {
  display: none;
}

.touch a.touchNav {
  display: block;
}
.touch a.notouchNav {
  display: none !important;
}

/*Breadcrumb and Social Sharing */
.breadcrumb {
  display: none;
}
@media only screen and (min-width: 48em) {
  .breadcrumb {
    font-family: "Georgia", sans-serif;
    font-weight: bold;
    margin: 15px 0 35px 0;
    text-transform: uppercase;
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 12px;
    font-size: 0.75rem;
  }
  .breadcrumb a, .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:hover {
    color: #000;
    text-decoration: none;
  }
}

.addthis_sharing_toolbox {
  margin: 10px 0 10px 0;
  text-align: center;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media only screen and (min-width: 48em) {
  .addthis_sharing_toolbox {
    margin: 15px 0 35px 0;
    text-align: right;
    width: 49%;
  }
}

.social-sharing {
  margin: 10px 0 10px 0;
  text-align: center;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media only screen and (min-width: 48em) {
  .social-sharing {
    margin: 15px 0 35px 0;
    text-align: right;
    width: 49%;
  }
}
.social-sharing__text {
  color: #bbb;
  font-size: 12px;
  font-size: 0.75rem;
}
.social-sharing__icon {
  background: #ae6647;
  height: 30px;
  margin: 0 1%;
  padding: 0.25em 0.25em 0 0.25em;
  width: 30px;
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  border-radius: 1.25em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.lt-ie10 .social-icon__block img {
  max-height: 38px;
}

.lt-ie10 .social-sharing__icon img {
  max-height: 20px;
}

.main-slideshow {
  position: relative;
  height: 100%;
}

#fs-slider {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#fs-slider .frame {
  width: 100%;
  height: 100%;
  min-height: 400px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#fs-slider .frame .slide_element {
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#fs-slider .frame .slide_element > div {
  float: left;
  height: 100%;
}

#fs-slider .frame .mSCover img {
  max-width: none;
  display: block;
}

#fs-slider .details #caption {
  position: absolute;
  top: 6%;
  left: 6%;
  padding: 20px;
  color: #fff;
  max-width: 70%;
}
#fs-slider .details #caption a, #fs-slider .details #caption a:visited, #fs-slider .details #caption a:hover, #fs-slider .details #caption a:link {
  color: #fff;
}
#fs-slider .details #caption .slider__header {
  display: block;
  font-family: "Lora", serif;
  line-height: 0.7;
  font-size: 64px;
  font-size: 4rem;
  text-shadow: 0px 0px 10px black;
}
@media only screen and (min-width: 48em) {
  #fs-slider .details #caption .slider__header {
    font-size: 128px;
    font-size: 8rem;
  }
}
@media only screen and (min-width: 63.75em) {
  #fs-slider .details #caption .slider__header {
    font-size: 128px;
    font-size: 8rem;
  }
}
#fs-slider .details #caption .slider__header--sub {
  font-family: "Lora", serif;
  line-height: 0.7;
  text-transform: uppercase;
  font-size: 40px;
  font-size: 2.5rem;
  text-shadow: 0px 0px 10px black;
}
@media only screen and (min-width: 48em) {
  #fs-slider .details #caption .slider__header--sub {
    font-size: 80px;
    font-size: 5rem;
  }
}
@media only screen and (min-width: 63.75em) {
  #fs-slider .details #caption .slider__header--sub {
    font-size: 80px;
    font-size: 5rem;
  }
}

#fs-slider .details #icon {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background: white url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMhJREFUeNrsmcENgzAMRTFiBkZjA6brGPTCKmWINPSUA4XUdlIiPUs+hvxnG+VHkRBC13L0XeMBAAAAAAAAAAAAAAAAAKhj0C4UETcRlkuVRweWXYMyF+vmoqVPOhD+pcE0QkdCfp0cfmLnDuRWVjw3owOlK8wIMUJ4oXoAqUXYvzvH3E5shJ+R0uSFF1ozvdDTouGjwwHgWxceMceSRSwF8Io51ZiCEgDZVfcC8LDTzV9o2jzI7vK2xkEGAAAAAAAAAAAY4i3AAGDIo8+BJNYLAAAAAElFTkSuQmCC") no-repeat;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

#fs-slider .details #count {
  position: absolute;
  bottom: 40px;
  left: 90px;
  background: #FFF;
  color: #000;
  text-transform: uppercase;
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  font-weight: 300;
  white-space: nowrap;
  font-size: 13px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

#fw-slider {
  height: 400px;
  overflow: hidden;
}

#fw-slider .frame {
  width: 100%;
  height: 100%;
}

#fw-slider .frame .slide_element {
  height: 100%;
}

#fw-slider .frame .slide_element > div {
  float: left;
  height: 100%;
  overflow: hidden;
}

#fw-slider .frame .mSCover img {
  max-width: none;
}

#fw-slider .frame .details {
  background-image: url("/img/bkg/callout-tan-card.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  max-height: 284px;
  position: absolute;
  width: 91%;
  top: 12%;
  left: 2.5%;
}
@media only screen and (min-width: 30em) {
  #fw-slider .frame .details {
    width: 25%;
    min-width: 400px;
    max-height: 284px;
    height: 100%;
    top: 10%;
    left: 10%;
  }
}
@media only screen and (min-width: 63.75em) {
  #fw-slider .frame .details {
    width: 25%;
    top: 10%;
    left: 19%;
    max-width: 280px;
  }
}

#fw-slider .frame .details #caption2 {
  font-family: "Quattrocento Sans", sans-serif;
  position: absolute;
  top: 20%;
  left: 9%;
  width: 83%;
}
@media only screen and (min-width: 48em) {
  #fw-slider .frame .details #caption2 {
    top: 20%;
    left: 9%;
  }
}
@media only screen and (min-width: 63.75em) {
  #fw-slider .frame .details #caption2 {
    top: 20%;
    left: 9%;
  }
}

#fw-slider .frame .details #callout-button {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.fw-image__link:link, .fw-image__link:visited, .fw-image__link:hover {
  color: #fff;
}

.fw-image__figure {
  position: relative;
}
.fw-image__figure img {
  display: block;
  width: 100%;
  min-width: 320px;
}
@media only screen and (min-width: 48em) {
  .fw-image__figure img {
    min-width: 1200px;
  }
}

.fw-image__callout {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .fw-image__callout {
    padding: 25px 2%;
    top: 10%;
    bottom: 10%;
    width: 25%;
  }
}

.caption__header {
  text-align: center;
}
.caption__header:after {
  content: "\00BB";
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media only screen and (min-width: 48em) {
  .caption__header {
    text-align: left;
  }
  .caption__header:after {
    display: none;
  }
}

.caption__text {
  display: none;
}
@media only screen and (min-width: 48em) {
  .caption__text {
    display: block;
  }
}

.btn--callout {
  display: none;
}
@media only screen and (min-width: 48em) {
  .btn--callout {
    bottom: 10%;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}

.default .fw-image__callout {
  background: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 48em) {
  .default .fw-image__callout {
    min-width: 50%;
    right: 25%;
    border: 4px double #999;
  }
}
@media only screen and (min-width: 63.75em) {
  .default .fw-image__callout {
    min-width: 400px;
    right: 16%;
  }
}
.default .caption__header {
  color: #fff;
}
.default .caption__text {
  color: #fff;
}
.default .caption__text a, .default .caption__text a:link, .default .caption__text a:hover, .default .caption__text a:visited {
  color: #fff;
  text-decoration: underline;
}
.default .btn--callout {
  background-color: #abb7ae;
}
.default .btn--callout:link, .default .btn--callout:visited, .default .btn--callout:hover {
  color: #fff;
}

.interior-slideshow {
  position: relative;
  height: 400px;
}
@media only screen and (min-width: 48em) {
  .interior-slideshow {
    padding: 25px 2%;
  }
}

#interior-slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#interior-slider .frame {
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#interior-slider .frame .slide_element {
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#interior-slider .frame .slide_element > div {
  float: left;
  height: 100%;
}

#interior-slider .frame .mSCover img {
  max-width: none;
}

#interior-slider .details #caption {
  position: absolute;
  top: 90px;
  left: 40px;
  padding: 20px;
  color: #fff;
  max-width: 30%;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
#interior-slider .details #caption a, #interior-slider .details #caption a:visited, #interior-slider .details #caption a:hover, #interior-slider .details #caption a:link {
  color: #fff;
}
#interior-slider .details #caption .slider__header {
  font-family: "Quattrocento Sans", sans-serif;
  display: block;
  font-size: 32px;
  font-size: 2rem;
}
#interior-slider .details #caption .slider__header--sub {
  font-family: "Georgia", sans-serif;
}

#media-slider .frame {
  width: 100%;
  height: 365px;
}

#media-slider .frame .slide_element {
  height: 100%;
}

#media-slider .frame .slide_element > div {
  float: left;
  height: 100%;
  overflow: hidden;
}

#media-slider .frame .mSCover img {
  max-width: none;
}

.header {
  background: url(/img/bkg/blue-bg.png);
  background-repeat: repeat;
  min-width: 320px;
  width: 100%;
  z-index: 1001;
  position: relative;
  *zoom: 1;
}
.header:before, .header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
@media only screen and (min-width: 63.75em) {
  .header {
    background: none;
    position: fixed;
  }
}

.mobile-nav {
  float: left;
  padding-left: 2%;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.mobile-nav__figure {
  padding-top: 1.5em;
  max-width: 45px;
}
@media only screen and (min-width: 63.75em) {
  .mobile-nav {
    display: none;
  }
}

.branding {
  text-align: center;
  width: 56%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  z-index: 1000000;
  position: absolute;
}
@media only screen and (min-width: 48em) {
  .branding {
    position: absolute;
    top: 0;
  }
}
@media only screen and (min-width: 63.75em) {
  .branding {
    left: 2%;
    text-align: center;
    width: 15%;
  }
}
.branding__figure {
  margin: 0 auto;
  max-width: 150px;
}

.book-now {
  float: right;
  margin-right: 2%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.book-now__figure {
  max-width: 60px;
  padding-top: 0.75em;
}
@media only screen and (min-width: 48em) {
  .book-now {
    display: none;
  }
}

.page-header {
  text-align: center;
}
@media only screen and (min-width: 63.75em) {
  .page-header {
    padding-top: 60px;
  }
}
.page-header img {
  display: block;
}

.page-header__image {
  display: block;
  width: 100% !important;
  height: auto !important;
  max-width: 3000px !important;
}

.utility-nav__wrapper {
  width: 100%;
  background: #b8ac95;
}

.utility-nav--desktop {
  display: none;
}
@media only screen and (min-width: 63.75em) {
  .utility-nav--desktop {
    display: block;
    font-family: "Quattrocento Sans", sans-serif;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-right: 1%;
    text-align: right;
    width: 1020px;
  }
  .utility-nav--desktop .ut-nav--phone {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0;
  }
}

@media only screen and (min-width: 63.75em) {
  .ut-nav__list {
    float: right;
  }
}

.ut-nav__item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.ut-nav__link {
  border-right: 1px solid white;
  color: white;
  padding-right: 10px;
  font-size: 14px;
  font-size: 0.875rem;
}
.ut-nav__link:link, .ut-nav__link:hover, .ut-nav__link:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (min-width: 48em) {
  .ut-nav__link {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 63.75em) {
  .ut-nav__link {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.ut-nav--search a.ut-nav__link, .ut-nav--phone a.ut-nav__link {
  border: 0;
}

.ut-nav--search {
  display: none;
}
@media only screen and (min-width: 63.75em) {
  .ut-nav--search {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}
.ut-nav--search input.search {
  padding: 2px 0 2px 12px;
  font-size: 12px;
  font-size: 0.75rem;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.phone-icon {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.secondary-nav--mobile {
  background: #284a56;
  -moz-box-shadow: inset 0px 0px 35px black;
  -webkit-box-shadow: inset 0px 0px 35px black;
  box-shadow: inset 0px 0px 35px black;
}
@media only screen and (min-width: 48em) {
  .secondary-nav--mobile {
    display: none;
  }
}

.secondary-nav__figure {
  max-width: 60px;
}

.email-us {
  text-align: left;
  width: 32%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.email-us .secondary-nav__figure {
  float: left;
}

.location {
  text-align: center;
  width: 32%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.location .secondary-nav__figure {
  margin: 0 auto 0 auto;
}

.contact-us {
  text-align: right;
  width: 32%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.contact-us .secondary-nav__figure {
  float: right;
}

.search-box {
  padding: 0.2em 0 0.3em 0;
  margin-right: 1px;
}

.search-form--page {
  margin: 1em 0;
  text-align: center;
}
.search-form--page .search {
  padding: 4px 2% 2px 2%;
}

/* Reservation Form */
.reserve {
  display: none;
}
@media only screen and (min-width: 48em) {
  .reserve {
    display: block;
    position: absolute;
    top: 27px;
    right: 2%;
    width: 50%;
    text-align: right;
  }
}
@media only screen and (min-width: 63.75em) {
  .reserve {
    position: relative;
    top: 0;
    right: 0;
    display: block;
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 2px;
    width: 100%;
  }
}

.reservation {
  display: none;
}
@media only screen and (min-width: 48em) {
  .reservation {
    background: #284a56;
    clear: both;
    margin-right: 10%;
    margin-left: 10%;
    padding: 15px 2%;
    width: 80%;
  }
}
@media only screen and (min-width: 63.75em) {
  .reservation {
    float: right;
    width: 40%;
  }
}
.reservation__field {
  margin: 0 0 10px 0;
  *zoom: 1;
}
.reservation__field:before, .reservation__field:after {
  content: "";
  display: table;
}
.reservation__field:after {
  clear: both;
}
.reservation__input--date {
  padding: 0 1% 0 0;
}
.reservation__select--nights {
  margin-left: 12%;
}
.reservation__select--adults {
  margin-left: 15%;
}
.reservation__select--children {
  margin-left: 8%;
}
@media only screen and (max-width: 47em) {
  .reservation {
    display: none !important;
  }
}

#datePicker-Res.hasDatepicker {
  float: left;
  width: 50%;
}

.ui-datepicker table {
  font-size: 10.4px;
  font-size: 0.65rem;
}

.ui-datepicker .ui-datepicker-title {
  font-size: 0.65em;
}

li.btn--reservation:hover .reservation {
  display: block;
}

.reservation__section {
  background: #d0bea3;
  padding: 1em 3%;
}

#ui-datepicker-div {
  max-width: 200px;
}

.aside-nav {
  display: block;
}

@media only screen and (min-width: 63.75em) {
  .aside__nav--medium {
    display: none;
  }
}

.aside__nav--large {
  display: none;
}
@media only screen and (min-width: 63.75em) {
  .aside__nav--large {
    display: block;
  }
}

.aside-nav__list {
  padding: 10px 2%;
  border: 1px dashed #b5b0a6;
  margin-bottom: 2em;
}
@media only screen and (min-width: 63.75em) {
  .aside-nav__list {
    padding: 0;
    border: none;
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.aside-nav__link:visited, .aside-nav__link:hover, .aside-nav__link:link {
  color: #000;
  font-family: "Quattrocento Sans", sans-serif;
  padding-left: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.aside-nav__item {
  font-weight: bold;
  margin: 2.5px 0;
  padding: 2.5px 0;
}
.aside-nav__item.active {
  /* > ul 
  	{
  		display:block;
  		left:15px;
  		opacity:1;
  		position:relative;
  	} */
}
.aside-nav__item.active a, .aside-nav__item.active a:link, .aside-nav__item.active a:active, .aside-nav__item.active a:visited {
  color: #284a56;
}
.aside-nav__item.active ul > li > a {
  color: #000;
}
.aside-nav__item.active ul > li > a:link, .aside-nav__item.active ul > li > a:hover, .aside-nav__item.active ul > li > a:visited {
  color: #000;
}
.aside-nav__item.hasChild:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #284a56;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.aside-nav__item.hasChild.open:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 5px solid #284a56;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.aside-nav__item.noChild {
  /* &.open {
  	&:before {
  		content:"";
  		@include arrow(bottom, #fff, 5px);
  		@include inline-block;
  	}
  } */
}
.aside-nav__item.noChild:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid white;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.aside-nav__list--secondary {
  position: absolute;
  opacity: 0;
  left: -22000px;
}

.aside-nav__item--secondary {
  font-weight: normal;
}
.aside-nav__item--secondary:before {
  content: "\00BB";
  color: #284a56;
}

.no-js .aside-nav__list--secondary {
  display: block;
}

.effectFadeInDown {
  visibility: visible;
  opacity: 1;
  position: relative;
  left: 15px;
}

.effectFadeOut {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.landing-intro__bkgrd {
  background-image: url(/img/bkg/home-page-bk-image.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 1em 0;
}
.landing-intro__section {
  margin: 20px auto;
  min-height: 375px;
  max-width: 585px;
  width: 90%;
}
@media only screen and (min-width: 48em) {
  .landing-intro__section {
    min-height: 500px;
    width: 50%;
  }
}
.landing-intro__header {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 26px;
  font-size: 1.625rem;
}
@media only screen and (min-width: 48em) {
  .landing-intro__header {
    font-size: 34px;
    font-size: 2.125rem;
  }
}
@media only screen and (min-width: 63.75em) {
  .landing-intro__header {
    font-size: 40px;
    font-size: 2.5rem;
  }
}
.landing-intro__subheader {
  font-family: "cac_leslieregular";
  line-height: 1;
  font-size: 30.4px;
  font-size: 1.9rem;
}
@media only screen and (min-width: 48em) {
  .landing-intro__subheader {
    line-height: 0.8;
    font-size: 48px;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 63.75em) {
  .landing-intro__subheader {
    line-height: 0.5;
    font-size: 80px;
    font-size: 5rem;
  }
}

.fancy-intro {
  text-align: center;
  	/* &:before {
  		background-color:#827e75;   
  		content:"";
  		height:2px;
  		margin-right:2%;
  		width: 6%;
  		@include inline-block;
  		@media only screen and (min-width:48em){
  			width:48px;
  		}				
  		@media only screen and (min-width:63.75em){
  			width:58px;
  		}
  
  	} */
  /* &:after {
  	background-color:#827e75;
  	content:"";
  	height:2px;
  	margin-left:2%;
  	width: 6%;
  	@include inline-block;
  	@media only screen and (min-width:48em){
  		width:48px;
  	}
  	@media only screen and (min-width:63.75em){
  		width:58px;
  	}
  } */
}

.title__section {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media only screen and (max-width: 47em) {
  .title__section {
    max-width: 80%;
  }
}

.tag-line__header {
  font-family: "Georgia";
  font-size: 16px;
  font-size: 1rem;
}
@media only screen and (min-width: 48em) {
  .tag-line__header {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 63.75em) {
  .tag-line__header {
    font-size: 16px;
    font-size: 1rem;
  }
}

.title-line__header {
  font-family: "Lora", serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 26px;
  font-size: 1.625rem;
}
@media only screen and (min-width: 48em) {
  .title-line__header {
    font-size: 34px;
    font-size: 2.125rem;
  }
}
@media only screen and (min-width: 63.75em) {
  .title-line__header {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

.intro {
  /*&__figure {
  	display:none;
  	@media only screen and (min-width:63.75em){
  		margin-right:2%;
  		width:22%;
  		@include inline-block;
  	}
  }*/
}
.intro__text {
  font-size: 16px;
  font-size: 1rem;
}
@media only screen and (min-width: 63.75em) {
  .intro__text {
    font-size: 20px;
    font-size: 1.25rem;
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}

.interior__header {
  text-align: center;
}

.interior-editor {
  margin-top: 30px;
  text-align: center;
}
.interior-editor a:not(.btn):link, .interior-editor a:not(.btn):visited, .interior-editor a:not(.btn):hover {
  border-bottom: 1px dotted #284a56;
  color: #284a56;
  text-decoration: none;
}
.interior-editor p {
  color: #473d34;
  margin-bottom: 1em;
}
.interior-editor p a:not(.btn):link, .interior-editor p a:not(.btn):visited, .interior-editor p a:not(.btn):hover {
  border-bottom: 1px dotted #284a56;
  color: #284a56;
  text-decoration: none;
}
.interior-editor ul {
  list-style-type: disc;
  margin-left: 2%;
  padding-left: 2%;
}

a.text-link:link, a.text-link:visited, a.text-link:hover {
  border-bottom: 1px dotted #284a56;
  color: #284a56;
  text-decoration: none;
}

.featured__section {
  margin: 10px auto;
  padding: 10px 0;
  width: 90%;
}
@media only screen and (min-width: 48em) {
  .featured__section {
    border-top: 1px solid #b4b4b4;
  }
}

.featured__header {
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
}
@media only screen and (min-width: 48em) {
  .featured__header {
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 63.75em) {
  .featured__header {
    font-size: 21.92px;
    font-size: 1.37rem;
  }
}

.three-column-image .featured__header, .two-column-widget .featured__header {
  margin-top: 0.5em;
}

.featured__item {
  border: 1px solid #a5b0a2;
  margin: 20px 0;
  position: relative;
  *zoom: 1;
}
.featured__item:before, .featured__item:after {
  content: "";
  display: table;
}
.featured__item:after {
  clear: both;
}
@media only screen and (min-width: 63.75em) {
  .featured__item {
    margin: 10px 1.5%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}

/*.featured__item--twoCol {
	margin:20px 0;
	@media only screen and (min-width:63.75em){
		margin:10px 1.5%;
		width:46%;
		@include inline-block(top);
	}
}*/
a.featured__link {
  text-decoration: none;
}
a.featured__link:link, a.featured__link:visited, a.featured__link:hover {
  color: #fff;
}

@media only screen and (min-width: 48em) {
  .featured__figure {
    min-width: 210px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
  .featured__figure img.crop1 {
    display: none;
  }
}
@media only screen and (min-width: 63.75em) {
  .featured__figure {
    display: none;
  }
}

/*.three-column__figure {
		@media only screen and (min-width:48em){
		min-width:210px;
		width:30%;
		@include inline-block(top);
	}
}*/
/*.featured__caption {
	background:$primary;
	color:#fff;
	font-family:$font1;
	padding: 10px 0 5px 0;
	text-align:center;
	text-transform: uppercase;
	&:before {
		content:'\00BB';
		margin-right:7px;
		vertical-align:6%;
	}
	@include font-size(1.25);
	@media only screen and (min-width:48em){
		display:none;
	}
}*/
/*.featured__content {
	display:none;
	@media only screen and (min-width:48em){
		height:auto;
		margin-left:1%;
		width:65%;
		@include inline-block(top);
	}
	@media only screen and (min-width:63.75em){
		margin:0;	
		position:relative;
		width:100%;
	}
}*/
.featured__text a, .featured__text a:link, .featured__text a:visited, .featured__text a:hover {
  color: #284a56;
  text-decoration: none;
  border-bottom: 1px dotted #284a56;
}
.featured__text p {
  margin-bottom: 1em;
}

@media only screen and (min-width: 63.75em) {
  .two-column-widget figure {
    width: 100%;
  }
}

@media only screen and (min-width: 48em) {
  .featured__section--3col .featured__item {
    padding-bottom: 1.5em;
    margin-bottom: 2.5em;
  }
}
@media only screen and (min-width: 48em) {
  .featured__section--3col .btn--bottompos {
    bottom: -30px;
    position: absolute;
    right: 17.5%;
    width: 65%;
  }
}

.featured__figure--3col {
  padding: 1em 2% 1em 2%;
  text-align: center;
}
@media only screen and (min-width: 48em) {
  .featured__figure--3col {
    float: left;
    padding: 1em 0 1em 2%;
    width: 30%;
  }
}
@media only screen and (min-width: 63.75em) {
  .featured__figure--3col {
    float: none;
    width: 100%;
    padding: 0;
  }
}

.featured__content--3col {
  padding: 1em 4%;
}
.featured__content--3col ul {
  list-style-type: disc;
  margin-left: 4%;
}
.featured__content--3col ul li {
  margin: 0.3em 0;
}
@media only screen and (min-width: 48em) {
  .featured__content--3col {
    float: right;
    width: 64%;
  }
}
@media only screen and (min-width: 63.75em) {
  .featured__content--3col {
    float: none;
    width: 100%;
  }
}

.featured__item {
  background-color: #fbf9f5;
}

@media only screen and (min-width: 48em) {
  .featured__section--2col .featured__item {
    padding-bottom: 1.5em;
    margin-bottom: 2.5em;
  }
}
@media only screen and (min-width: 63.75em) {
  .featured__section--2col .featured__item {
    margin: 10px 1.5%;
    width: 46%;
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}
@media only screen and (min-width: 48em) {
  .featured__section--2col .btn--bottompos {
    bottom: -30px;
    position: absolute;
    right: 25%;
    width: 50%;
  }
}

.featured__figure--2col {
  padding: 1em 2%;
}
@media only screen and (min-width: 48em) {
  .featured__figure--2col {
    float: left;
    padding: 1em 0 1em 2%;
    width: 30%;
  }
}
@media only screen and (min-width: 63.75em) {
  .featured__figure--2col {
    float: none;
    padding: 0;
    width: 100%;
  }
}

.featured__content--2col {
  padding: 1em 4%;
}
.featured__content--2col ul {
  list-style-type: disc;
  margin-left: 4%;
}
.featured__content--2col ul li {
  margin: 0.3em 0;
}
@media only screen and (min-width: 48em) {
  .featured__content--2col {
    float: right;
    width: 64%;
  }
}
@media only screen and (min-width: 63.75em) {
  .featured__content--2col {
    float: none;
    width: 100%;
  }
}

.image-gallery__section {
  border-bottom: 1px solid #a5b0a2;
  padding: 25px 0;
}

#pic-count {
  background: #fff;
  padding: 5px 0;
  text-align: center;
}

.image-gallery--interior {
  padding: 25px 0;
}

.interior-gallery__section {
  background-image: url(/img/bkg/wood-bk-tile.png);
  background-repeat: repeat;
}

@media only screen and (max-width: 47em) {
  .image-gallery__copy {
    margin: 0 auto 35px auto;
    width: 90%;
  }
}

/* Photo Album */
.photo-albums {
  margin: 15px 0;
  text-align: center;
}

.album {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 4% 15px 0;
  width: 46%;
}
.album:nth-child(1n) {
  margin-left: 0;
}
.album:nth-child(2n) {
  margin-right: 0;
}
@media only screen and (min-width: 48em) {
  .album {
    margin: 0 1% 15px 1%;
    width: 32%;
  }
  .album:nth-child(1n) {
    margin-left: 0;
  }
  .album:nth-child(3n) {
    margin-left: 0;
  }
}

.album__figcaption {
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
}

.album__link:link, .album__link:visited, .album__link:hover {
  text-decoration: none;
  color: #473d34;
}

/* Events */
@media only screen and (min-width: 48em) {
  .events__section {
    padding-top: 6em;
  }
}
@media only screen and (min-width: 63.75em) {
  .events__section {
    padding-top: 6em;
  }
}

.event-date {
  background: #284a56;
  background-image: url(/img/bkg/blue-bg.png);
  color: #fff;
  margin-top: 1em;
  padding: 10px 0 5px 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.event-date__header {
  color: #fff;
  display: block;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 63.75em) {
  .event-date__header {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}
.event-date__filter {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 0 0 2%;
}
@media only screen and (min-width: 48em) {
  .event-date__filter {
    width: 100%;
  }
}
@media only screen and (min-width: 63.75em) {
  .event-date__filter {
    width: 57%;
  }
}
.event-date__link:link, .event-date__link:visited, .event-date__link:hover {
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
  text-decoration: none;
}
.event-date__label {
  display: block;
  margin: 0.25em 0 0 0;
}
@media only screen and (min-width: 48em) {
  .event-date__label {
    margin: 0 1% 0 1%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}
.event-date__input {
  background-color: #e4e0d3;
  border: 0;
  color: #666;
  display: block;
  margin: 0.25em 0 0.5em 0;
  padding: 6px 0 6px 8px;
}
@media only screen and (min-width: 48em) {
  .event-date__input {
    margin: 10px 0;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}

.item__figure {
  position: relative;
}
.item__figure img {
  display: block;
  width: 100%;
}

.item__figcaption {
  background: #ae6647;
  bottom: 0;
  padding: 5px 2% 0 2%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.package__figcaption.community-event {
  background: #abb7ae;
}

.hh-event--hover .community-event__text {
  display: none;
}
.hh-event--hover .hh-event__text {
  display: block;
}

.community-event--hover .community-event__text {
  display: block;
}
.community-event--hover .hh-event__text {
  display: none;
}

.packages__section {
  overflow: hidden;
  padding-top: 1.5em;
}
@media only screen and (min-width: 48em) {
  .packages__section {
    padding-top: 1.5em;
  }
}
@media only screen and (min-width: 63.75em) {
  .packages__section {
    padding-top: 6em;
  }
}

.filter {
  text-align: center;
  text-transform: uppercase;
}
.filter__button {
  border: 0;
  background: none;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.filter__button.is-checked {
  color: #fff;
  background: #284a56;
  border: 0;
}

.packages {
  display: block;
  clear: both;
}

/* ---- isotope ---- */
.package__figure {
  padding-bottom: 1em;
  position: relative;
}
.package__figure img {
  width: 100%;
}
.package__figcaption {
  color: #fff;
  background: #ae6647;
  bottom: 0;
  font-family: "Quattrocento Sans", sans-serif;
  padding: 0.3em 1% 0.2em 1%;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 48em) {
  .package__figcaption {
    font-size: 16px;
    font-size: 1rem;
  }
}
.package__date {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: none;
  font-weight: bold;
  position: absolute;
  height: 100%;
  text-align: center;
  top: 0;
  padding: 15% 5% 0 5%;
  width: 100%;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 48em) {
  .package__date {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

/* clear fix */
.packages:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */
.element-item {
  position: relative;
  float: left;
  width: 96%;
  margin: 2%;
  background: #888;
  color: #262524;
}
.element-item__link {
  text-decoration: none;
  color: #fff;
}
@media only screen and (min-width: 48em) {
  .element-item {
    width: 21%;
    margin: 2%;
  }
}
.element-item:hover .package__date {
  display: block;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.package-details__header--pricing {
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
}
.package-details__description ul {
  list-style-type: disc;
  margin: 0 3%;
  padding: 0 1%;
}
.package-details__shortdescription {
  margin: 1.5em 0;
}
.package-details__buttons {
  margin: 2em 0 2em 0;
}
@media only screen and (min-width: 48em) {
  .package-details__buttons {
    float: none;
    margin: 1em 3%;
    width: 94%;
  }
}
@media only screen and (min-width: 63.75em) {
  .package-details__buttons {
    float: right;
    margin: 0;
    width: 48.5%;
  }
}

.similar-packages {
  margin: 35px 0 0 0;
}
.similar-packages__list {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.similar-packages__item {
  margin: 1em 2%;
  max-width: 320px;
  width: 96%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media only screen and (min-width: 30em) {
  .similar-packages__item {
    margin: 1em 2% 1em 0;
    width: 47%;
  }
  .similar-packages__item:last-child {
    margin-right: 0;
  }
}
@media only screen and (min-width: 48em) {
  .similar-packages__item {
    max-width: 200px;
    width: 23.5%;
  }
  .similar-packages__item:last-child {
    margin-right: 0;
  }
}
.similar-packages__link:hover, .similar-packages__link:visited, .similar-packages__link:link {
  color: #928874;
}
.similar-packages__figure {
  position: relative;
}
.similar-packages__figure img {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .similar-packages__figure img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
}
.similar-packages__figure:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.similar-packages__figcaption {
  margin: 0.25em 0;
  text-align: center;
  text-transform: uppercase;
}

#datepicker2 {
  display: none;
}
#datepicker2.hasDatepicker {
  float: none;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  #datepicker2 {
    display: block;
  }
}

.event-menus .similar-packages__item {
  margin: 0.5em 2%;
  width: 96%;
}
@media only screen and (min-width: 48em) {
  .event-menus .similar-packages__item {
    width: 22%;
    margin: 0.5em 1%;
  }
}

@media only screen and (min-width: 48em) {
  .booking-section__calendar {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 63.75em) {
  .booking-section__calendar {
    float: left;
    width: 48.5%;
  }
}
.booking-section .reservation__field {
  display: none;
}
@media only screen and (min-width: 48em) {
  .booking-section .reservation__field {
    display: block;
    text-align: center;
    color: #fff;
  }
}
@media only screen and (min-width: 48em) {
  .booking-section {
    background: #284a56;
    margin-left: 2%;
    padding: 1em 2%;
  }
  .booking-section__wrapper {
    background: #d0bea3;
    padding: 0.5em 1%;
  }
}

.package-details__section--events .package-details__header--pricing {
  margin: 0.5em 0;
}
@media only screen and (min-width: 63.75em) {
  .package-details__section--events .package-details__description {
    margin: 0 auto;
    width: 75%;
  }
}
.package-details__section--events .package-details__buttons {
  margin: 1.5em 0 0.5em 0;
  text-align: right;
}

.booking-phone {
  text-align: center;
  padding: 1em 2%;
}
.booking-phone__link:link, .booking-phone__link:visited, .booking-phone__link:hover {
  color: #284a56;
  cursor: default;
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem;
}

.room-type__item {
  margin-bottom: 2em;
}

.room-overview {
  background: #f0f1ec;
  padding: 15px 2%;
}

.room-type__figure {
  margin-bottom: 2em;
  overflow: hidden;
  position: relative;
}
.room-type__figure img {
  display: block;
  height: auto !important;
}
@media only screen and (min-width: 48em) {
  .room-type__figure {
    margin-bottom: 0;
  }
}

.room-type__copy {
  min-height: 100px;
}

.room-detail__copy a:not(.btn):link, .room-detail__copy a:not(.btn):visited, .room-detail__copy a:not(.btn):hover {
  border-bottom: 1px dotted #fff;
  color: #fff;
  text-decoration: none;
}

.btn--roomGallery {
  display: block;
  text-align: center;
}
@media only screen and (min-width: 48em) {
  .btn--roomGallery {
    bottom: 5px;
    position: absolute;
    right: 19%;
    width: 56%;
  }
}
@media only screen and (min-width: 63.75em) {
  .btn--roomGallery {
    width: 50%;
    right: 25%;
  }
}

.btn--bookNow {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .btn--bookNow {
    width: 215px;
  }
}

.btn--editor {
  background-color: #666;
}

.btn--roomDetails {
  display: block;
  margin: 15px 0 0 0;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .btn--roomDetails {
    width: 215px;
  }
}

.room-details {
  background: #284a56;
  color: #fff;
  display: none;
  padding: 15px 2%;
}

.no-js .room-details {
  display: block;
}

.amenities__header {
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
}

@media only screen and (min-width: 48em) {
  .amenities {
    padding-left: 2%;
    width: 44%;
  }
}

.amenities__list {
  list-style-type: disc;
  margin-left: 4%;
  padding-left: 2%;
}

.amenities__item {
  font-size: 14px;
  font-size: 0.875rem;
}

/* Logo - Copy - Button Widget */
.detail-overview {
  border: 1px dotted #284a56;
}
.detail-overview__header {
  text-transform: uppercase;
}
.detail-overview__container {
  padding: 1em 0;
  margin: 0 3%;
  width: 94%;
}
@media only screen and (min-width: 48em) {
  .detail-overview__container {
    margin: 0;
    width: 65.16666%;
  }
}
.detail-overview__copy {
  min-height: 100px;
}
.detail-overview__copy a, .detail-overview__copy a:link, .detail-overview__copy a:hover, .detail-overview__copy a:visited {
  color: #284a56;
  text-decoration: none;
  border-bottom: 1px dotted #284a56;
}
.detail-overview__copy ul {
  margin-left: 20px;
}
.detail-overview__copy li {
  list-style-type: disc;
}
.detail-overview__buttons {
  margin: 1em 0;
}
.detail-overview__figure img {
  display: block;
}
@media only screen and (min-width: 48em) {
  .detail-overview__figure {
    padding: 1em 6%;
  }
}

.btn--reserveNow, .btn--website {
  display: block;
}
@media only screen and (min-width: 48em) {
  .btn--reserveNow, .btn--website {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}

.banner__section {
  margin: 10px 0 20px 0;
}
@media only screen and (min-width: 48em) {
  .banner__section {
    background-color: #fff;
    background-image: url(/img/bkg/call-bar.jpg);
    background-repeat: repeat-x;
    background-position: center center;
  }
}

.banner__figure {
  text-align: center;
}
@media only screen and (min-width: 48em) {
  .banner__figure {
    margin-right: 10%;
    float: right;
    max-width: 194px;
  }
}

.banner-text {
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 48em) {
  .banner-text {
    text-align: left;
  }
}
.banner-text ul {
  margin: 0.25em 0 0.75em 0;
}

.banner__header {
  color: #fff;
}
@media only screen and (min-width: 48em) {
  .banner__header {
    margin-top: 45px;
  }
}

.banner__text {
  background: #ae6647;
  margin: 15px 0 20px 0;
}
@media only screen and (min-width: 48em) {
  .banner__text {
    background: none;
    margin: 15px 0 20px 0;
    width: 75%;
  }
}

.banner-button {
  margin: 0 0 25px 0;
}

li.banner__text {
  margin: 0;
}

/* Chat */
.chat {
  display: none;
}
@media only screen and (min-width: 48em) {
  .chat {
    display: block;
    position: fixed;
    z-index: 10000000;
    right: 0;
    top: 37%;
  }
}

.lpPoweredBy, .lpEmtStarRating {
  display: none !important;
}

/* Contact Us */
.form {
  /* &__select {
  	background-color:#e4e0d3;
  	border:0;
  	color:#fff;
  	height:45px;
  	padding:8px 0 9px 5px;
  	width:100%;
  	@include inline-block;
  	@media only screen and (min-width:48em){
  		width:98%;
  	}
  	@media only screen and (min-width:63.75em){
  		margin:10px 0;
  		width:79%;
  	}
  } */
}
.form__header {
  margin: 5px 0;
  font-size: 14px;
  font-size: 0.875rem;
}
.form__section {
  margin-top: 2em;
  border-top: 1px solid #a5b0a2;
}
@media only screen and (min-width: 63.75em) {
  .form__interests {
    margin: 0 0 0 2%;
    text-align: center;
    width: 98%;
  }
}
.form__label {
  margin: 10px 0 0 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media only screen and (min-width: 63.75em) {
  .form__label {
    display: block;
    margin: 10px 0 0 2%;
    width: 98%;
  }
  .form__label--checkbox {
    display: block;
    width: 98%;
  }
}
.form__input, .form__select {
  background-color: #e4e0d3;
  border: 0;
  color: #666666;
  height: 45px;
  padding: 8px 0 9px 5px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.form__input--file, .form__select--file {
  background: none;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .form__input, .form__select {
    width: 98%;
  }
}
@media only screen and (min-width: 63.75em) {
  .form__input, .form__select {
    margin: 5px 0 5px 6%;
    width: 90%%;
  }
}
.form__textarea {
  background-color: #e4e0d3;
  border: 0;
  color: #666666;
  height: 80px;
  padding: 8px 0 9px 5px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media only screen and (min-width: 48em) {
  .form__textarea {
    height: 200px;
    margin: 10px 0;
    width: 79%;
  }
}
@media only screen and (min-width: 63.75em) {
  .form__textarea {
    margin: 5px 0 5px 6%;
    width: 90%%;
  }
}
.form__checkbox {
  margin-left: 2%;
}

.file-attachment__note {
  display: block;
  font-style: italic;
}

@media only screen and (min-width: 63.75em) {
  .rfp__form .form__label {
    margin: 10px 1% 0 1%;
    width: 29%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
  .rfp__form .form__label--checkbox {
    display: block;
    width: 98%;
  }
}
.rfp__form .form__label--file {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .rfp__form .form__input, .rfp__form .form__select {
    width: 98%;
  }
}
@media only screen and (min-width: 63.75em) {
  .rfp__form .form__input, .rfp__form .form__select {
    margin: 5px 0 5px 4%;
    width: 62%;
  }
}
@media only screen and (min-width: 48em) {
  .rfp__form .form__textarea {
    height: 200px;
    margin: 0px 0;
    width: 100%;
  }
}
@media only screen and (min-width: 63.75em) {
  .rfp__form .form__textarea {
    width: 62%;
    margin: 5px 0 5px 4%;
  }
}
.rfp__form .rfp-content__block {
  border-top: 1px dashed #a5b0a2;
  margin: 1em 0;
  padding: 1em 0;
}
@media only screen and (min-width: 63.75em) {
  .rfp__form .rfp--contactInformation .form__label {
    margin: 10px 2% 0 2%;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
  .rfp__form .rfp--contactInformation .form__label--checkbox {
    display: block;
    width: 98%;
  }
}
@media only screen and (min-width: 48em) {
  .rfp__form .rfp--contactInformation .form__input, .rfp__form .rfp--contactInformation .form__select {
    width: 98%;
  }
}
@media only screen and (min-width: 63.75em) {
  .rfp__form .rfp--contactInformation .form__input, .rfp__form .rfp--contactInformation .form__select {
    margin: 5px 0 5px 4%;
    width: 70%;
  }
}
.rfp__form .rfp--generalInformation__header, .rfp__form .rfp--roomInformation__header, .rfp__form .rfp--functionInformation__header {
  margin: 0.5em 0;
  text-align: center;
}
.rfp__form .checkbox-field {
  background-color: #e4e0d3;
  border: 0;
  color: #666666;
  height: 45px;
  padding: 8px 0 9px 5px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media only screen and (min-width: 48em) {
  .rfp__form .checkbox-field {
    width: 98%;
  }
}
@media only screen and (min-width: 63.75em) {
  .rfp__form .checkbox-field {
    margin: 5px 0 5px 4%;
    width: 62%;
  }
}

.location__section {
  padding: 40px 0 0 0;
}
.location__section p {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  font-size: 15.6px;
  font-size: 0.975rem;
}

.location-top {
  margin-bottom: 40px;
}

.location-map {
  margin-bottom: 40px;
}
.location-map:after {
  content: "";
  display: block;
  height: 15px;
  width: 100%;
  background-image: url("/img/bkg/red-bar.jpg");
  background-repeat: repeat-x;
}

.location-map__figure img {
  display: block;
  max-width: none;
  width: 100%;
}

.footer-top {
  background: #abb7ae;
  background-image: url(/img/bkg/footer-bk-ground.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  padding: 1em 0;
  -moz-box-shadow: 0 5px 20px #cccccc inset;
  -webkit-box-shadow: 0 5px 20px #cccccc inset;
  box-shadow: 0 5px 20px #cccccc inset;
}
@media only screen and (min-width: 63.75em) {
  .footer-top {
    height: 16.9375em;
  }
}

.footer-bottom {
  color: #55524d;
  background: #fff;
  padding: 1.5em 0;
  text-align: center;
  -moz-box-shadow: 0px 5px 35px #666666 inset;
  -webkit-box-shadow: 0px 5px 35px #666666 inset;
  box-shadow: 0px 5px 35px #666666 inset;
}

.footer {
  margin-top: 1.5em;
}
.footer__header {
  color: #fff;
  margin: 1em 0 0.5em 0;
  text-decoration: underline;
  text-transform: uppercase;
}
@media only screen and (min-width: 48em) {
  .footer__header {
    margin: 2em 0 1em 0;
  }
}
.footer__address {
  color: #fff;
  font-style: normal;
}
.footer__phone a, .footer__phone a:link, .footer__phone a:visited, .footer__phone a:hover {
  color: #fff;
}
.footer__phone a:phone__link, .footer__phone a:link:phone__link, .footer__phone a:visited:phone__link, .footer__phone a:hover:phone__link {
  cursor: default;
}

.site-map {
  text-align: center;
}
@media only screen and (min-width: 48em) {
  .site-map {
    border-right: 1px solid #fff;
    margin: 1em 0 1em 14%;
    text-align: left;
  }
}
.site-map__list {
  margin-right: 13%;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.site-map__list:last-child {
  margin-right: 0;
}
.site-map__link:link, .site-map__link:visited, .site-map__link:hover {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-size: 0.875rem;
}

.connect {
  padding: 0 9%;
  text-align: center;
}

.social-icon__list {
  text-align: center;
}
.social-icon__item {
  max-width: 45px;
  width: 12%;
  margin-right: 1%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.social-icon__item:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 48em) {
  .social-icon__item {
    width: 20%;
    margin-right: 7%;
  }
}
.social-icon__block {
  padding: 0.25em 0.25em 0 0.25em;
}

.contact {
  text-align: center;
}
@media only screen and (min-width: 48em) {
  .contact {
    border-left: 1px solid #fff;
    padding-left: 9%;
    text-align: left;
  }
}

.copyright {
  font-size: 10px;
  font-size: 0.625rem;
}

/* Sitemap */
.sitemap__wrapper {
  background-image: url(/img/bkg/seamless_paper_texture.png);
  background-repeat: repeat;
  padding: 2em 0;
}
@media only screen and (min-width: 48em) {
  .sitemap__wrapper {
    padding-top: 6em;
  }
}
@media only screen and (min-width: 63.75em) {
  .sitemap__wrapper {
    padding-top: 6em;
  }
}

.sitemap__link--homepage {
  display: none;
  font-size: 32px;
  font-size: 2rem;
}

.sitemap ul li ul {
  margin-left: 2%;
}
.sitemap ul li ul li {
  margin-top: 1.5em;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
}
.sitemap ul li ul li a:link, .sitemap ul li ul li a:hover, .sitemap ul li ul li a:visited {
  color: #284a56;
}
.sitemap ul li ul li ul {
  margin-left: 2%;
}
.sitemap ul li ul li ul li {
  margin-top: 0;
  font-size: 16px;
  font-size: 1rem;
  font-family: "Georgia";
}
.sitemap ul li ul li ul li a:link, .sitemap ul li ul li ul li a:hover, .sitemap ul li ul li ul li a:visited {
  color: #473d34;
}
.sitemap ul li ul li ul li ul {
  margin-left: 2%;
}
.sitemap ul li ul li ul li ul li {
  font-size: 12px;
  font-size: 0.75rem;
}

/* Responsive Menu */
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/*!
 *
 *  Copyright (c) David Bushell | http://dbushell.com/
 *
 */
/*@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}
*/
/*@mixin hidden {
    display: none !important;
    visibility: hidden;
}*/
/*@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}*/
/*ul, ol {
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

a {
    text-decoration: none;
}*/
.highlight {
  background: #fff699;
  padding: 0 0.5em;
}

/*.block {
    position: relative;
    margin: 0 auto;
    padding: pem(24) pem(20);
    max-width: pem(960);
}*/
/*.close-btn {
    display: block;
    width: pem(42);
    height: pem(36);
    padding: 0;
    border: 0;
    outline: none;
    background: $background-color url("/img/icons/close-btn.svg") left center no-repeat;
    background-size: pem(30) pem(30);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    //@include opacity(1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .no-svg & {
        background-image: url('/img/icons/close-btn.png');
    }

    &:focus,
    &:hover {
        //@include opacity(1);
    }
}*/
/*.nav-btn {
    display: block;
    
    
    padding: 0;
    border: 0;
    outline: none;
    
    
    //@include opacity(0.7);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .no-svg & {
        background-image: url("../img/nav-icon.png");
    }

    &:hover,
    &:focus {
      //  @include opacity(1);
    }
}*/
#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#inner-wrap {
  position: relative;
  width: 100%;
}

/*#top {
    z-index: 100;
    position: relative;
    color: #fff;
    background: $background-color;

    .block-title {
        margin: 0;
        font-size: pem(30);
        line-height: pem(36, 30);
        text-align: center;
        white-space: nowrap;
    }

    .nav-btn {
        position: absolute;
        top: pem(24);
        left: pem(30);
    }
}*/
/*#main {
    background: #fff;

    .block {
        padding: pem(42) pem(30);
    }
}*/
/*footer[role="contentinfo"] {
    background: #ddd;
}*/
@media screen and (min-width: 1019px) {
  #top .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #nav .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav .block-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav ul {
    text-align: center;
    white-space: nowrap;
  }
  #nav li {
    display: inline-block;
    padding-right: 2px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li:last-child {
    border-right: none;
  }
  #nav li a {
    padding: 0.42857em 0.85714em;
  }
}
@media screen and (max-width: 1020px) {
  #nav {
    position: absolute;
    top: 0;
    padding-top: 5.75em;
  }
  #nav:not(:target) {
    z-index: 1;
  }
  #nav:target .close-btn {
    display: block;
  }
  #nav .close-btn {
    position: absolute;
    top: 0.5em;
    left: 32.5%;
    width: 25%;
    max-width: 65px;
  }
  #nav .block {
    position: relative;
    padding: 0;
  }
  #nav li {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li.is-active:after {
    z-index: 50;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: -0.03125em;
    margin-top: -0.625em;
    border-top: 0.625em transparent solid;
    border-bottom: 0.625em transparent solid;
    border-right: 0.625em white solid;
  }
  #nav li a {
    padding: 0.85714em 2.14286em;
  }

  .js-ready #nav {
    width: 75%;
    background: #284a56;
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }
  .js-ready #nav .block {
    background: transparent;
  }
  .js-ready #nav .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
  .js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  .js-ready #nav {
    left: -75%;
  }
  .js-ready #inner-wrap {
    left: 0;
  }

  .js-nav #inner-wrap {
    left: 75%;
  }

  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0 !important;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -moz-transform: translate3d(75%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(75%, 0, 0) scale3d(1, 1, 1);
    -webkit-transform: translate3d(75%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(75%, 0, 0) scale3d(1, 1, 1);
  }

  .csstransforms3d.csstransitions.js-ready #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    -moz-transform: translate3d(75%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -ms-transform: translate3d(75%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -webkit-transform: translate3d(75%, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform: translate3d(75%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .csstransforms3d.csstransitions.js-nav #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
