* {
  -moz-box-sizing: box-shadow;
  -webkit-box-sizing: box-shadow;
  box-sizing: box-shadow;
}

#showcase {
  background: black url("/img/bkg/seamless_paper_texture.png") repeat;
  -moz-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.6) inset;
}
@media only screen and (min-width: 63.75em) {
  #showcase {
    padding-top: 5em;
  }
}

#showcase .frame {
  width: 100%;
  padding: 3em 0;
}

#showcase .frame ul {
  position: relative !important;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
}

#showcase .frame ul li {
  float: left;
  height: 100%;
  margin-right: 30px;
  -moz-box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.6);
  box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.6);
}

#showcase .frame ul li .mSCover {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#showcase .frame ul li img {
  max-width: none;
}

#showcase .details {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 3em;
  text-align: center;
  color: #666;
  font-size: 16px;
  font-weight: 300;
}
@media only screen and (min-width: 48em) {
  #showcase .details {
    display: block;
  }
}

#showcase .details > div {
  color: #fff;
  display: inline-block;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  max-width: 60%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 25px 7px -18px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 25px 7px -18px rgba(0, 0, 0, 0.3);
  box-shadow: 0 25px 7px -18px rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 48em) {
  #showcase .details > div {
    width: 45%;
  }
}
@media only screen and (min-width: 63.75em) {
  #showcase .details > div {
    width: 35%;
  }
}

#showcase .details #title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}
