.social-mash {
  margin: 0 auto 0 auto;
  width: 96%;
  max-width: 1020px;
}

/* Reset */
.dcsns ul, .dcsns li {
  padding: 0;
  margin: 0;
  list-style: none !important;
  background: none;
}

/* Main styles */
/* Feeds */
.dcsns {
  color: #444;
  list-style: none outside none;
}

.dcsns h1 {
  width: auto;
  position: relative;
}

.dcsns h1, .dcsns h2, .dcsns h3 {
  line-height: 1.35em;
}

.dcsns-content {
  position: relative;
  padding: 0;
}

.dcsns-loading {
  background: url(/img/social-feed/loading_light.gif) no-repeat 0 0;
  height: 24px;
  padding: 6px 0 0 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.dcsns-toolbar .dcsns-loading {
  right: 10px;
  left: auto;
}

.stream p {
  margin: 0;
  padding: 0;
}

.stream li a {
  color: #2DB6E8;
}

.stream li {
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 11px;
  padding: 10px 0 35px 0;
  width: 100%;
  position: relative;
  margin: 0 0 5% 0;
  font-family: Arial, sans-serif;
  line-height: 1.35em;
}
@media only screen and (min-width: 48em) {
  .stream li {
    margin: 0 3% 3% 0;
    width: 30%;
  }
}
@media only screen and (min-width: 63.75em) {
  .stream li {
    margin: 0 2% 2% 0;
    width: 22%;
  }
}

/*.stream li {
	width:42vw;
	margin:0 4vw 4vw 0;
	@media only screen and (min-width:48em){
		margin:0 4vw 4vw 0;
		width:44vw;
	}
	@media only screen and (min-width:63.75em){
		margin:0 2vw 2vw 0;
		width:22.1vw;
	}
}*/
.stream li .inner {
  overflow: hidden;
  padding: 0 15px;
}

.stream li .icon {
  position: absolute;
  left: 3px;
  bottom: 0;
  z-index: 3;
}

.stream li .section-intro {
  padding: 7px 0;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  z-index: 2;
}

.stream li .clear {
  clear: both;
}

/* Content blocks */
.stream li .section-intro a {
  text-decoration: underline;
  color: #fff;
  margin-left: 32px;
}

.stream li .section-title {
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
}

.stream li .section-title a {
  color: #555;
}

.stream li .section-title a:hover {
  color: #2DB6E8;
}

.stream li .section-thumb {
  margin: 0 7px 0 0;
}

.stream li .section-thumb img {
  border: 1px solid #ccc;
  padding: 1px;
  background: #fff;
}

.stream li .section-text {
  display: block;
  margin-bottom: 3px;
}

.stream li .section-text br {
  display: block;
}

.stream li .section-user {
  clear: both;
  display: block;
  font-style: italic;
  margin: 0 8px 5px 0;
  display: block;
  float: left;
  padding: 7px 0 0 15px;
  line-height: 12px;
  background: url(/img/social-feed/profile.png) no-repeat 0 7px;
}

.stream li .meta {
  display: block;
  font-size: 90%;
  color: #999;
}

.stream li .meta span {
  margin: 0 8px 5px 0;
  display: block;
  float: left;
  padding: 0 0 0 15px;
  line-height: 12px;
}

.meta span.shares {
  background: url(/img/social-feed/shares.png) no-repeat 0 0;
  padding-left: 20px;
}

.meta span.views {
  background: url(/img/social-feed/views.png) no-repeat 0 0;
  padding-left: 18px;
}

.meta span.likes {
  background: url(/img/social-feed/likes.png) no-repeat 0 0;
  padding-left: 16px;
}

.meta span.comments {
  background: url(/img/social-feed/comments.png) no-repeat 0 0;
}

.meta span.users {
  background: url(/img/social-feed/users.png) no-repeat 0 0;
}

.meta span.videos {
  background: url(/img/social-feed/videos.png) no-repeat 0 0;
  padding-left: 16px;
}

.stream li .section-meta {
  display: block;
  margin: 0;
  padding: 0;
  clear: both;
}

.stream li .meta.item-comments {
  padding: 0 0 0 35px;
  margin: 0 0 5px 0;
  min-height: 30px;
  position: relative;
  clear: both;
  line-height: 1.3em;
}

.stream li .meta.item-comments img {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
}

.stream li .meta.item-likes {
  padding: 0;
  width: 100%;
  overflow: hidden;
  clear: both;
  line-height: 1.3em;
}

.stream li .meta.item-likes img {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  border: 1px solid #ddd;
  padding: 1px;
  background: #fff;
}

.stream li.dcsns-error {
  color: #990000;
}

.stream li .section-share {
  display: block;
  margin: 0 0 5px 0;
  padding: 4px 0 0;
  float: right;
}

.stream li .section-share a {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 0 2px 0 0;
  background: url(/img/social-feed/share.png) no-repeat 0 0;
}

.stream li .section-share a.share-twitter {
  background-position: 0 -16px;
}

.stream li .section-share a.share-reply {
  background-position: 0 -32px;
}

.stream li .section-share a.share-retweet {
  background-position: 0 -48px;
}

.stream li .section-share a.share-favorite {
  background-position: 0 -64px;
}

.stream li .section-share a.share-google {
  background-position: 0 -80px;
}

.stream li .section-share a.share-linkedin {
  background-position: 0 -96px;
}

.stream li .section-share a.share-facebook:hover {
  background-position: -16px 0;
}

.stream li .section-share a.share-twitter:hover {
  background-position: -16px -16px;
}

.stream li .section-share a.share-reply:hover {
  background-position: -16px -32px;
}

.stream li .section-share a.share-retweet:hover {
  background-position: -16px -48px;
}

.stream li .section-share a.share-favorite:hover {
  background-position: -16px -64px;
}

.stream li .section-share a.share-google:hover {
  background-position: -16px -80px;
}

.stream li .section-share a.share-linkedin:hover {
  background-position: -16px -96px;
}

/* Toolbar */
.dcsns-toolbar {
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Filter */
#wall {
  padding-top: 15px;
}

#wall .dcsns-toolbar {
  margin-bottom: 25px;
}

.dcsns-toolbar .filter {
  padding: 0;
  margin: 0 0 15px 0;
}

.dcsns-toolbar .filter li {
  display: inline;
  background: none;
  padding: 0;
  margin: 0;
}

.dcsns-toolbar .filter .link-all {
  color: #fff;
  height: 21px;
  padding: 7px 7px 4px 7px;
  text-shadow: 0 0 1px #555;
  font-weight: bold;
}

.dcsns-toolbar .filter li a {
  padding: 4px 3px 0 3px;
  margin: 0 1px 1px 0;
  display: block;
  float: left;
  background: #777;
  height: 28px;
}

.dcsns-toolbar .filter li img {
  margin: 0;
  height: 24px;
}

/* Controls */
.dcsns .controls {
  position: absolute;
  right: 0;
  top: 7px;
  height: 22px;
  padding: 0;
  z-index: 12;
}

.dcsns .controls li {
  display: inline;
  background: none;
}

.dcsns .controls a {
  display: block;
  width: 22px;
  height: 22px;
  float: left;
  margin: 0 0 0 2px;
  background: url(/img/social-feed/ontrols.png) no-repeat 0 0;
}

.dcsns .controls .prev {
  background-position: -44px 0;
}

.dcsns .controls .next {
  background-position: -66px 0;
}

.dcsns .controls .play {
  background-position: 0 0;
}

.dcsns .controls .pause {
  background-position: -22px 0;
}

.dcsns .controls .prev:hover {
  background-position: -44px -22px;
}

.dcsns .controls .next:hover {
  background-position: -66px -22px;
}

.dcsns .controls .play:hover {
  background-position: 0 -22px;
}

.dcsns .controls .pause:hover {
  background-position: -22px -22px;
}

/* feeds network specific styles */
.stream li.dcsns-rss .section-intro, .filter .f-rss a:hover {
  background-color: #640306;
}

.stream li.dcsns-flickr .section-intro, .filter .f-flickr a:hover {
  background-color: #640306;
}

.stream li.dcsns-delicious .section-intro, .filter .f-delicious a:hover {
  background-color: #640306;
}

.stream li.dcsns-twitter .section-intro, .filter .f-twitter a:hover {
  background-color: #640306;
}

.stream li.dcsns-facebook .section-intro, .filter .f-facebook a:hover {
  background-color: #640306;
}

.stream li.dcsns-google .section-intro, .filter .f-google a:hover {
  background-color: #640306;
}

.stream li.dcsns-youtube .section-intro, .filter .f-youtube a:hover {
  background-color: #640306;
}

.stream li.dcsns-pinterest .section-intro, .filter .f-pinterest a:hover {
  background-color: #640306;
}

.stream li.dcsns-lastfm .section-intro, .filter .f-lastfm a:hover {
  background-color: #640306;
}

.stream li.dcsns-dribbble .section-intro, .filter .f-dribbble a:hover {
  background-color: #640306;
}

.stream li.dcsns-vimeo .section-intro, .filter .f-vimeo a:hover {
  background-color: #640306;
}

.stream li.dcsns-stumbleupon .section-intro, .filter .f-stumbleupon a:hover {
  background-color: #640306;
}

.stream li.dcsns-deviantart .section-intro, .filter .f-deviantart a:hover {
  background-color: #640306;
}

.stream li.dcsns-tumblr .section-intro, .filter .f-tumblr a:hover {
  background-color: #640306;
}

.stream li.dcsns-instagram .section-intro, .filter .f-instagram a:hover {
  background-color: #640306;
}

/* Facebook */
.stream li.dcsns-facebook .section-thumb img {
  width: 75px;
}

.stream li.dcsns-facebook .section-text img {
  margin: 5px 7px 5px 0;
  float: left;
  border: 1px solid #ddd;
  padding: 1px;
  background: #fff;
}

.stream li.dcsns-facebook .section-text a {
  margin-right: 4px;
}

.stream li.dcsns-facebook .section-intro a {
  margin-left: 25px;
}

.stream li.dcsns-facebook .meta {
  display: block;
  clear: both;
}

.stream li.dcsns-facebook .meta.item-comments {
  padding: 0;
  min-height: auto;
}

.stream li.dcsns-facebook .meta.item-comments a {
  display: block;
  margin: 0 0 2px 0;
}

.stream li.dcsns-facebook .share-facebook {
  display: none;
}

/* twitter */
.stream li.dcsns-twitter .section-thumb {
  margin-top: 3px;
}

.stream li.dcsns-twitter .section-thumb img {
  width: 48px;
  height: 48px;
}

.stream li.dcsns-twitter .section-user {
  padding: 0;
  background: none;
}

.stream li.dcsns-twitter .section-text img {
  margin: 5px 0 0;
  border: 1px solid #ddd;
  padding: 1px;
  background: #fff;
}

.stream li.dcsns-twitter a {
  color: #38AEAE;
}

.stream li.dcsns-twitter .section-intro a, .stream li.dcsns-twitter .section-intro a:hover {
  color: #fff;
}

.stream li.dcsns-twitter .section-intro span a {
  text-decoration: none;
  margin-left: 0;
}

.stream li.dcsns-twitter .section-intro span a:hover {
  text-decoration: underline;
}

.stream li.dcsns-twitter a:hover {
  color: #38AEAE;
  text-decoration: underline;
}

.stream li.dcsns-twitter .twitter-user {
  margin-bottom: 2px;
  display: block;
}

.stream li.dcsns-twitter .twitter-user a {
  color: #999;
  line-height: 1.35em;
}

.stream li.dcsns-twitter .twitter-user a:hover {
  color: #999;
  text-decoration: none;
}

.stream li.dcsns-twitter .twitter-user a strong {
  color: #444;
}

.stream li.dcsns-twitter .twitter-user a:hover strong {
  color: #38AEAE;
  text-decoration: underline;
}

/* google */
.stream li.dcsns-google .section-title {
  margin-bottom: 5px;
}

.stream li.dcsns-google .meta span.plusones {
  padding-left: 0;
}

/* youtube */
/** Removed styling for Flickr, Dribble, lastfm, deviantart, tumblr... can still be found in the source folder on dropbox */
/*isotope */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

@media only screen and (min-width: 48em) {
  .stay-connected {
    padding-top: 5px;
  }
}
@media only screen and (min-width: 63.75em) {
  .stay-connected {
    padding-top: 0;
  }
}
