@font-face {
  font-family: 'winterthurcondenseditalic';
  src: url("fonts/WinterthurCondensedOblique-webfont.eot");
  src: url("fonts/WinterthurCondensedOblique-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/WinterthurCondensedOblique-webfont.woff") format("woff"), url("fonts/WinterthurCondensedOblique-webfont.ttf") format("truetype"), url("fonts/WinterthurCondensedOblique-webfont.svg#winterthurcondenseditalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'winterthurcondensedregular';
  src: url("fonts/WinterthurCondensed-webfont.eot");
  src: url("fonts/WinterthurCondensed-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/WinterthurCondensed-webfont.woff") format("woff"), url("fonts/WinterthurCondensed-webfont.ttf") format("truetype"), url("fonts/WinterthurCondensed-webfont.svg#winterthurcondensedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
