﻿@model HotelWebsite.Models.Packages.PackageListingModel

<section class="packages__section">
    <div class="filter">
        <div class="filter__group" id="filters">
            <button class="filter__button is-checked" data-filter="*">All</button>
            @foreach (var category in Model.Categories)
            {
                <button class="filter__button" data-filter=".@category.Name.Replace(" ", "")">@category.Name</button>
            }
        </div>
    </div>

    <div class="packages">
        @foreach (var item in Model.Packages)
        {
            var cats = item.Categories.Select(x => x.Name.Replace(" ", ""));
            <div class="element-item @String.Join(" ", cats.ToArray())">
            <a href="@(Url.Action("Details", new { Id = item.Id }))" class="element-item__link">
                <figure class="package__figure">
                    <img src="@(item.SmallImageFilename)?width=400&height=400&mode=crop&scale=both" />
                    <figcaption class="package__figcaption">@item.Title</figcaption>
                    <div class="package__date">
                        @{ var displayToDate = Convert.ToDateTime(item.DisplayTo); }
                        <span class="package-price">
                            @if(!item.PriceIsHidden && item.Price != null && item.Price > 0){
                                @:Starting at $@(item.Price)
                            }
                        </span>
                        <!--<span class="package-date">@item.DisplayFrom.ToShortDateString() - @displayToDate.ToShortDateString()</span><br />-->
                    </div>
                </figure>
            </a>
        </div>
        }
    </div><!-- End Packages -->
</section>