﻿@using StringExtensions = HotelWebsite.Helpers.StringExtensions
@model IEnumerable<HotelWebsite.Models.Packages.PackageModel>

@if (Model != null && Model.Any()) {
<section class="fp-image__section">
    <div id="fw-slider" class="mightyslider_paper_skin">
        <div class="frame">
            <div class="slide_element">
                 @foreach (var package in Model)
                 {
                    <div class="slide"
                         data-mightyslider="
                         cover:[
                         ['@package.LargeImageFilename?width=798&amp;height=400&amp;mode=crop'],
                         ['@package.LargeImageFilename?width=1200&amp;height=314&amp;mode=crop', '(min-width:600px)' ],
                         ['@package.LargeImageFilename?width=1700&amp;height=445&amp;mode=crop', '(min-width:1100px)' ]
                         ],
                         name:'<a href=&quot;@Url.Action("details", "Packages", new { id = @package.Id })&quot; class=&quot;btn btn--color1&quot;>View</a>',
                         ID: '@package.Id',
                         caption: '<h2>@Server.HtmlEncode(StringExtensions.CleanChar(package.Title))</h2> <p>@Server.HtmlEncode(StringExtensions.CleanChar(package.Teaser))</p>'
                        ">
                    </div>
                 }
            </div>
            <div class="details">
                <div id="caption2">
                    &nbsp;
                    
                </div>
                <div id="callout-button">

                </div>
            </div>
        </div>
    </div>
</section>
}