﻿@model HotelWebsite.Models.Packages.PackageModel

@{
    ViewBag.Title = "The Heidel House Resort and Spa | Packages | " + Model.Title;
    
    if (!String.IsNullOrEmpty(Model.PageTitle)) {
        ViewBag.Title = Model.PageTitle;   
    }
}

<section class="package-details__section">
    <div class="page-header small-header">
        <figure class="page-header__figure">
            <img class="page-header__image" src="@(Model.LargeImageFilename)?width=2054&height=500&mode=crop" alt="@Model.Title" />
        </figure>
    </div>
    
    <!-- Mobile Utility Navigation-->
    @Html.Partial("_Mobile-Utility-Nav")

    <div class="one-column__content">
       
        @Html.Partial("_Breadcrumbs", new { page = "packages" })
 
        <div class="package-details__copy columns">
            <div class="fancy-intro">
                <div class="title__section">
                    <h1 class="title-line__header">@Model.Title</h1>
                </div>
            </div>
            @if(!Model.PriceIsHidden && Model.Price != null && Model.Price > 0){
                <h2 class="package-details__header--pricing">Starting at @String.Format("{0:C}", Model.Price) @Model.PriceDetails</h2>
            }
            <div class="package-details__description">
                <div class="package-details__shortdescription">
                    <!-- Removed 9/11/2014 Client Request -->
                    <!--<p>@Model.Teaser</p>-->
                </div>
                <div class="long-description c3x6">  
                    @Html.Raw(Model.Description)
                    <br/>
                    @if (!String.IsNullOrWhiteSpace(Model.Restrictions))
                    {
                    <p><strong>Restrictions:</strong><br />@Model.Restrictions</p>
                    }
                    
                </div>
                <div class="booking-section  c3x6">
                    <div class="booking-section__wrapper columns">
                        <div class="booking-section__calendar c3x6">
                            <div id="datepicker2"></div>
                        </div>
                        <div class="">
                            @if (Model.BookingMethod == "BookOnline")
                            {<div class="package-details__buttons c3x6">
                                 <form action="https://res.travlynx.com/BBE/page2.aspx?langID=1&propertyID=2421&smoking=0" method="get" name="resform" id="packageres" class="package-booking">
                                     <input type="hidden" name="HotelID" value="2421" />
                                     <input type="hidden" name="LanguageID" value="1" />
                                     <input type="hidden" name="Rooms" value="1" />
                                     <input type="hidden" name="PackageID" value="@Model.Code" />
                                     <input type="hidden" name="BookingURL" value="@Model.BookingUrl" />
                                     <div class="reservation__field">
                                         <label class="reservation__label">Check In </label>
                                         <input name="checkin" type="text" id="PickupDate2" class="reservation__input reservation__input--date" value="">
                                     </div>
                                     <div class="reservation__field">
                                         <label class="reservation__label">Nights:</label>
                                         <select name="nights" class="reservation__select--nights">
                                             <option value="1" selected="selected">1</option>
                                             <option value="2">2</option>
                                             <option value="3">3</option>
                                             <option value="4">4</option>
                                             <option value="5">5</option>
                                             <option value="6">6</option>
                                             <option value="7">7</option>
                                             <option value="8">8</option>
                                             <option value="9">9</option>
                                             <option value="10">10</option>
                                             <option value="10">11</option>
                                             <option value="10">12</option>
                                             <option value="10">13</option>
                                             <option value="10">14</option>
                                         </select>
                                     </div>
                                     <div class="reservation__field">
                                         <label class="reservation__label">Adults:</label>
                                         <select name="adults" class="reservation__select--adults">
                                             <option value="1">1</option>
                                             <option value="2" selected="selected">2</option>
                                             <option value="3">3</option>
                                             <option value="4">4</option>
                                         </select>
                                     </div>
                                     <div class="reservation__field">
                                         <label class="reservation__label">Children:</label>
                                         <select name="children" class="reservation__select--children">
                                             <option value="0" selected="selected">0</option>
                                             <option value="1">1</option>
                                             <option value="2">2</option>
                                             <option value="3">3</option>
                                             <option value="4">4</option>
                                         </select>
                                     </div>
                                     <input type="submit" class="btn btn--color1 btn--bookpackage btn--desktop" value="Book" onclick="ga('send','event','book-button', '@Model.Title');" />
                                     <a href="https://res.travlynx.com/mobile/MBBEstep1.aspx?pcode=HCHHRC" onclick="ga('send', 'event', 'book-button-mobile', 'click', '@Model.Title');" class="btn btn--color1 btn--bookpackage icon__mobile">Book Now</a>
                                     <a href="@(Url.Action("Index"))" class="btn btn--color2 btn--back">Back</a>
                                 </form>
                                <!--<a href="#" class="btn btn--color1 btn--bookpackage">Book Now</a>-->
                            </div>
                            }
                            else
                            {
                                <div class="booking-phone">
                                    <span class="booking-phone__text">Call to Book:</span> <a href="tel:@Model.BookingPhone" onclick="ga('send', 'event', 'book-button', 'phone', '@Model.Title');" class="booking-phone__link">@(Model.BookingPhone)</a><br /><br />
                                    <a href="@(Url.Action("Index"))" class="btn btn--color2 btn--back">Back</a>
                                </div>
                            }
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Should show only 4 related packages or whatever is related and pull in others to fill out the four-->
        <div class="similar-packages">
            <ul class="similar-packages__list">
                @if (Model.RelatedPackages != null && Model.RelatedPackages.Any())
                {
                    foreach(var item in Model.RelatedPackages) {
                    <li class="similar-packages__item">
                        <a href="@(Url.Action("Details", new { Id = item.Id }))" class="similar-packages__link">
                            <figure class="similar-packages__figure">
                                <img src="http://placehold.it/200x200?text=RelatedPackage" />
                                <figcaption class="package__figcaption">Package Name #1</figcaption>
                            </figure>
                        </a>
                    </li>
                    }
                }
            </ul>
        </div>
    </div> <!-- End One Column Content -->

</section>
@section scripts {
    <script type="text/javascript">
        $(function () {
             @if (Model.BookingMethod == "BookOnline")
             {
                 @:$("#datepicker2").datepicker({altField: "#PickupDate2", minDate: new Date()});
             }
        });
    </script>
   
}