﻿@model HotelWebsite.Models.Packages.PackageListingModel

@{
    ViewBag.Title = "Wisconsin Resort Packages | Heidel House Resort and Spa | Green Lake, WI";
    ViewBag.SeoPageDescription = "Enjoy a lakeside retreat at a welcoming rate. Discover Midwest getaway specials at Wisconsin's most relaxing lake resort, Heidel House Resort and Spa.";
}

    <div class="one-column__content">
        @Html.Partial("_Breadcrumbs", new { page = "packages" })
        <div class="fancy-intro">
            <div class="title__section">
                <h1 class="interior__header">Packages</h1>
            </div>
        </div>

        @Html.Action("Listing", "Packages")

    </div> <!-- End One Column Content -->

    
